{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "browsers": "last 2 Electron versions",
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [["transform-object-rest-spread", { "useBuiltIns": true }]]
}
