<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link rel="icon" href="img/image32.ico" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/alertifyjs/build/css/alertify.min.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
  <style>
  #default-link-threshold {
    visibility: visible !important;
  }
  </style>
</head>
<body>
  <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">3D Network Options</h4>
        </div>
        <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#nodeConfigurations" aria-controls="nodeConfigurations" role="tab" data-toggle="tab">Nodes</a></li>
            <li role="presentation"><a href="#linkConfigurations" aria-controls="profile" role="tab" data-toggle="tab">Links</a></li>
            <li role="presentation"><a href="#networkConfigurations" aria-controls="profile" role="tab" data-toggle="tab">Network</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="nodeConfigurations">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3"><strong>Property</strong></div>
                  <div class="col-xs-9"><strong>Value</strong></div>
                </div>
                <div class="row">
                  <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="What color should the nodes be?">Color</a></div>
                  <div class="col-xs-9"><input type="color" id="default-node-color" class="triggers" value="#5656ff" /></div>
                </div>
                <div class="row">
                  <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="How large should the nodes be?">Size</a></div>
                  <div class="col-xs-9"><input type="range" id="default-node-radius" class="triggers" min=".1" value="4" step=".1" max="20" /></div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Singletons</div>
                  <div class="col-xs-9">
                    <div class="btn-group btn-group-xs" data-toggle="buttons">
                      <label class="btn btn-default active">
                        <input type="radio" name="singletons" id="ShowSingletons" autocomplete="off" checked> Show
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="singletons" id="HideSingletons" autocomplete="off"> Hide
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="linkConfigurations">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3"><strong>Property</strong></div>
                  <div class="col-xs-6"><strong>Value</strong></div>
                </div>
                <div class="row">
                  <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="By what variable would you like to prune links from the network?">Pruning</a></div>
                  <div class="col-xs-3"><select id="linkSortVariable" class="linkVariables triggers"><option value="distance">Distance</option></select></div>
                  <div class="col-xs-6"><input type="number" id="default-link-threshold" class="triggers" value="0.015" step="0.001" /></div>
                </div>
                <div class="row">
                  <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="What color should the links be?">Color</a></div>
                  <div class="col-xs-9"><input type="color" id="default-link-color" class="triggers" value="#5f5f5f" /></div>
                </div>
                <div class="row">
                  <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="How transparent should the links be?">Transparency</a></div>
                  <div class="col-xs-9"><input type="range" id="default-link-opacity" class="triggers" min="0" max="1" value="0.5" step="0.01" /></div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="networkConfigurations">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3"><strong>Property</strong></div>
                  <div class="col-xs-6"><strong>Value</strong></div>
                </div>
                <div class="row">
                  <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="What color would you like the background to be?">Background</a></div>
                  <div class="col-xs-6"><input type="color" id="network-color" class="triggers" value="#ffffff" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div id="main_panel"></div>
  <script>
  const electron = require('electron');
  const Lazy = require('lazy.js');
  const d3 = require('d3');
  const ForceGraph3D = require('3d-force-graph');

  window.jQuery = window.$ = require('jquery');
  require('bootstrap');

  $(function(){

    let graph = ForceGraph3D()($('#main_panel')[0]);

    electron.ipcRenderer.on('deliver-manifest', (e, manifest) => {
      $('title').text(manifest.productName + ' v. ' + manifest.version);
      $('#AppName').html('<a href="#">'+manifest.productName+'</a>');
      $('#AppVersion').html('<a href="#">'+manifest.version+'</a>');
    });
    electron.ipcRenderer.send('get-manifest');

    $('body').prepend(electron.ipcRenderer.sendSync('get-component', 'nav.html'));
    $('body').append(electron.ipcRenderer.sendSync('get-component', 'exportRasterImage.html'));

    electron.ipcRenderer.on('set-data', (e, d) => {
      window.session = {data: d};
      $('.nodeVariables').html(
        ['<option value="none" selected>None</option>'].concat(
          session.data.nodeFields.map(key => '<option value="' + key + '">' + key + '</option>')
        ).join('\n')
      );
      $('.linkVariables').html('<option value="none" selected>None</option>' + session.data.linkFields.map(key => `<option>${key}</option>`).join('\n'));
      $('#linkSortVariable').val('distance');
      drawGraph();
    });

    function drawGraph(){
      let lc = $('#default-link-color').val();
      let pv = $('#linkSortVariable').val();
      let t = $('#default-link-threshold').val();
      let nodeColor = $('#default-node-color').val();
      let links = session.data.links.filter(l => l[pv] < t).map(l => {
        l.source = l.source.id;
        l.target = l.target.id;
        return l;
      });
      graph
        .backgroundColor($('#network-color').val())
        .nodeRelSize($('#default-node-radius').val())
        .colorField(d => nodeColor)
        .lineOpacity($('#default-link-opacity').val())
        .linkColorField(l => lc)
        .graphData({
          nodes: session.data.nodes,
          links: links
        });
    }

    $('#button').click(() => $('#options').modal('show'));

    $('.triggers').change(drawGraph);

    $('[data-toggle="tooltip"]').tooltip();

    $(window).on('resize', drawGraph);

    electron.ipcRenderer.send('get-data');
  });

  </script>
  </body>
</html>
