<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link rel="icon" href="img/image32.ico" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/alertifyjs/build/css/alertify.min.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
  <style>
#main_panel{
  padding: 10px;
}
svg{
  margin: 10px;
}
  </style>
</head>
<body>
  <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Map Options</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div id="main_panel">
    <div class="row">
      <div class="col-xs-6">
        <select id='source_side' class='fields'></select>
      </div>
      <div class="col-xs-6 text-right">
        <select id='target_side' class='fields'></select>
      </div>
    </div>
    <svg></svg>
  </div>
  <script>
  const electron = require('electron');
  const Lazy = require('lazy.js');
  const d3 = require('d3');
  Object.assign(d3, require('d3-sankey'));

  window.jQuery = window.$ = require('jquery');
  require('bootstrap');

  $(function(){

    electron.ipcRenderer.on('deliver-manifest', (e, manifest) => {
      $('title').text(manifest.productName + ' v. ' + manifest.version);
      $('#AppName').html('<a href="#">'+manifest.productName+'</a>');
      $('#AppVersion').html('<a href="#">'+manifest.version+'</a>');
    });
    electron.ipcRenderer.send('get-manifest');

    $('body').prepend(electron.ipcRenderer.sendSync('get-component', 'nav.html'));
    $('body').append(electron.ipcRenderer.sendSync('get-component', 'exportRasterImage.html'));

    electron.ipcRenderer.on('set-data', (e, data) => {
      window.session = {data: data};
      $('#source_side').html(session.data.nodeFields.map((field, i) => `<option${i==1?' selected ':''}>${field}</option>`));
      $('#target_side').html(session.data.nodeFields.map((field, i) => `<option${i==2?' selected ':''}>${field}</option>`));
      drawGraph();
    });

    electron.ipcRenderer.on('update-data', (e, data) => {
      window.session = {data: data};
      drawGraph();
    });

    function drawGraph(){
      var width = $(window).width() - 40,
          height = $(window).height() - 100;

      svg = d3.select('svg').html(null)
          .attr('width', width)
          .attr('height', height);

      var format = d3.format(",.0f"),
          color = d3.scaleOrdinal(d3.schemeCategory10);

      var sankey = d3.sankey()
          .nodeWidth(15)
          .nodePadding(10)
          .extent([[1, 1], [width - 1, height - 6]]);

      var link = svg.append("g")
          .attr("class", "links")
          .attr("fill", "none")
          .attr("stroke", "#000")
          .attr("stroke-opacity", 0.2)
        .selectAll("path");

      var node = svg.append("g")
          .attr("class", "nodes")
          .attr("font-family", "sans-serif")
          .attr("font-size", 10)
        .selectAll("g");

      var onlyUnique = (value, index, self) => self.indexOf(value) === index;

      wrapper = {links: []};
      source_variable = $( '#source_side').val();
      source_values  = session.data.nodes.map(n => n[source_variable]+'').filter(onlyUnique);
      target_variable = $('#target_side').val();
      target_values = session.data.nodes.map(n => n[target_variable]+'').filter(onlyUnique);
      wrapper['nodes'] = source_values.concat(target_values).map(n => ({'name': n}));

      target_list = {};
      target_values.forEach(target => target_list[target] = 0);

      link_matrix = {};
      source_values.forEach(source => link_matrix[source] = Object.assign({}, target_list));

      session.data.nodes.forEach(n => link_matrix[n[source_variable]][n[target_variable]]++);

      source_values.forEach((source, i) => {
        target_values.forEach((target, j) => {
          if(link_matrix[source][target] > 0){
            wrapper.links.push({
              'source': i,
              'target': source_values.length + j,
              'value':  link_matrix[source][target]
            });
          }
        });
      });

      sankey(wrapper);

      link = link
        .data(wrapper.links)
        .enter().append("path")
          .attr("d", d3.sankeyLinkHorizontal())
          .attr("stroke-width", d => Math.max(1, d.width));

      link.append("title")
          .text(d => d.source.name + " → " + d.target.name + "\n" + format(d.value));

      node = node
        .data(wrapper.nodes)
        .enter().append("g");

      node.append("text")
          .attr("x", d => d.x0 - 6)
          .attr("y", d => (d.y1 + d.y0) / 2)
          .attr("dy", "0.35em")
          .attr("text-anchor", "end")
          .text(d => d.name)
        .filter(d => d.x0 < width / 2)
          .attr("x", d => d.x1 + 6)
          .attr("text-anchor", "start");

      node.append("rect")
          .attr("x", d => d.x0)
          .attr("y", d => d.y0)
          .attr("height", d => Math.abs(d.y1 - d.y0))
          .attr("width", d => d.x1 - d.x0)
          .attr("fill", d => color((d.name+'').replace(/ .*/, "")))
          .attr("stroke", "#000");

      node.append("title").text(d => d.name + "\n" + format(d.value));
    }

    $('.fields').change(drawGraph);

    $('#button').click(() => $('#options').modal('show'));

    $(window).on('resize', drawGraph);

    electron.ipcRenderer.send('get-data');
  });

  </script>
  </body>
</html>
