<svg id="network"></svg>

<table id="groupKey"></table>

<span id="tooltip"></span>

<ul id="contextmenu" class="dropdown-menu">
  <li><a href="#" id="viewAttributes">View Attributes</a></li>
  <li><a href="#" id="copyID">Copy ID</a></li>
  <li class="showForSequence"><a href="#" id="copySeq">Copy Sequence</a></li>
  <li><a href="#" id="pinNode">Pin Node</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="#" id="isolateCluster">Isolate Cluster</a></li>
  <li><a href="#" id="hideCluster">Hide Cluster</a></li>
</ul>

<div id="attributeModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"><h4 class="modal-title">Node Attributes</h4></div>
      <div class="modal-body" style="overflow: auto">
        <table class="table table-striped">
          <tbody></tbody>
        </table>
      </div>
      <div class="panel-footer clearfix">
        <button type="submit" class="btn btn-primary pull-right" data-dismiss="modal" title="">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="playtools">
  <div class="btn-group" role="group">
    <button id="playbutton" type="button" class="btn btn-default">
      <i class="fas fa-pause" aria-hidden="true"></i>
    </button>
  </div>
</div>

<table id="networkStatistics">
  <tbody>
    <tr>
      <td class="text-right">
        <span id="numberOfNodes"></span>
        (<span id="numberOfSelectedNodes"></span>)
      </td>
      <td>Nodes (Selected)</td>
    </tr>
    <tr>
      <td id="numberOfVisibleLinks" class="text-right"></td>
      <td>Links</td>
    </tr>
    <tr>
      <td id="numberOfDisjointComponents" class="text-right"></td>
      <td>Clusters</td>
    </tr>
    <tr id="singletonsRow">
      <td id="numberOfSingletonNodes" class="text-right"></td>
      <td>Singletons</td>
    </tr>
  </tbody>
</table>
