  <script src="node_modules/d3-force-3d/build/d3-force-3d.min.js"></script>

  <div id="3d-network"></div>

  <div class="view_controls">
    <button type="button" id="toggle_3d_network_settings" class="btn btn-light btn-sm">
      <span class="oi oi-cog"></span>
    </button>
    <button type="button" class="btn btn-light btn-sm"  data-toggle="modal" data-target="#export_3d_modal" title="Export Network">
      <span class="oi oi-data-transfer-download"></span>
    </button>
  </div>

  <div id="3d_network_settings_pane" class="left_pane">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="nav-item">
        <a href="#threeDNodeConfigurations" class="nav-link active" aria-controls="profile" role="tab" data-toggle="tab">Nodes</a>
      </li>
      <li role="presentation" class="nav-item">
        <a href="#threeDLinkConfigurations" class="nav-link" aria-controls="profile" role="tab" data-toggle="tab">Links</a>
      </li>
      <li role="presentation" class="nav-item">
        <a href="#threeDNetworkConfigurations" class="nav-link" aria-controls="profile" role="tab" data-toggle="tab">Network</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="threeDNodeConfigurations" class="tab-pane fade show active" role="tabpanel">
        <div class="form-group row">
          <div class="col-4"><a href="#" data-toggle="tooltip" title="What do you want to see when you hover over a node?">Tooltip</a></div>
          <div class="col-8">
            <select id="3d_network_default-node-tooltip" class="custom-select custom-select-sm nodeVariables"></select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4"><a href="#" data-toggle="tooltip" title="Color Nodes according to which variable?">Color By</a></div>
          <div class="col-8"><select id="3d_network_node-color-variable" class="custom-select custom-select-sm nodeVariables"></select></div>
        </div>
        <div class="form-group row">
          <div class="col-4"><a href="#" data-toggle="tooltip" title="What color should the nodes be?">Color</a></div>
          <div class="col-8"><input type="color" id="3d_network_default-node-color" class="custom-select custom-select-sm" value="#5656ff" /></div>
        </div>
        <div class="form-group row">
          <div class="col-4"><a href="#" data-toggle="tooltip" title="Size nodes in proportion to which variable?">Size By</a></div>
          <div class="col-8"><select id="3d_network_node-radius-variable" class="custom-select custom-select-sm nodeVariables"></select></div>
        </div>
        <div class="form-group row">
          <div class="col-4"><a href="#" data-toggle="tooltip" title="How large should the nodes be?">Size</a></div>
          <div class="col-8"><input type="range" id="3d_network_default-node-radius" min=".1" value="4" step=".1" max="20" /></div>
        </div>
      </div>
      <div id="threeDLinkConfigurations" class="tab-pane fade" role="tabpanel">
        <div class="form-group row">
          <div class="col-4"><a href="#" data-toggle="tooltip" title="Color Links according to which variable?">Color By</a></div>
          <div class="col-8"><select id="3d_network_link-color-variable" class="custom-select custom-select-sm linkVariables"></select></div>
        </div>
        <div class="form-group row">
          <div class="col-4"><a href="#" data-toggle="tooltip" title="What color should the links be?">Color</a></div>
          <div class="col-8"><input type="color" id="3d_network_default-link-color" class="custom-select custom-select-sm" value="#5f5f5f" /></div>
        </div>
        <div class="form-group row">
          <div class="col-4"><a href="#" data-toggle="tooltip" title="How transparent should the links be?">Transparency</a></div>
          <div class="col-8"><input type="range" id="3d_network_default-link-opacity" min="0" max="1" value="0.5" step="0.01" /></div>
        </div>
      </div>
      <div id="threeDNetworkConfigurations" class="tab-pane fade" role="tabpanel">
        <div class="form-group row">
          <div class="col-4"><a href="#" data-toggle="tooltip" title="What color would you like the background to be?">Background</a></div>
          <div class="col-8"><input type="color" id="3d_network-color" class="custom-select custom-select-sm" value="#ffffff" /></div>
        </div>
      </div>
    </div>
  </div>

  <div id="export_3d_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Export Network Image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-9">
              <input type="text" id="export-3d-file-name" class="form-control form-control-sm" placeholder="Filename" />
            </div>
            <div class="col-3">
              <select id="export-img-file-type" class="form-control form-control-sm">
                <option selected>png</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
          <button type="button" id="3d_network_export" class="btn btn-primary" data-dismiss="modal">Export</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script src="vendor/3d-force-graph.min.js"></script>
  <script>
  var graph;
  (function(){
    graph = ForceGraph3D()($('#3d-network')[0]);

    function updateTooltip(){
      var nodeTooltip = $('#3d_network_default-node-tooltip').val();
      if(nodeTooltip === 'None'){
        graph.nodeLabel('');
      } else {
        graph.nodeLabel(d => '<span style="color:#333333;background:#f5f5f5;border:1px solid #cccccc;border-radius:.25rem;padding:.25rem;">'+d[nodeTooltip]+'</span>') //This is more like a tooltip
      }
    }

    function updateNodeColors(){
      var nodeColorBy = $('#3d_network_node-color-variable').val();
      if(nodeColorBy === 'None'){
        var nodeColor = $('#3d_network_default-node-color').val();
        graph.nodeColor(d => nodeColor);
      } else {
        graph.nodeAutoColorBy(nodeColorBy);
      }
      graph.nodeOpacity(1);
    }

    function updateNodeSizes(){
      var nodeSizeBy = $('#3d_network_node-radius-variable').val();
      if(nodeSizeBy !== 'None') graph.nodeVal(nodeSizeBy);
      graph.nodeRelSize($('#3d_network_default-node-radius').val());
    }

    function updateLinkColors(){
      var linkColorBy = $('#3d_network_link-color-variable').val();
      if(linkColorBy === 'None'){
        var linkColor = $('#3d_network_default-link-color').val();
        graph.linkColor(d => linkColor);
      } else {
        graph.linkAutoColorBy(linkColorBy);
      }
    }

    function updateLinkOpacity(){
      graph.lineOpacity(1-$('#3d_network_default-link-opacity').val());
    }

    function updateLinkWidth(){
      graph.linkWidth(4);
    }

    function updateBackground(){
      graph.backgroundColor($('#3d_network-color').val());
    }

    function updateData(){
      var links = UltraDeepClone(session.data.links.filter(l => l.visible));
      var nodes = UltraDeepClone(session.data.nodes.filter(d => d.visible));
      nodes.forEach(d => {
        delete d.x;
        delete d.y;
        delete d.fx;
        delete d.fy;
        delete d.vx;
        delete d.vy;
      });
      graph.graphData({
        nodes: nodes,
        links: links
      });
    }

    $('#toggle_3d_network_settings').click(function(){
      var pane = $('#3d_network_settings_pane');
      if(pane.is(':visible')){
        pane.animate({left: '-400px'}, function(){ pane.hide(); });
      } else {
        pane.show(0, function(){ pane.animate({left: '0px'}); });
      }
    });

    var a, downloads = 0;
    function download(){
      if(downloads){
        cancelAnimationFrame(a);
      } else {
        $('#3d-network canvas')[0].toBlob(function(blob){
          saveAs(blob, $('#export-3d-file-name').val()+'.png');
        });
      }
    }
    $('#3d_network_export').click(function(){
      downloads = 0;
      a = requestAnimationFrame(download);
    });

    $('#3d_network_default-node-tooltip').change(updateTooltip);
    $('#3d_network_node-color-variable, #3d_network_default-node-color').change(updateNodeColors);
    $('#3d_network_node-radius-variable, #3d_network_default-node-radius').change(updateNodeSizes);
    $('#3d_network_default-link-color').change(updateLinkColors);
    $('#3d_network_link-color-variable').on('update', updateLinkColors);
    $('#3d_network_default-link-opacity').change(updateLinkOpacity);
    $('#3d_network-color').change(updateBackground);
    $('#linkSortVariable, #default-link-threshold').change(updateData);

    $('#3d_network_default-node-tooltip').val('id');
    updateTooltip();
    updateNodeColors();
    updateNodeSizes();
    updateLinkColors();
    updateLinkOpacity();
    updateLinkWidth();
    updateBackground();
    updateData();
  })();
  </script>
