<div id="3DNet"></div>

<div class="view-controls">
  <button type="button" id="toggle-3DNet-settings" class="btn btn-light btn-sm" data-toggle="button" title="Toggle 3D Network Settings">
    <span class="oi oi-cog"></span>
  </button>
  <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#export_3d-modal" title="Export 3D Network">
    <span class="oi oi-data-transfer-download"></span>
  </button>
  <button type="button" id="reload-3DNet" class="btn btn-light btn-sm" title="Refresh Network">
    <span class="oi oi-reload"></span>
  </button>
</div>

<div id="3DNet-settings-pane" class="left-pane">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item">
      <a href="#threeDNodeConfigurations" class="nav-link active" aria-controls="profile" role="tab" data-toggle="tab">Nodes</a>
    </li>
    <li role="presentation" class="nav-item">
      <a href="#threeDLinkConfigurations" class="nav-link" aria-controls="profile" role="tab" data-toggle="tab">Links</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="threeDNodeConfigurations" class="tab-pane fade show active" role="tabpanel">
      <div class="form-group row" title="What do you want to see when you hover over a node?">
        <div class="col-4">
          <label for="3DNet-node-tooltip-variable">Tooltip</label>
        </div>
        <div class="col-8">
          <select id="3DNet-node-tooltip-variable" class="form-control form-control-sm nodeVariables"></select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-4" title="Launch Global Color Options">Color</div>
        <div class="col-8">
          <button class="btn btn-sm btn-light w-100 launch-color-options">
            Color Options
          </button>
        </div>
      </div>
      <div class="form-group row" title="Size nodes in proportion to which variable?">
        <div class="col-4">
          <label for="3DNet-node-radius-variable">Size By</label>
        </div>
        <div class="col-8">
          <select id="3DNet-node-radius-variable" class="form-control form-control-sm nodeVariables"></select>
        </div>
      </div>
      <div class="form-group row" title="How large should the nodes be?">
        <div class="col-4"><label for="3DNet-node-radius">Size</label></div>
        <div class="col-8">
          <input type="range" class="custom-range" id="3DNet-node-radius" min=".1" value="4" step=".1" max="20">
        </div>
      </div>
    </div>
    <div id="threeDLinkConfigurations" class="tab-pane fade" role="tabpanel">
      <div class="form-group row" title="What do you want to see when you hover over a node?">
        <div class="col-4">
          <label for="3DNet-link-tooltip-variable">Tooltip</label>
        </div>
        <div class="col-8">
          <select id="3DNet-link-tooltip-variable" class="form-control form-control-sm linkVariables"></select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-4" title="Launch Global Color Options">Color</div>
        <div class="col-8">
          <button class="btn btn-sm btn-light w-100 launch-color-options">
            Color Options
          </button>
        </div>
      </div>
      <div class="form-group row" title="How transparent should the links be?">
        <div class="col-4">
          <label for="3DNet-link-transparency">Transparency</label>
        </div>
        <div class="col-8">
          <input type="range" class="custom-range" id="3DNet-link-transparency" min="0" max="1" value="0" step="0.01">
        </div>
      </div>
      <div class="form-group row" title="How wide should the links be?">
        <div class="col-4"><label for="3DNet-link-width">Width</label></div>
        <div class="col-8">
          <input type="range" class="custom-range" id="3DNet-link-width" min=".1" value="1.6" step=".1" max="20">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="export_3d-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Export Network Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-9">
            <input type="text" id="export-3d-file-name" class="form-control form-control-sm" placeholder="Filename">
          </div>
          <div class="col-3">
            <select id="export-img-file-type" class="form-control form-control-sm">
              <option selected>png</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-error" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" id="3DNet-export" class="btn btn-primary" data-dismiss="modal">
          Export
        </button>
      </div>
    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<script>
  (function () {
    let links = [];
    let nodes = [];

    let graph = ForceGraph3D()($("#3DNet").get(0));

    function updateNodeTooltip() {
      let nodeTooltip = session.style.widgets["3DNet-node-tooltip-variable"];
      if (nodeTooltip == "None" || nodeTooltip == null) {
        graph.nodeLabel("");
      } else {
        graph.nodeLabel(d => `<span class="three-dee-node-tooltip">${d[nodeTooltip]}</span>`);
      }
    }

    function updateNodeColors() {
      let nodeColorBy = session.style.widgets["node-color-variable"];
      if (nodeColorBy == "None") {
        let nodeColor = session.style.widgets["node-color"];
        graph.nodeColor(d =>
          d.selected ? session.style.widgets["selected-color"] : nodeColor
        );
      } else {
        graph.nodeColor(d =>
          d.selected
            ? session.style.widgets["selected-color"]
            : temp.style.nodeColorMap(d[nodeColorBy])
        );
      }
      graph.nodeOpacity(1);
    }

    function updateNodeSizes() {
      let nodeSizeBy = session.style.widgets["3DNet-node-radius-variable"];
      if (nodeSizeBy !== "None") graph.nodeVal(nodeSizeBy);
      graph.nodeRelSize(session.style.widgets["3DNet-node-radius"]);
    }

    function updateLinkTooltip() {
      let linkTooltip = session.style.widgets["3DNet-link-tooltip-variable"];
      if (linkTooltip == "None") {
        graph.linkLabel("");
      } else {
        graph.linkLabel(d => `<span style="color:#333333;background:#f5f5f5;border:1px solid #cccccc;border-radius:.25rem;padding:.25rem;">${d[linkTooltip]}</span>`);
      }
    }

    function updateLinkColors() {
      let linkColorBy = session.style.widgets["link-color-variable"];
      if (linkColorBy == "None") {
        let linkColor = session.style.widgets["link-color"];
        graph.linkColor(l => linkColor);
      } else {
        graph.linkColor(l => temp.style.linkColorMap(l[linkColorBy]));
      }
    }

    function updateLinkOpacity() {
      graph.linkOpacity(1 - session.style.widgets["3DNet-link-transparency"]);
    }

    function updateLinkWidth() {
      graph.linkWidth(session.style.widgets["3DNet-link-width"]);
    }

    function updateBackground() {
      graph.backgroundColor(session.style.widgets["background-color"]);
    }

    function updateData() {
      if(!$('#3DNet').length) return;
      let newNodes = MT.getVisibleNodes(true);
      newNodes.forEach(d => {
        let match = nodes.find(d2 => d._id == d2._id || d.id == d2.id);
        if (match) {
          d.x = match.x;
          d.y = match.y;
          d.z = match.z;
          d.vx = match.vx;
          d.vy = match.vy;
          d.vz = match.vz;
        }
        d.id = d._id;
      });
      nodes = newNodes;
      links = MT.getVisibleLinks(true);
      graph.graphData({
        nodes: nodes,
        links: links
      });
    }

    function updateGraph() {
      updateData();
      updateBackground();
      updateNodeSizes();
      updateNodeColors();
      updateNodeTooltip();
      updateLinkWidth();
      updateLinkColors();
      updateLinkOpacity();
      updateLinkTooltip();
    }

    // graph.onNodeClick(function(node){
    //   let model = session.data.nodes.find(d => node.id = d.id);
    //   if(!model) return;
    //   model.selected = !model.selected;
    //   $window.trigger('node-selected');
    // });

    $("#toggle-3DNet-settings").on("click", function () {
      let pane = $("#3DNet-settings-pane");
      if ($(this).hasClass('active')) {
        pane.animate({ left: "-400px" }, function () {
          pane.hide();
        });
      } else {
        pane.show(0, function () {
          pane.animate({ left: "0px" });
        });
      }
    });

    let a,
      downloads = 0;
    function download() {
      if (downloads) {
        cancelAnimationFrame(a);
      } else {
        $("#3DNet canvas")[0].toBlob(function (blob) {
          saveAs(blob, $("#export-3d-file-name").val() + ".png");
        });
      }
    }
    $("#3DNet-export").on("click", function () {
      downloads = 0;
      a = requestAnimationFrame(download);
    });

    function clearCoords() {
      nodes.forEach(d => {
        delete d.x;
        delete d.y;
        delete d.z;
      });
      updateGraph();
    }

    $("#reload-3DNet").on("click", clearCoords);

    $("#3DNet-node-tooltip-variable").on("change", function (e) {
      session.style.widgets["3DNet-node-tooltip-variable"] = e.target.value;
      updateNodeTooltip();
    });

    $("#3DNet-node-radius-variable").on("change", function (e) {
      session.style.widgets["3DNet-node-radius-variable"] = e.target.value;
      updateNodeSizes();
    });

    $("#3DNet-node-radius").on("change", function (e) {
      session.style.widgets["3DNet-node-radius"] = parseFloat(e.target.value);
      updateNodeSizes();
    });

    $("#3DNet-link-tooltip-variable").on("change", function (e) {
      session.style.widgets["3DNet-link-tooltip-variable"] = e.target.value;
      updateLinkTooltip();
    });

    $("#3DNet-link-transparency").on("change", function (e) {
      session.style.widgets["3DNet-link-transparency"] = parseFloat(
        e.target.value
      );
      updateLinkOpacity();
    });

    $("#3DNet-link-width").on("change", function (e) {
      session.style.widgets["3DNet-link-width"] = parseFloat(e.target.value);
      updateLinkWidth();
    });

    $window
      .on("link-visibility node-visibility", updateData)
      .on("node-color-change selected-color-change", updateNodeColors)
      .on("link-color-change", updateLinkColors)
      .on("background-color-change", updateBackground)
      .on("node-selected", function () {
        updateData();
        updateNodeColors();
      });

    // layout.on('stateChanged', function(){
    //   graph.d3Force('center', [0,0,0]);
    //   setTimeout(clearCoords, 200);
    // });

    setTimeout(updateGraph, 100);
  })();
</script>
