  <svg id="bubble-view">
    <text id="xAxisLabel" y="20"></text>
    <text id="yAxisLabel" x="20" transform="rotate(90)"></text>
  </svg>

  <div class="view_controls">
    <button type="button" id="toggle_bubbles_settings" class="btn btn-light btn-sm">
      <span class="oi oi-cog"></span>
    </button>
  </div>

  <div id="bubbles_settings_pane" class="left_pane">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item active">
        <a href="#bubbles-diagramConfigurations" id="bubbles-diagram-tab" class="nav-link active" aria-controls="bubbles-diagram" role="tab" data-toggle="tab">Bubble Diagram</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="bubbles-diagramConfigurations" role="tabpanel" aria-labelledby="bubbles-diagram-tab">
        <div class="form-group row">
          <div class="col-3">X</div>
          <div class="col-9">
            <select id="bubbles_X" class="custom-select custom-select-sm nodeVariables"></select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Y</div>
          <div class="col-9">
            <select id="bubbles_Y" class="custom-select custom-select-sm nodeVariables"></select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Color</div>
          <div class="col-9"><button class="btn btn-sm btn-secondary w-100 launch-color-options">Color Options</button></div>
        </div>
      </div>
    </div>
  </div>

  <script>
(function(){
  let width, height, center, forceStrength, simulation, data,
    svg = d3.select('#bubble-view');

  function reset(){
    if(!$('#bubble-view').length) return;
    width = $('#bubble-view').parent().width();
    height = $('#bubble-view').parent().height();
    center = { x: width / 2, y: height / 2 };

    svg.attr('width', width).attr('height', height);

    svg
      .select('#xAxisLabel').attr('x', center.x);
    svg
      .select('#yAxisLabel').attr('y', center.y)
      .attr('transform', 'rotate(270, 10,' + (center.y-10) + ')');

    data = app.getVisibleNodes(true);

    let bubbles = svg.selectAll('circle').data(data);
    bubbles.exit().remove();
    bubbles.enter().append('circle')
        .attr('r', 5)
        .attr('stroke', '#ffffff')
        .attr('stroke-width', 1);

    updateNodeColors();

    forceStrength = 0.03;

    simulation = d3.forceSimulation().nodes(data)
      .velocityDecay(0.2)
      .force('x', d3.forceX().strength(forceStrength).x(center.x))
      .force('y', d3.forceY().strength(forceStrength).y(center.y))
      .force('charge', d3.forceManyBody().strength(function(d){ return -50 * forceStrength }))
      .on('tick', function(){
        svg.selectAll('circle')
          .attr('cx', function(d){return d.x})
          .attr('cy', function(d){return d.y});
      });

    groupBubblesX($('#bubbles_X').val());
    groupBubblesY($('#bubbles_Y').val());
  }

  $('#bubbles_X').on('change', function(e){
    groupBubblesX(e.target.value);
  });

  function groupBubblesX(field){
    if(field === 'None'){
      svg.select('#xAxisLabel').text('');
      svg.selectAll('.xtitle').remove();
      simulation.force('x', d3.forceX().strength(forceStrength).x(center.x));
      simulation.alpha(1).restart();
      return;
    }
    svg.select('#xAxisLabel').text(app.titleize(field));
    let values = [];
    data.forEach(function(d){
      if(values.indexOf(d[field]) == -1) values.push(d[field]);
    });
    if(_.isNumber(values[0])){
      values.sort((a, b) => a - b);
    } else {
      values.sort();
    }
    let ratio = width/(values.length + 1);
    let titles = svg.selectAll('.xtitle').data(values);
    titles.exit().remove();
    titles.enter().append('text')
      .attr('class', 'xtitle')
      .attr('y', 50)
      .attr('text-anchor', 'middle')
      .merge(titles)
      .transition()
      .text(function(d){ return d })
      .attr('x', function(d){ return ratio * values.indexOf(d) + ratio });
    simulation.force('x', d3.forceX().strength(forceStrength).x(function(d){
      return ratio * values.indexOf(d[field]) + ratio;
    }));
    simulation.alpha(1).restart();
  }

  $('#bubbles_Y').on('change', function(e){
    groupBubblesY(e.target.value);
  });

  function groupBubblesY(field){
    if(field === 'None'){
      svg.select('#yAxisLabel').text('');
      svg.selectAll('.ytitle').remove();
      simulation.force('y', d3.forceY().strength(forceStrength).y(center.y));
      simulation.alpha(1).restart();
      return;
    }
    svg.select('#yAxisLabel').text(app.titleize(field));
    let values = [];
    data.forEach(function(d){
      if(values.indexOf(d[field]) == -1) values.push(d[field]);
    });
    if(_.isNumber(values[0])){
      values.sort((a, b) => b - a);
    } else {
      values.sort();
    }
    let ratio = height/(values.length + 1);
    let titles = svg.selectAll('.ytitle').data(values);
    titles.exit().remove();
    titles.enter().append('text')
      .attr('class', 'ytitle')
      .attr('x', 50)
      .merge(titles)
      .transition()
      .text(function(d){ return d })
      .attr('y', function(d){ return ratio * values.indexOf(d) + ratio })
      .attr('transform', function(d){ return 'rotate(270, 50,' + (ratio * values.indexOf(d) + ratio) + ')' });
    simulation.force('y', d3.forceY().strength(forceStrength).y(function(d){
      return ratio * values.indexOf(d[field]) + ratio;
    }));
    simulation.alpha(1).restart();
  }

  function updateNodeColors(){
    let field = $('#nodeColorVariable').val();
    let bubbles = svg.selectAll('circle').data(data);
    if(field === 'None'){
      let color = $('#default-node-color').val();
      bubbles.transition().attr('fill', color);
    } else {
      bubbles.transition().attr('fill', d => session.style.nodeColorMap(d[field]));
    }
  }

  $('#default-node-color').on('update', function(e){
    svg.selectAll('circle').attr('fill', e.target.value);
  });

  $('.nodeColorVariables').on('change', updateNodeColors);
  $('#nodeColorVariable').on('change', function(){
    $('.nodeColorVariables').on('change', updateNodeColors);
    updateNodeColors();
  });

  $('#toggle_bubbles_settings').click(function(){
    let pane = $('#bubbles_settings_pane');
    if(pane.is(':visible')){
      pane.animate({left: '-400px'}, function(){ pane.hide(); });
    } else {
      pane.show(0, function(){ pane.animate({left: '0px'}); });
    }
  });

  $(window).on('updateThreshold', reset);
  $(window).on('node_visibility', reset);
  layout.on('stateChanged', reset);
})();
</script>
</body>
</html>
