<svg id="bubbles">
  <text id="bubble-xAxisLabel" y="20"></text>
  <text id="bubble-yAxisLabel" x="20" transform="rotate(90)"></text>
</svg>

<div class="view-controls">
  <button type="button" id="bubble-toggle-settings" class="btn btn-light btn-sm" data-toggle="button" title="Toggle Bubble Settings">
    <span class="oi oi-cog"></span>
  </button>
  <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#bubbles-export-modal" title="Export Bubbles">
    <span class="oi oi-data-transfer-download"></span>
  </button>
</div>

<div id="bubble-settings-pane" class="left-pane">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a href="#bubble-node-configurations" id="bubble-nodes-tab" class="nav-link active" aria-controls="bubble-node-configurations" role="tab" data-toggle="tab">Nodes</a>
    </li>
    <li class="nav-item">
      <a href="#bubble-physics-configurations" id="bubble-physics-tab" class="nav-link" aria-controls="bubble-physics-configurations" role="tab" data-toggle="tab">Physics</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="bubble-node-configurations" role="tabpanel" aria-labelledby="bubble-nodes-tab">
      <div class="form-group row" title="How big should the bubbles be?">
        <div class="col-3"><label for="bubble-size">Size</label></div>
        <div class="col-9"><input type="range" id="bubble-size" class="custom-range" min="1" value="5" max="15" step="0.1"></div>
      </div>
      <div class="form-group row">
        <div class="col-3">Color</div>
        <div class="col-9"><button class="btn btn-sm btn-light w-100 launch-color-options">Color Options</button></div>
      </div>
    </div>
    <div class="tab-pane fade" id="bubble-physics-configurations" role="tabpanel" aria-labelledby="bubble-physics-tab">
      <div class="form-group row" title="What variable should be used for the Bubbles' X axis?">
        <div class="col-3"><label for="bubble-x">X</label></div>
        <div class="col-9"><select id="bubble-x" class="form-control form-control-sm nodeVariables"></select></div>
      </div>
      <div class="form-group row" title="What variable should be used for the Bubbles' Y axis?">
        <div class="col-3"><label for="bubble-y">Y</label></div>
        <div class="col-9"><select id="bubble-y" class="form-control form-control-sm nodeVariables"></select></div>
      </div>
      <div class="form-group row" title="How much should the bubbles repulse each other?">
        <div class="col-3"><label for="bubble-charge">Charge</label></div>
        <div class="col-9"><input type="range" id="bubble-charge" class="custom-range" min="0" value="1.5" max="10" step="0.1"></div>
      </div>
    </div>
  </div>
</div>

<div id="bubbles-export-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Export Bubbles Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-9">
            <input type="text" id="bubbles-export-filename" class="form-control form-control-sm" placeholder="Filename">
          </div>
          <div class="col-3">
            <select id="bubbles-export-filetype" class="form-control form-control-sm">
              <option selected>png</option>
              <option>jpeg</option>
              <option>webp</option>
              <option>svg</option>
            </select>
          </div>
        </div>
        <div class="form-group row mb-0">
          <div class="col-3 offset-9">
            <button id="bubbles-export-advanced-button" class="btn btn-primary btn-sm w-100" type="button" data-toggle="collapse" data-target="#bubbles-export-advanced" aria-expanded="false" aria-controls="bubbles-export-advanced">Advanced</button>
          </div>
        </div>
        <div class="collapse" id="bubbles-export-advanced">
          <div class="card card-body">
            <div class="form-group row">
              <div class="col-3">
                <label for="bubbles-export-scale">Scale</label>
              </div>
              <div class="col-9">
                <input type="number" id="bubbles-export-scale" class="form-control form-control-sm" min="0" step="0.1" value="1">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">Resolution</div>
              <div id="bubbles-export-dimensions" class="col-9 text-right"></div>
            </div>
            <div class="row">
              <div class="col-3">
                <label for="bubbles-export-quality">Quality</label>
              </div>
              <div class="col-9">
                <input type="range" class="custom-range" id="bubbles-export-quality" min="0" max="1.0" value="0.92" step="0.01">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
        <button type="button" id="bubbles-export" class="btn btn-primary" data-dismiss="modal">Export</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  (function () {
    let width, height, center, simulation, vnodes,
      svg = d3.select('#bubbles');

    function updateVNodes() {
      let newnodes = MT.getVisibleNodes(true);
      if (!vnodes) vnodes = newnodes;
      newnodes.forEach(newNode => {
        let old = vnodes.find(oldNode => oldNode.id == newNode.id);
        if (old) {
          newNode.x = old.x;
          newNode.y = old.y;
        } else {
          newNode.x = center.x;
          newNode.y = center.y;
        };
      });
      vnodes = newnodes;
    }

    function reset() {
      let bv = $('#bubbles');
      if (!bv.length) return;
      bv.css('background-color', session.style.widgets['background-color']);
      width = bv.parent().width();
      height = bv.parent().height();
      center = { x: width / 2, y: height / 2 };

      svg.attr('width', width).attr('height', height);

      svg
        .select('#bubble-xAxisLabel').attr('x', center.x);
      svg
        .select('#bubble-yAxisLabel').attr('y', center.y)
        .attr('transform', 'rotate(270, 10,' + (center.y - 10) + ')');

      updateVNodes();

      let radius = $('#bubble-size').val();
      let bubble = svg.selectAll('circle').data(vnodes);
      bubble.exit().remove();
      bubble.enter().append('circle')
        .attr('r', radius)
        .attr('stroke', '#ffffff')
        .attr('stroke-width', 2)
        .on('click', function (d) {
          let c = session.data.nodes.find(node => d.id == node.id);
          c.selected = !c.selected;
          $window.trigger('node-selected');
        });

      updateNodeColors();

      var charge = -session.style.widgets['bubble-charge'];
      simulation = d3.forceSimulation().nodes(vnodes)
        .velocityDecay(0.2)
        .force('x', d3.forceX().strength(0.03).x(center.x))
        .force('y', d3.forceY().strength(0.03).y(center.y))
        .force('charge', d3.forceManyBody().strength(d => charge))
        .on('tick', function () {
          svg.selectAll('circle')
            .attr('cx', function (d) { return d.x })
            .attr('cy', function (d) { return d.y });
        });

      groupBubblesX();
      groupBubblesY();
    }

    $('#bubble-x').on('change', function () {
      session.style.widgets['bubble-x'] = this.value;
      groupBubblesX();
    });

    let isNumber = a => typeof a == "number";

    function groupBubblesX() {
      let field = session.style.widgets['bubble-x'];
      if (field == 'None') {
        svg.select('#bubble-xAxisLabel').text('');
        svg.selectAll('.xtitle').remove();
        simulation.force('x', d3.forceX().strength(0.03).x(center.x));
        simulation.alpha(1).restart();
        return;
      }
      svg.select('#bubble-xAxisLabel').text(MT.titleize(field));
      let values = [];
      vnodes.forEach(function (d) {
        if (values.indexOf(d[field]) == -1) values.push(d[field]);
      });
      if (isNumber(values[0])) {
        values.sort((a, b) => a - b);
      } else {
        values.sort();
      }
      let ratio = width / (values.length + 1);
      let titles = svg.selectAll('.xtitle').data(values);
      titles.exit().remove();
      titles.enter().append('text')
        .attr('class', 'xtitle')
        .attr('y', 50)
        .attr('text-anchor', 'middle')
        .merge(titles)
        .transition()
        .text(function (d) { return d })
        .attr('x', function (d) { return ratio * values.indexOf(d) + ratio });
      simulation.force('x', d3.forceX().strength(0.03).x(function (d) {
        return ratio * values.indexOf(d[field]) + ratio;
      }));
      simulation.alpha(1).restart();
    }

    $('#bubble-y').on('change', function () {
      session.style.widgets['bubble-y'] = this.value;
      groupBubblesY();
    });

    function groupBubblesY() {
      let field = session.style.widgets['bubble-y'];
      if (field == 'None') {
        svg.select('#bubble-yAxisLabel').text('');
        svg.selectAll('.ytitle').remove();
        simulation.force('y', d3.forceY().strength(0.03).y(center.y));
        simulation.alpha(1).restart();
        return;
      }
      svg.select('#bubble-yAxisLabel').text(MT.titleize(field));
      let values = [];
      vnodes.forEach(function (d) {
        if (values.indexOf(d[field]) == -1) values.push(d[field]);
      });
      if (isNumber(values[0])) {
        values.sort((a, b) => b - a);
      } else {
        values.sort();
      }
      let ratio = height / (values.length + 1);
      let titles = svg.selectAll('.ytitle').data(values);
      titles.exit().remove();
      titles.enter().append('text')
        .attr('class', 'ytitle')
        .attr('x', 50)
        .merge(titles)
        .transition()
        .text(function (d) { return d })
        .attr('y', function (d) { return ratio * values.indexOf(d) + ratio })
        .attr('transform', function (d) { return 'rotate(270, 50,' + (ratio * values.indexOf(d) + ratio) + ')' });
      simulation.force('y', d3.forceY().strength(0.03).y(function (d) {
        return ratio * values.indexOf(d[field]) + ratio;
      }));
      simulation.alpha(1).restart();
    }

    $('#bubble-charge').on('input', function () {
      let v = -parseFloat(this.value);
      simulation.force('charge', d3.forceManyBody().strength(d => v));
      simulation.alpha(1).restart();
      session.style.widgets['bubble-charge'] = -v;
    });

    $('#bubble-size').on('input', function () {
      let v = parseFloat(this.value);
      svg.selectAll('circle').attr('r', v);
      session.style.widgets['bubble-size'] = v;
    });

    function updateNodeColors() {
      let field = session.style.widgets['node-color-variable'];
      let bubble = svg.selectAll('circle').data(vnodes);
      bubble.attr('stroke', d => d.selected ? session.style.widgets['selected-color'] : '#ffffff');
      if (field == 'None') {
        let color = session.style.widgets['node-color'];
        bubble.transition().attr('fill', color);
      } else {
        bubble.transition().attr('fill', d => temp.style.nodeColorMap(d[field]));
      }
    }

    $('#bubble-toggle-settings').click(function () {
      let pane = $('#bubble-settings-pane');
      if ($(this).hasClass('active')) {
        pane.animate({ left: '-400px' }, function () { pane.hide(); });
      } else {
        pane.show(0, function () { pane.animate({ left: '0px' }); });
      }
    });

    $('#bubbles-export-filetype').on('change', function () {
      if (this.value == 'svg') {
        $('#bubbles-export-advanced-button').slideUp();
      } else {
        $('#bubbles-export-advanced-button').slideDown();
      }
    });

    $('#bubbles-export-scale').on('input', function () {
      let scale = parseFloat(this.value);
      let wrapper = $('#bubbles').parent();
      $('#bubbles-export-dimensions').text(
        Math.round(wrapper.width() * scale) + 'x' +
        Math.round(wrapper.height() * scale) + 'px'
      );
    }).trigger('input');

    $('#bubbles-export').on('click', function () {
      let bubbles = document.getElementById('bubbles');
      let $bubbles = $(bubbles);
      let watermark = d3.select(bubbles).append('text')
        .text('MicrobeTrace')
        .attr('x', $bubbles.width() - 150)
        .attr('y', $bubbles.height() - 20)
        .attr('class', 'watermark');
      let filename = $('#bubbles-export-filename').val(),
        filetype = $('#bubbles-export-filetype').val();
      if (filetype == 'svg') {
        let content = MT.unparseSVG(bubbles);
        let blob = new Blob([content], { type: 'image/svg+xml;charset=utf-8' });
        saveAs(blob, filename + '.' + filetype);
        watermark.remove();
      } else {
        saveSvgAsPng(bubbles, filename + '.' + filetype, {
          scale: parseFloat($('#bubbles-export-scale').val()),
          backgroundColor: session.style.widgets['background-color'],
          encoderType: 'image/' + filetype,
          encoderOptions: parseFloat($('#bubbles-export-quality').val())
        }).then(() => watermark.remove());
      }
    });

    layout.on('stateChanged', function () {
      let wrapper = $('#bubbles').parent();
      $('#bubbles-export-width').val(wrapper.width());
      $('#bubbles-export-height').val(wrapper.height());
      reset();
    });

    $window
      .on('node-color-change selected-color-change', updateNodeColors)
      .on('link-visibility node-visibility node-selected background-color-change', reset);
  })();
</script>
</body>

</html>
