<div id="choropleth" class="h-100"></div>

<div id="choropleth-ramp"></div>

<div class="view-controls">
  <button type="button" id="toggle-choropleth-settings" class="btn btn-light btn-sm" data-toggle="button" title="Toggle choropleth Settings Panel">
    <span class="oi oi-cog"></span>
  </button>
  <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#choropleth-export-modal" title="Export choropleth Data">
    <span class="oi oi-data-transfer-download"></span>
  </button>
  <button id="choropleth-fit" type="button" class="btn btn-light btn-sm" title="Center and Scale Network">
    <span class="oi oi-target"></span>
  </button>
</div>

<div id="choropleth-settings-pane" class="left-pane">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item">
      <a href="#choropleth-data-configurations" class="nav-link active" aria-controls="choropleth-data-configurations" role="tab" data-toggle="tab">Data</a>
    </li>
    <li role="presentation" class="nav-item">
      <a href="#choropleth-layer-configurations" class="nav-link" aria-controls="choropleth-layer-configurations" role="tab" data-toggle="tab">Layers</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade show active" id="choropleth-data-configurations">
      <div class="form-group row" title="What kind of Choropleth do you want to see?">
        <div class="col-4"><label for="choropleth-aggregate-as">Aggregate Across</label></div>
        <div class="col-8">
          <select id="choropleth-aggregate-as" class="form-control form-control-sm">
            <option value="counties">County FIPS Code</option>
            <option value="states" selected>State</option>
            <option value="countries">Country</option>
          </select>
        </div>
      </div>
      <div class="form-group row" title="Select the variable that corresponds to the value selected above.">
        <div class="col-4"><label for="choropleth-field-lon">Field</label></div>
        <div class="col-8">
          <select id="choropleth-aggregate-on" class="nodeVariables form-control form-control-sm">
            <option selected>None</option>
          </select>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="choropleth-layer-configurations">
      <div class="accordion" id="choropleth-layers-accordion">
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#choropleth-layers-choropleth" aria-expanded="true" aria-controls="choropleth-layers-choropleth" style="color:#495057">Choropleth</button>
          </div>
          <div id="choropleth-layers-choropleth" class="collapse" data-parent="#choropleth-layers-accordion">
            <div class="card-body">
              <div class="form-group row" title="What color scheme would you like the heatmap to use?">
                <div class="col-4">Color Scheme</div>
                <div class="col">
                  <input type="color" id="choropleth-color-low" class="form-control form-control-sm" value="#ffffcc">
                </div>
                <div class="col">
                  <input type="color" id="choropleth-color-medium" class="form-control form-control-sm" value="#fd8d3c">
                </div>
                <div class="col">
                  <input type="color" id="choropleth-color-high" class="form-control form-control-sm" value="#800026">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-4">
                  <label for="choropleth-transparency">Transparency</label>
                </div>
                <div class="col-8">
                  <input type="range" class="custom-range" id="choropleth-transparency" min="0" value="0.3" max="1" step="0.01">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#choropleth-layers-tiles" aria-expanded="true" aria-controls="choropleth-layers-tiles" style="color:#495057">Online</button>
          </div>
          <div id="choropleth-layers-tiles" class="collapse show" data-parent="#choropleth-layers-accordion">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="alert alert-warning alert-dismissible" role="alert">
                    Enabling any of the layers below will download tiles from the Internet.
                    <a href="https://github.com/CDCgov/MicrobeTrace/wiki/Tile-maps">Read More.</a>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
              <div id="baseRow" class="form-group row ifOnline" title="Would you like to use a Tile basemap?">
                <div class="col-4">Basemap</div>
                <div class="col-8">
                  <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                    <label class="btn btn-light col">
                      <input type="radio" name="choropleth-basemap-options" id="choropleth-basemap-show" autocomplete="off"> Show
                    </label>
                    <label class="btn btn-light active col">
                      <input type="radio" name="choropleth-basemap-options" id="choropleth-basemap-hide" autocomplete="off" checked> Hide
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row ifOnline" title="Would you like to use a Satellite layer?">
                <div class="col-4">Satellite</div>
                <div class="col-8">
                  <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                    <label class="btn btn-light col">
                      <input type="radio" name="choropleth-satellite-options" id="choropleth-satellite-show" autocomplete="off"> Show
                    </label>
                    <label class="btn btn-light active col">
                      <input type="radio" name="choropleth-satellite-options" id="choropleth-satellite-hide" autocomplete="off" checked> Hide
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#choropleth-layers-user" aria-expanded="true" aria-controls="choropleth-layers-user" style="color:#495057">User-Provided</button>
          </div>
          <div id="choropleth-layers-user" class="collapse" data-parent="#choropleth-layers-accordion">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="alert alert-info alert-dismissible" role="alert">
                    Load a GeoJSON file below to superimpose it on the choropleth.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group row" title="Import GeoJSON choropleth Data here">
                <div class="col-12">
                  <div class="custom-file">
                    <input type="file" id="choropleth-file-input" class="custom-file-input" multiple>
                    <label for="choropleth-file-input" class="custom-file-label">Choose File</label>
                  </div>
                </div>
              </div>
              <div id="choropleth-geojson-layers" class="form-group row" title="GeoJSON Layers"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="choropleth-export-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Export Geospatial Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-8">
            <input type="text" id="choropleth-export-file-name" class="form-control form-control-sm" placeholder="Filename">
          </div>
          <div class="col-4">
            <select id="choropleth-export-file-format" class="form-control form-control-sm">
              <option selected>png</option>
              <option>jpeg</option>
              <option>webp</option>
              <option>geojson</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
        <button type="button" id="choropleth-export" class="btn btn-primary" data-dismiss="modal">Export</button>
      </div>
    </div> <!-- /.modal-content -->
  </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->

<script>
(function () {
  if (navigator.onLine) {
    $('#choropleth').parent().find('.ifOnline').css('display', 'flex');
  }

  var layers = {
    basemap: L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/light-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYWFib3lsZXMiLCJhIjoiY2o4b3QxNmtjMDhwNjMzcno4dDd1NnVraSJ9.BkjEa6NM7o7KeTaTHOaIGg'),
    satellite: L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYWFib3lsZXMiLCJhIjoiY2o4b3QxNmtjMDhwNjMzcno4dDd1NnVraSJ9.BkjEa6NM7o7KeTaTHOaIGg'),
    aggregates: { remove: function () { }, bringToFront: function () { } }
  };

  var nodes = MT.getVisibleNodes();

  var choropleth = L.map('choropleth', {
    center: [39.8, -98.5],
    zoom: 5,
    zoomControl: false,
    maxZoom: 20,
    preferCanvas: true
  });

  var legend = L.control({ position: 'bottomleft' });

  var zoomer = L.control.zoom({ position: 'bottomleft' }).addTo(choropleth);

  function aggregate(refresh, callback) {
    if (refresh) nodes = MT.getVisibleNodes();
    var unit = session.style.widgets['choropleth-aggregate-as'];
    if (unit == 'countries') {
      if (!temp.mapData.countries) {
        MT.getMapData('countries.json').then(() => aggregate(false, callback));
        return;
      }
      var val = session.style.widgets['choropleth-aggregate-on'];
      temp.mapData.countries.features.forEach(c => c.properties.density = 0);
      nodes.forEach(n => {
        var country = temp.mapData.countries.features.find(c => c.id == n[val] || c.properties.name == n[val]);
        if (country) country.properties.density++;
      });
    } else if (unit == 'states') {
      if (!temp.mapData.states) {
        MT.getMapData('states.json').then(() => aggregate(false, callback));
        return;
      }
      var val = session.style.widgets['choropleth-aggregate-on'];
      temp.mapData.states.features.forEach(c => c.properties.density = 0);
      nodes.forEach(n => {
        var state = temp.mapData.states.features.find(s => s.properties.usps == n[val] || s.properties.name == n[val]);
        if (state) state.properties.density++;
      });
    } else { //unit == 'counties'
      if (!temp.mapData.counties) {
        MT.getMapData('counties.json').then(() => aggregate(false, callback));
        return;
      }
      var val = session.style.widgets['choropleth-aggregate-on'];
      temp.mapData.counties.features.forEach(c => c.properties.density = 0);
      nodes.forEach(n => {
        var county = temp.mapData.counties.features.find(c => {
          return (c.properties.fips == n[val] ||
            parseFloat(c.properties.fips) == parseFloat(n[val]));
        });
        if (county) return county.properties.density++;
      });
    }
    if (callback) callback();
  }

  var ramp = d3.scaleLinear().domain([0, 0.5, 1]).range([
    session.style.widgets['choropleth-color-low'],
    session.style.widgets['choropleth-color-medium'],
    session.style.widgets['choropleth-color-high']
  ]);

  function render() {
    if(!$('#choropleth').length) return;
    layers.aggregates.remove();
    var maxD = 0, minD = Infinity;
    var data = temp.mapData[session.style.widgets['choropleth-aggregate-as']];
    var n = data.features.length;
    for (var i = 0; i < n; i++) {
      var thing = data.features[i];
      if (thing.properties.density < minD) minD = thing.properties.density;
      if (thing.properties.density > maxD) maxD = thing.properties.density;
    }
    var range = maxD - minD;
    var opacity = 1 - session.style.widgets['choropleth-transparency'];
    layers.aggregates = L.geoJson(data, {
      style: function (a) {
        return {
          fillColor: ramp((a.properties.density - minD) / range),
          weight: 2,
          opacity: 1,
          color: '#dadde0',
          fillOpacity: opacity
        }
      },
      onEachFeature: function (feature, layer) {
        layer
          .on('mouseover', function (e) {
            $('#tooltip')
              .html('<b>' + e.target.feature.properties.name + '</b>&nbsp;' + e.target.feature.properties.density)
              .css({
                'opacity': 1,
                'z-index': 10000,
                top: e.containerPoint.y,
                left: e.containerPoint.x
              });
          })
          .on('mouseout', function () {
            $('#tooltip')
              .css({
                opacity: 0,
                'z-index': -1
              });
          })
      }
    });
    layers.aggregates.addTo(choropleth).bringToFront();
    legend.remove();
    legend = L.control({ position: 'bottomleft' });
    legend.onAdd = function () {
      var div = L.DomUtil.create('div', 'legend');
      var canvas = document.createElement('canvas');
      canvas.width = 256;
      canvas.height = 25;
      var context = canvas.getContext("2d");
      context.color = '#dadde0';
      for (var i = 0; i < 256; ++i) {
        context.fillStyle = d3.rgb(ramp(i / 255)).hex();
        context.fillRect(i, 0, 1, 25);
      }
      context.font = "bold 20px sans";
      context.fillStyle = "black";
      context.fillText(minD + '', 5, 20);
      context.fillStyle = "white";
      context.textAlign = "right";
      context.fillText(maxD + '', 251, 20);
      $(div).append(canvas);
      return div;
    };
    zoomer.remove();
    legend.addTo(choropleth);
    zoomer.addTo(choropleth);
  }

  function showNodeTooltip(e) {
    var d = e.layer.options.data;
    var v = session.style.widgets['choropleth-tooltip-variable'];
    if (v !== 'None' && d[v]) {
      d3.select('#tooltip')
        .html(d[v])
        .style('left', (e.originalEvent.pageX + 8) + 'px')
        .style('top', (e.originalEvent.pageY + 18) + 'px')
        .style('z-index', 1001)
        .transition().duration(100)
        .style('opacity', 1);
    }
  }

  function hideTooltip() {
    var tooltip = d3.select('#tooltip');
    tooltip
      .transition().duration(100)
      .style('opacity', 0)
      .on('end', () => tooltip.style('z-index', -1));
  }

  function clickHandler(e) {
    var node = e.sourceTarget.feature.properties;
    var d = session.data.nodes.find(d => d.id == node.id);
    if (!e.originalEvent.ctrlKey) {
      session.data.nodes
        .filter(node => node.id !== d.id)
        .forEach(node => node.selected = false);
    }
    d.selected = !d.selected;
    $window.trigger('node-selected');
  }

  $('#toggle-choropleth-settings').on('click', function () {
    var pane = $('#choropleth-settings-pane');
    if ($(this).hasClass('active')) {
      pane.animate({ left: '-400px' }, function () { pane.hide(); });
    } else {
      pane.show(0, function () { pane.animate({ left: '0px' }); });
    }
  });

  $('#choropleth-aggregate-as').on('change', function () {
    session.style.widgets['choropleth-aggregate-as'] = this.value;
    aggregate(false, render);
  });

  $('#choropleth-aggregate-on').on('change', function () {
    session.style.widgets['choropleth-aggregate-on'] = this.value;
    aggregate(false, render);
  });

  function updateRamp() {
    ramp = d3.scaleLinear().domain([0, 0.5, 1]).range([
      session.style.widgets['choropleth-color-low'],
      session.style.widgets['choropleth-color-medium'],
      session.style.widgets['choropleth-color-high']
    ]);
  }

  $("#choropleth-color-low").on('change', function () {
    session.style.widgets["choropleth-color-low"] = this.value;
    updateRamp();
    render();
  });

  $("#choropleth-color-medium").on('change', function () {
    session.style.widgets["choropleth-color-medium"] = this.value;
    updateRamp();
    render();
  });

  $("#choropleth-color-high").on('change', function () {
    session.style.widgets["choropleth-color-high"] = this.value;
    updateRamp();
    render();
  });

  $('#choropleth-transparency').on('input', function () {
    var v = parseFloat(this.value);
    session.style.widgets['choropleth-transparency'] = v;
    $('.legend canvas').css('opacity', 1 - v);
    layers.aggregates.setStyle({ 'fillOpacity': 1 - v });
  });

  $('#choropleth-basemap-show').parent().on('click', function () {
    session.style.widgets['choropleth-basemap-show'] = true;
    layers.basemap.addTo(choropleth);
    $('#choropleth-satellite-hide').trigger('click');
    layers.countries.remove();
  });
  $('#choropleth-basemap-hide').parent().on('click', function () {
    session.style.widgets['choropleth-basemap-show'] = false;
    layers.basemap.remove();
    layers.countries.addTo(choropleth);
  });

  $('#choropleth-satellite-show').parent().on('click', function () {
    session.style.widgets['choropleth-satellite-show'] = true;
    layers.satellite.addTo(choropleth);
    $('#choropleth-basemap-hide').trigger('click');
    layers.countries.remove();
  });
  $('#choropleth-satellite-hide').parent().on('click', function () {
    session.style.widgets['choropleth-satellite-show'] = false;
    layers.satellite.remove();
    layers.countries.addTo(choropleth);
  });

  $('#choropleth-file-input').on('change', event => {
    Array.from(event.target.files).forEach(file => {
      const { name } = file;
      if (name.endsWith("json")) {
        const layerName = name.split('.').slice(0, -1).join('.').toLowerCase();
        const reader = new FileReader();
        reader.onload = function (event2) {
          temp.mapData[layerName] = JSON.parse(event2.target.result);
          layers[layerName] = L.geoJSON(temp.mapData[layerName], {
            color: '#000',
            weight: .75,
            fillColor: '#fafaf8',
            fillOpacity: .5
          });
          layers[layerName].addTo(choropleth);
          var colorCell = $('<div class="col-3"></div>').append(
            $('<input type="color" class="w-100">').on('change', function (e) {
              layers[layerName].setStyle(f => ({ color: e.target.value }));
            })
          );
          var nameCell = $(`<div class="col-9">${layerName}</div>`).prepend(
            $('<a href="#" class="oi oi-circle-x align-middle p-1" title="Remove this file"></a>').on('click', function () {
              nameCell.remove();
              colorCell.remove();
              layers[layerName].remove();
            })
          );
          $('#choropleth-geojson-layers')
            .append(nameCell)
            .append(colorCell);
        };
        reader.readAsText(file);
      } else {
        alert("Only GeoJSON Files are currently Supported.");
      }
    });
  });

  $('#choropleth-export').on('click', function () {
    var format = $('#choropleth-export-file-format').val();
    if (['png', 'jpeg', 'webp'].includes(format)) {
      leafletImage(choropleth, function (err, canvas) {
        var ctx = canvas.getContext('2d');
        ctx.globalAlpha = 1 - session.style.widgets['choropleth-transparency'];
        ctx.drawImage($('.legend canvas')[0], 10, canvas.height - 40);
        canvas.toBlob(blob => {
          saveAs(blob, $('#choropleth-export-file-name').val() + '.' + format);
        }, 'image/' + format);
      });
    } else { //geojson
      saveAs(
        new Blob(
          [JSON.stringify(temp.mapData[session.style.widgets['choropleth-aggregate-as']])],
          { type: 'application/json;charset=utf-8' }),
        $('#choropleth-export-file-name').val() + '.' + format
      );
    }
  });

  $('#choropleth-fit').on('click', function () {
    choropleth.flyToBounds(layers.aggregates.getBounds());
  });

  $window
    .on('node-visibility', function () {
      aggregate(true, render);
    });

  layout.on('stateChanged', function () {
    setTimeout(function () {
      choropleth.invalidateSize();
    }, 80);
  });

  MT.getMapData('countries.json').then(() => {
    layers.countries = L.geoJSON(temp.mapData.countries, {
      color: '#dadde0',
      weight: 1,
      fillColor: '#fafaf8',
      fillOpacity: 1
    });
    layers.countries.addTo(choropleth);
  });
}) ();
</script>
