<div id="crosstab" class="table-sm"></div>

<div class="view-controls">
  <button type="button" id="crosstab-settings-toggle" class="btn btn-light btn-sm" data-toggle="button" title="Toggle crosstab Settings">
    <span class="oi oi-cog"></span>
  </button>
  <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#crosstab-export-modal"
    title="Export crosstab data">
    <span class="oi oi-data-transfer-download"></span>
  </button>
  <button id="crosstab-pivot" type="button" class="btn btn-light btn-sm" title="Pivot Crosstab">
    <span class="oi oi-loop-circular"></span>
  </button>
</div>

<div id="crosstab-settings-pane" class="left-pane">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active">
      <a href="#crosstab-settings" id="crosstab-tab" class="nav-link active" aria-controls="crosstab" role="tab"
        data-toggle="tab">Crosstab</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="crosstab-tab">
      <div class="form-group row" title="What data fields would you like to aggregate on?">
        <div class="col-3">Dataset</div>
        <div class="col-9">
          <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
            <label class="btn btn-light col active">
              <input type="radio" name="crosstab-dataset" data-value="nodes" autocomplete="off" checked> Nodes
            </label>
            <label class="btn btn-light col">
              <input type="radio" name="crosstab-dataset" data-value="links" autocomplete="off"> Links
            </label>
            <label class="btn btn-light col">
              <input type="radio" name="crosstab-dataset" data-value="clusters" autocomplete="off"> Clusters
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row" title="What data fields would you like to aggregate on?">
        <div class="col-3">X Variable</div>
        <div class="col-9">
          <select id="crosstab-field-x" class="form-control form-control-sm"></select>
        </div>
      </div>
      <div class="form-group row" title="What data fields would you like to aggregate on?">
        <div class="col-3">Y Variable</div>
        <div class="col-9">
          <select id="crosstab-field-y" class="form-control form-control-sm"></select>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="crosstab-export-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Export crosstab</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-9">
            <input type="text" id="export-crosstab-file-name" class="form-control form-control-sm"
              placeholder="Filename">
          </div>
          <div class="col-3">
            <select id="export-crosstab-file-type" class="form-control form-control-sm">
              <option selected>csv</option>
              <option>xlsx</option>
              <option>pdf</option>
              <option>json</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-error" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" id="crosstab-export" class="btn btn-primary" data-dismiss="modal">
          Export
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
  (function () {
    var data = [];

    function updateTable() {
      if(!$('#crosstab').length) return;
      var dataset = $('[name="crosstab-dataset"]:checked').data('value');
      var xVar = $('#crosstab-field-x').val();
      var yVar = $('#crosstab-field-y').val();
      var xValues = [], yValues = [];
      var rawdata = MT[
        "getVisible" + dataset[0].toUpperCase() + dataset.slice(1)
      ]();
      var n = rawdata.length;
      rawdata.forEach(row => {
        var val = row[xVar];
        if (!xValues.includes(val)) xValues.push(val);
        val = row[yVar];
        if (!yValues.includes(val)) yValues.push(val);
      });
      data = [];
      rawdata.forEach(row => {
        var match = data.find(arow => arow.col == row[yVar]);
        if (match) {
          match[row[xVar]]++;
        } else {
          var newRow = { col: row[yVar] };
          xValues.forEach(col => newRow[col] = 0);
          newRow[row[xVar]]++;
          data.push(newRow);
        }
      });
      var crosstab = new Tabulator("#crosstab", {
        layout: "fitColumns",
        data: data,
        columns: [{ title: "", field: "col", cssClass: 'font-weight-bold' }].concat(xValues.map(x => ({ title: MT.titleize(x + ''), field: x })))
      });
    }

    $("#crosstab-settings-toggle").click(function () {
      var pane = $("#crosstab-settings-pane");
      if ($(this).hasClass('active')) {
        pane.animate({ left: "-400px" }, function () {
          pane.hide();
        });
      } else {
        pane.show(0, function () {
          pane.animate({ left: "0px" });
        });
      }
    }).trigger('click');

    $('[name="crosstab-dataset"]').on('change', function () {
      var dataset = $('[name="crosstab-dataset"]:checked').data('value');
      var options = session.data[dataset.slice(0, -1) + 'Fields'].map(f => '<option value="' + f + '">' + MT.titleize(f) + '</option>');
      $('#crosstab-field-x, #crosstab-field-y').html(options);
    }).trigger('change');

    $('#crosstab-field-x, #crosstab-field-y').on('change', updateTable);

    $("#crosstab-export").click(function () {
      var format = $("#export-crosstab-file-type").val();
      var name = $("#export-crosstab-file-name").val();
      if (format == "csv") {
        saveAs(new Blob([Papa.unparse(data)], { type: "text/csv;charset=utf-8" }), name + "." + format);
      } else if (format == "xlsx") {
        var wb = XLSX.utils.book_new();
        var ws = XLSX.utils.json_to_sheet(data);
        XLSX.utils.book_append_sheet(wb, ws,
          MT.titleize($('#crosstab-field-x').val()) + " by " + MT.titleize($('#crosstab-field-y').val()));
        XLSX.writeFile(wb, name + "." + format);
      } else if (format == "pdf") {
        var keys = Object.keys(data[0]);
        pdfMake
          .createPdf({
            content: [
              {
                image: MT.watermark
              },
              {
                text: "Cluster crosstab Snapshot",
                style: "header",
                alignment: "center"
              },
              {
                style: "paddedTable",
                table: {
                  headerRows: 1,
                  widths: keys.map(k => "*"),
                  body: [
                    keys.map(MT.titleize)
                  ].concat(data.map(Object.values))
                }
              }
            ],
            footer: function (currentPage, pageCount) {
              return [
                {
                  text: `Page ${currentPage.toString()} of ${pageCount}`,
                  alignment: "center"
                }
              ];
            },
            styles: {
              header: {
                fontSize: 22,
                bold: true
              },
              paddedTable: {
                margin: [10, 10, 10, 10]
              }
            }
          })
          .download(name + ".pdf");
      } else {
        var blob = new Blob([JSON.stringify(data)], {
          type: "application/json;charset=utf-8"
        });
        saveAs(blob, name + "." + format);
      }
    });

    $('#crosstab-pivot').on('click', function () {
      var x = $('#crosstab-field-x').val();
      var y = $('#crosstab-field-y').val();
      $('#crosstab-field-x').val(y);
      $('#crosstab-field-y').val(x);
      updateTable();
    });

    $('#crosstab').parent().css({
      'overflow-y': 'hidden !important',
      'z-index': 1000
    });

    $window
      .on("link-visibility", updateTable)
      .on("node-visibility", updateTable);
  })();
</script>
