<script type="text/javascript">
if(typeof alertify === 'undefined'){
  alertify = require('alertifyjs');
}

var header = '<?xml version="1.0" encoding="UTF-8"?><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 '+(window.innerHeight-50)+' '+window.innerWidth+'" xmlns:xlink="http://www.w3.org/1999/xlink">';

$('#FileTab').after(
  $('<li id="VectorTab"><a href="#">Export Vector</a></li>').click(() => {
    electron.remote.dialog.showSaveDialog({
      filters: [
        {name: 'Scalable Vector Graphics', extensions: ['svg']}
      ]
    }, (fileName) => {
      if (fileName === undefined){
        return alertify.error('File not exported!');
      }
      jetpack.write(fileName, header + document.getElementsByTagName('svg')[0].innerHTML + '\n</svg>');
      alertify.success('File Saved!');
    });
  })
);
</script>
