<script type="text/javascript">
if(typeof alertify === 'undefined'){
  alertify = require('alertifyjs');
}

$('#FileTab').after(
  $('<li id="ScreenshotTab"><a href="#">Save Image</a></li>').click(() => {
    electron.remote.dialog.showSaveDialog({
      filters: [
        {name: 'PNG', extensions: ['png']},
        {name: 'JPEG', extensions: ['jpg']}
      ]
    }, (fileName) => {
      if (fileName === undefined){
        return alertify.error('File not exported!');
      }
      electron.remote.getCurrentWindow().capturePage({
        x: 0,
        y: 50,
        width: window.innerWidth,
        height: window.innerHeight
      }, (img) => {
        var extension = fileName.slice(-3);
        if(extension === 'jpg') {
          jetpack.write(fileName, img.toJPEG(100));
        } else {
          jetpack.write(fileName, img.toPNG());
        }
        alertify.success('File Saved!');
      });
    });
  })
);
</script>
