<div id="file_panel">
  <div class="panel-heading clearfix">
    <button id="alignerControlsButton" class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#alignerControlsModal">Alignment Options</button>
    <h3 class="panel-title">Load Data</h3>
  </div>
  <div id="drop_zone" class="panel-body">
    Drag and Drop Files Here to Load
  </div>
  <div class="panel-footer clearfix">
    <button type="submit" id="main-submit" class="btn btn-primary pull-right" title="Please select a Network CSV or FASTA File">Submit</button>
  </div>
</div>
