<div id="file-panel" class="container-fluid">
  <div id="file-table" class="container">
    <p id="file-prompt" class="text-muted">Drag-and-Drop Files here, or click "Add File(s)" to load data.</p>
  </div>
</div>

<div id="file-footer">
  <div class="container" style="padding: 15px">
    <div class="row">
      <div class="col">
        <input type="file" id="data-files" class="d-none" multiple="true" />
        <label for="data-files" class="btn btn-primary btn-nr floater mb-0">Add File(s)</label>
        <button type="button" id="alignerControlsButton" class="btn btn-default btn-nr floater" data-toggle="modal" data-target="#aligner-controls-modal">Alignment Settings</button>
      </div>
      <div class="col text-right">
        <button id="launch" class="btn btn-success" title="Please select a Network CSV or FASTA File" disabled>Launch</button>
      </div>
    </div>
  </div>
</div>

<div class="view-controls">
  <button type="button" id="file-settings-toggle" class="btn btn-light btn-sm" data-toggle="button" title="Toggle File Settings">
    <span class="oi oi-cog"></span>
  </button>
</div>

<div id="file-settings-pane" class="left-pane">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="files-tab" data-toggle="tab" href="#file-settings" role="tab" aria-controls="file-settings" aria-selected="true">Files</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="experimental-tab" data-toggle="tab" href="#experimental-settings" role="tab" aria-controls="experimental-settings" aria-selected="false">Experimental</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="file-settings" class="tab-pane fade active show" role="tabpanel">
      <div class="form-group row">
        <div class="col-3">
          <label for="default-distance-metric" class="mr-2" title="Which Genetic Distance Metric should Microbe use to first construct the network?">Distance Metric</label>
        </div>
        <div class="col-9">
          <select id="default-distance-metric" class="form-control form-control-sm mr-5">
            <option value="tn93" selected>TN93</option>
            <option value="snps">SNPs</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-3">
          <label for="default-distance-threshold" class="mr-2" title="What's the maximum genetic distance you wish to consider linked? Please note that this can be changed later.">Link Threshold</label>
        </div>
        <div class="col-9">
          <input type="number" id="default-distance-threshold" class="form-control form-control-sm" min="0" value="0.015" step="0.001"></input>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-3">
          <label for="default-View">View to Launch</label>
        </div>
        <div class="col-9">
          <select id="default-View" class="form-control form-control-sm" title="Which view should MicrobeTrace render first, once it has successfully processed the data?">
            <option value="2d_network" selected>2D Network</option>
            <option value="3d_network">3D Network</option>
            <option value="bubbles">Bubbles</option>
            <option value="table">Table</option>
            <option value="phylogenetic_tree">Phylogenetic Tree</option>
          </select>
        </div>
      </div>
    </div>
    <div id="experimental-settings" class="tab-pane fade" role="tabpanel">
      <div class="form-group row">
        <div class="col-12">
          <div class="alert alert-warning alert-dismissible" role="alert">
            <p>The following settings are experimental! Use at your own risk!</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group row" title="Would you like to attempt to triangulate missing values in your distance matrices?">
        <div class="col-3">Triangulation</div>
        <div class="col-9">
          <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
            <label class="btn btn-light active col" title="Do Not Triangulate missing cells in Distance Matrices.">
              <input type="radio" name="shouldTriangulate" id="doNotTriangulate" autocomplete="off" checked> Off
            </label>
            <label class="btn btn-light col" title="Attempt to Triangulate missing cells in Distance Matrices.">
              <input type="radio" name="shouldTriangulate" id="doTriangulate" autocomplete="off"> On
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row" title="Should MicrobeTrace automatically stash your session so if your computer crashes you can recover your session?
Please note that this causes MicrobeTrace to store data on your computer's hard drive, which may have implications for PII.">
        <div class="col-3">Autostash</div>
        <div class="col-9">
          <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
            <label class="btn btn-light active col" title="Do Not Automatically Stash Sessions">
              <input type="radio" name="stash-auto" id="stash-auto-no" autocomplete="off" checked> Off
            </label>
            <label class="btn btn-light col" title="Automatically Stash Sessions">
              <input type="radio" name="stash-auto" id="stash-auto-yes" autocomplete="off"> On
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="aligner-controls-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="#aligner-controls-title" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="aligner-controls-title" class="modal-title">Alignment Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-12">
            <div class="alert alert-warning alert-dismissible" role="alert">
              <p>MicrobeTrace is not intended to be an alignment program (although it can be used in that way). For best results, please align your sequences using <a href="https://en.wikipedia.org/wiki/List_of_sequence_alignment_software" target="_blank">an external tool</a> before loading them into MicrobeTrace. <a href="https://github.com/CDCgov/MicrobeTrace/wiki/Alignment" class="ifOnline" target="_blank">Click here for additional information.</a></p>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3" title="Should MicrobeTrace align your sequences?">Align</div>
          <div class="col-9">
            <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
              <label class="btn btn-light active col" title="Do Not Align Sequences">
                <input type="radio" name="shouldAlign" id="doNotAlign" data-aligner="none" autocomplete="off" checked> None
              </label>
              <label class="btn btn-light col" title="Align Sequences using Smith-Waterman aligner">
                <input type="radio" name="shouldAlign" id="swAlign" data-aligner="sw" autocomplete="off"> Smith-Waterman
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row alignConfigRow">
          <div class="col-3" title="Against what sequence should MicrobeTrace align your sequences?">Reference</div>
          <div class="col-9">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="refSeqFileLoad" />
              <label class="custom-file-label" for="refSeqFileLoad">HIV (HXB2.pol)</label>
            </div>
          </div>
        </div>
        <div class="form-group row alignConfigRow">
          <div class="col-3" title="How should MicrobeTrace align your sequences?">Type</div>
          <div class="col-9">
            <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
              <label class="btn btn-light active col">
                <input type="radio" name="alignScope" id="globalAlign" autocomplete="off" checked> Global
              </label>
              <label class="btn btn-light col">
                <input type="radio" name="alignScope" id="localAlign" autocomplete="off"> Local
              </label>
            </div>
          </div>
        </div>
        <div class="row alignConfigRow">
          <div class="form-group col offset-3" title="How much should MicrobeTrace reward matching bases?">
            <label for="alignerMatch">Match Reward</label>
            <input type="number" id="alignerMatch" class="form-control" value="1" min="0"></input>
          </div>
          <div class="form-group col" title="How much should MicrobeTrace penalize non-matching bases?">
            <label for="alignerMismatch">Mismatch Cost</label>
            <input type="number" id="alignerMismatch" class="form-control" value="1" min="0"></input>
          </div>
        </div>
        <div class="row alignConfigRow">
          <div class="form-group col offset-3" title="How much should MicrobeTrace Penalize opening a gap?">
            <label for="alignerGapO">Gap Opening Cost</label>
            <input type="number" id="alignerGapO" class="form-control" value="1" min="0"></input>
          </div>
          <div class="form-group col" title="How much should MicrobeTrace Penalize extending a gap?">
            <label for="alignerGapE">Gap Extension Cost</label>
            <input type="number" id="alignerGapE" class="form-control" value="1" min="0"></input>
          </div>
        </div>
        <div class="row alignPreviewRow">
          <div class="w-100 text-center" id="alignment-preview"></div>
        </div>
      </div>
      <div class="modal-footer clearfix">
        <button type="submit" class="btn btn-primary pull-right" data-dismiss="modal" title="Confirm Load Settings are All Properly Set">Confirm</button>
      </div>
    </div>
  </div>
</div>
<script>
(function(){

  if(window.navigator.userAgent.indexOf('MSIE') > -1 || window.navigator.appName.indexOf('Microsoft Internet Explorer') > -1){
    $('.ie-warning').show();
    throw new Error('MicrobeTrace does not work on Internet Explorer.');
  }

  $('#file-panel').parent().css('z-index', 1000);

  $('#file-settings-toggle').on('click', function(){
    let pane = $('#file-settings-pane');
    if($(this).hasClass('active')){
      pane.animate({left: '-400px'}, function(){ pane.hide(); });
    } else {
      pane.show(0, function(){ pane.animate({left: '0px'}); });
    }
  });

  if(session.files.length > 0){
    $('#file-prompt').remove();
    session.files.forEach(addToTable);
  }

  $('#data-files').on('change', function(e){
    var files = e.target.files;
    $('#file-prompt').remove();
    for(var i = 0, f; f = files[i]; i++) processFile(f);
    $('#launch').prop('disabled', false).focus();
  });

  $('#file-panel').on('dragover', function(evt){
    evt.stopPropagation();
    evt.preventDefault();
    evt.originalEvent.dataTransfer.dropEffect = 'copy';
  }).on('drop', function(evt){
    evt.stopPropagation();
    evt.preventDefault();
    var files = evt.originalEvent.dataTransfer.files;
    var n = files.length;
    $('#file-prompt').remove();
    for(var i = 0, f; f = files[i]; i++) processFile(f);
    $('#launch').prop('disabled', false).focus();
  });

  function processFile(rawfile){
    var extension = rawfile.name.split('.').pop().toLowerCase();
    if(extension === 'zip'){
      var new_zip = new JSZip();
      new_zip
        .loadAsync(rawfile)
        .then(function(zip){
          zip.forEach(function(relativePath, zipEntry){
            extension = zipEntry.name.split('.').pop();
            zipEntry.async("string").then(function(c){
              app.processJSON(c, extension);
            });
          });
        });
      return;
    }
    if(extension === 'microbetrace' || extension === 'hivtrace'){
      var reader = new FileReader();
      reader.onloadend = function(out){
        app.processJSON(out.target.result, extension);
      };
      reader.readAsText(rawfile, 'UTF-8');
    }
    var isXL = (extension === 'xlsx' || extension === 'xls');
    fileto.promise(rawfile, isXL ? 'ArrayBuffer' : 'Text').then(function(file){
      session.files.push(file);
      addToTable(file);
    });
  }

  function addToTable(file){
    var extension = file.name.split('.').pop().toLowerCase();
    var isFasta = extension.indexOf('fas') > -1;
    var isNewick = extension.indexOf('nwk') > -1 || extension.indexOf('newick') > -1;
    var isXL = (extension === 'xlsx' || extension === 'xls');
    var isNode = file.name.toLowerCase().includes('node');
    if(isXL){
      var workbook = XLSX.read(file.contents, {type: 'array'});
      var data = XLSX.utils.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]]);
      var headers = [];
      data.forEach(row => Object.keys(row).forEach(key => {
        key = filterXSS(key);
        if(!headers.includes(key)) headers.push(key);
      }));
      addTableTile(headers);
    } else {
      Papa.parse(file.contents, {
        dynamicTyping: true,
        header: true,
        preview: 1,
        complete: function(output){
          var headers = output.meta.fields.map(filterXSS);
          addTableTile(headers);
        }
      });
    }
    function addTableTile(headers){
      var root = $('<div class="file-table-row"></div>').data('filename', file.name);
      var fnamerow = $('<div class="row w-100"></div>');
      $('<div class="file-name col"></div>')
        .append($('<a href="#" class="oi oi-circle-x align-middle p-1" title="Remove this file"></a>').click(function(e){
          session.files.splice(session.files.indexOf(file.name), 1);
          root.slideUp(function(){ root.remove(); });
        }))
        .append($('<a href="#" class="oi oi-data-transfer-download align-middle p-1" title="Resave this file"></a>').on('click', function(){
          saveAs(new Blob([file.contents], {type: file.type | 'text'}), file.name);
        }))
        .append('<span class="p-1">' + file.name + '</span>')
        .append(`
        <div class="btn-group btn-group-toggle btn-group-sm float-right" data-toggle="buttons">
          <label class="btn btn-light${!isFasta&!isNewick&!isNode?' active':''}">
            <input type="radio" name="options-${file.name}" data-type="link" autocomplete="off"${!isFasta&!isNewick&!isNode?' checked':''}>Link</input>
          </label>
          <label class="btn btn-light${!isFasta&!isNewick&isNode?' active':''}">
            <input type="radio" name="options-${file.name}" data-type="node" autocomplete="off"${!isFasta&!isNewick&isNode?' checked':''}>Node</input>
          </label>
          <label class="btn btn-light">
            <input type="radio" name="options-${file.name}" data-type="matrix" autocomplete="off">Matrix</input>
          </label>
          <label class="btn btn-light${isFasta?' active':''}">
            <input type="radio" name="options-${file.name}" data-type="fasta" autocomplete="off"${isFasta?' checked':''}>FASTA</input>
          </label>
          <label class="btn btn-light${isNewick?' active':''}">
            <input type="radio" name="options-${file.name}" data-type="newick" autocomplete="off"${isNewick?' checked':''}>Newick</input>
          </label>
        </div>
        `)
        .appendTo(fnamerow);
      fnamerow.appendTo(root);
      var optionsrow = $('<div class="row w-100"></div>');
      var options = '<option>None</option>' + headers.map(function(h){ return '<option value="'+h+'">'+app.titleize(h)+'</option>'; }).join('\n');
      optionsrow.append(`
      <div class='col-4 '${isFasta||isNewick?' style="display: none;"':''} data-file='${file.name}'>
        <label for="file-${file.name}-field-1">${isNode?'ID':'Source'}</label>
        <select id="file-${file.name}-field-1" class="custom-select custom-select-sm">${options}</select>
      </div>
      <div class='col-4 '${isFasta||isNewick?' style="display: none;"':''} data-file='${file.name}'>
        <label for="file-${file.name}-field-2">${isNode?'Sequence':'Target'}</label>
        <select id="file-${file.name}-field-2" class="custom-select custom-select-sm">${options}</select>
      </div>
      <div class='col-4 '${isFasta||isNewick?' style="display: none;"':''} data-file='${file.name}'>
        <label for="file-${file.name}-field-3">Distance</label>
        <select id="file-${file.name}-field-3" class="custom-select custom-select-sm">${options}</select>
      </div>
      `);
      optionsrow.appendTo(root);

      function matchHeaders(type){
        var these = $(`[data-file='${file.name}'] select`);
        var a = type === 'node' ? ['ID', 'Id', 'id'] : ['SOURCE', 'Source', 'source'],
            b = type === 'node' ? ['SEQUENCE', 'SEQ', 'Sequence', 'sequence', 'seq'] : ['TARGET', 'Target', 'target'],
            c = ['length', 'Length', 'distance', 'Distance', 'snps', 'SNPs', 'tn93', 'TN93'];
        [a, b, c].forEach(function(list, i){
          list.forEach(function(title){
            if(headers.includes(title)) $(these.get(i)).val(title);
          });
          if((i === 1 && type === 'node') || (i === 2 && type === 'link')){
            $(these.get(i)).val('None');
          } else if($(these.get(i)).val() === 'None'){
            $(these.get(i)).val(headers[i]);
          }
        });
      }

      root.appendTo('#file-table');
      matchHeaders($(`[name="options-${file.name}"]:checked`).data('type'));

      function refit(e){
        var type = $(e ? e.target : `[name="options-${file.name}"]:checked`).data('type'),
        these = $(`[data-file='${file.name}']`),
        first = $(these.get(0)),
        second = $(these.get(1));
        third = $(these.get(2));
        if(type === 'node'){
          first.slideDown().find('label').text('ID');
          second.slideDown().find('label').text('Sequence');
          third.slideUp();
          matchHeaders(type);
        } else if(type === 'link'){
          first.slideDown().find('label').text('Source');
          second.slideDown().find('label').text('Target');
          third.slideDown();
          matchHeaders(type);
        } else {
          these.slideUp();
        }
      }

      $(`[name="options-${file.name}"]`).change(refit);
      refit();
    }
  }

  function readFastas(){
    var read = 0, data = [];
    var fastas = session.files.filter(function(f){ return f.name.split('.').pop().includes('fas'); });
    if(fastas.length === 0) return;
    fastas.forEach(function(fasta){
      app
        .parseFASTA(fasta.contents)
        .forEach(function(node){
          node.id = filterXSS(node.id);
          node.seq = filterXSS(node.seq);
          data.push(node);
        });
      if(++read === fastas.length) updatePreview(data);
    });
  }

  function updatePreview(data){
    $('#alignment-preview').empty().append('<img src="img/spinner.gif" class="mx-auto" />');
    app.align({
      nodes: data,
      reference: session.data.reference,
      aligner: $('input[name="shouldAlign"]:checked').data('aligner'),
      isLocal: $('#localAlign').is(':checked'),
      match: [parseFloat($('#alignerMatch').val()), -parseFloat($('#alignerMismatch').val())],
      gap: [-parseFloat($('#alignerGapO').val()), -parseFloat($('#alignerGapE').val())]
    }, function(output){
      alignmentViewer(output, {
        showID: false
      }).then(function(canvas){
        $('#alignment-preview').empty().append(canvas);
      });
    });
  }

  $('.alignConfigRow').hide();

  $('#swAlign').parent().click(function(){
    $('.alignConfigRow').slideDown();
    $('#alignment-preview').slideUp(function(){
      $(this).empty().show();
    });
  });

  $('#doNotAlign, #nbeamAlign').parent().click(function(){
    $('.alignConfigRow').slideUp();
    $('#alignment-preview').slideUp(function(){
      $(this).empty().show();
    });
  });

  $('#refSeqFileLoad').on('change', function(e){
    var file = e.target.files[0];
    var reader = new FileReader();
    reader.onloadend = function(e){
      if (e.target.readyState == FileReader.DONE){
        var node = app.parseFASTA(e.target.result)[0];
        session.data.reference = filterXSS(node.seq);
        $('label[for="refSeqFileLoad"]').text(`${file.name} (${filterXSS(node.id)})`);
        readFastas();
      }
    };
    reader.readAsText(file);
  });

  $('#alignerControlsButton, #alignment-preview').click(readFastas);

  let cachedLSV = localStorage.getItem('link-sort-variable');
  if(cachedLSV){
    $('#default-distance-metric, #link-sort-variable').val(cachedLSV);
    if(cachedLSV === 'snps'){
      $('#default-distance-threshold, #link-threshold')
        .attr('step', 1)
        .val(16);
    } else {
      $('#default-distance-threshold, #link-threshold')
        .attr('step', 0.001)
        .val(0.015);
    }
  }

  $('#default-distance-metric, #link-sort-variable').change(function(e){
    var lsv = e.target.value;
    session.style.widgets['link-sort-variable'] = lsv;
    if(e.target.id == 'default-distance-metric') localStorage.setItem('link-sort-variable', lsv);
    $('#default-distance-metric, #link-sort-variable').val(lsv);
    if(lsv === 'snps'){
      $('#default-distance-threshold, #link-threshold')
        .attr('step', 1)
        .val(16);
    } else {
      $('#default-distance-threshold, #link-threshold')
        .attr('step', 0.001)
        .val(0.015);
    }
  });

  let cachedView = localStorage.getItem('default-View');
  if(cachedView){
    $('#default-View').val(cachedView);
  }

  $('#default-View').change(function(e){
    localStorage.setItem('default-View', e.target.value);
    session.layout.content[0].type = e.target.value;
  });

  $('#stash-auto-yes').parent().on('click', function(){
    localStorage.setItem('stash-auto', 'true');
  });

  if(localStorage.getItem('stash-auto') === 'true'){
    $('#stash-auto-yes').parent().trigger('click');
  }

  $('#stash-auto-no').parent().on('click', function(){
    if(temp.autostash) clearInterval(temp.autostash.interval);
    localStorage.setItem('stash-auto', 'false');
  });

  function message(msg){
    messages.push(msg);
    $('#loading-information').html(messages.join('<br />'));
  }

  var messageTimeout, messages = [];

  $('#launch').click(function(e){
    session.meta.startTime = Date.now();
    $('#launch').prop('disabled', true);
    messages = [];
    $('#SettingsTab').attr('data-target', '#global-settings-modal');
    session.data = app.dataSkeleton();
    $('#loading-information').html('');

    $('#loading-information-modal').modal({
      backdrop: false,
      keyboard: false
    });

    messageTimeout = setTimeout(function(){
      $('#loadCancelButton').slideDown();
      alertify.warning('If you stare long enough, you can reverse the DNA Molecule\'s spin direction');
    }, 20000);

    $('#file-panel .file-table-row').each(function(i, el){
      var $el = $(el);
      var fname = $el.data('filename');
      var selects = $el.find('select');
      var f = session.files.find(function(file){ return file.name === fname; });
      f.format = $el.find('input[type="radio"]:checked').data('type');
      f.field1 = selects.get(0).value;
      f.field2 = selects.get(1).value;
      f.field3 = selects.get(2).value;
    });

    var hierarchy = ['newick', 'matrix', 'link', 'node', 'fasta'];

    var anySequences = false;
    var check = session.files.length > 1;
    var defaultMetric = session.style.widgets['link-sort-variable'];

    session.state.metrics = [defaultMetric];
    session.data.linkFields = session.data.linkFields.concat(session.state.metrics);

    session.files.sort(function(a, b){ return hierarchy.indexOf(a.format) - hierarchy.indexOf(b.format); });

    //First Pass: Read all files, identify all distinct nodes.
    session.files.forEach(function(file, fileNum){
      var filename = file.name;
      var extension = filename.split('.').pop().toLowerCase();

      if(file.format === 'fasta'){

        message(`Parsing ${filename} as FASTA...`);
        var start = Date.now();
        anySequences = true;
        var newNodes = 0;
        var seqs = app.parseFASTA(file.contents);
        var n = seqs.length;
        for(var i = 0; i < n; i++){
          var node = seqs[i];
          if(!node) continue;
          node.id = filterXSS(node.id);
          node.seq = filterXSS(node.seq);
          node.origin = [filename];
          newNodes += app.addNode(node);
        }
        console.log('FASTA Parse time:', ((Date.now()-start)/1000).toLocaleString(), 's');
        message(` - Parsed ${newNodes} New, ${seqs.length} Total Nodes from FASTA.`);
        if(fileNum === session.files.length - 1) processSequences();

      } else if(file.format === 'link'){

        message(`Parsing ${filename} as Link List...`);
        var start = Date.now();
        var l = 0;

        function forEachLink(link){
          Object.keys(link).forEach(function(key){
            link[key] = filterXSS(link[key]);
          });
          var base = {
            source: '' + link[file.field1],
            target: '' + link[file.field2],
            origin: [filename],
            visible: true
          };
          session.state.metrics.forEach(function(metric){
            metric = metric.toLowerCase();
            base[metric] = null;
          });
          var num = parseFloat(link[file.field3]);
          if(_.isNumber(num) && !_.isNaN(num)){
            base[session.style.widgets['link-sort-variable']] = num;
          } else {
            base[session.style.widgets['link-sort-variable']] = 0;
          }
          l += app.addLink(Object.assign(base, link), check);
        }

        if(extension == 'xls' || extension == 'xlsx'){

          var workbook = XLSX.read(file.contents, {type: 'array'});
          var data = XLSX.utils.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]]);
          data.map(forEachLink);
          message(` - Parsed ${l} New, ${data.length} Total Links from Link Excel Table.`);
          data.forEach(row => {
            Object.keys(row).forEach(function(key){
              key = filterXSS(key);
              if(!session.data.linkFields.includes(key)){
                session.data.linkFields.push(key);
              }
            });
          });
          var n = 0;
          var nodeIDs = _.union(
            _.map(data, function(l){ return l[file.field1]; }),
            _.map(data, function(l){ return l[file.field2]; })
          );
          var t = nodeIDs.length;
          nodeIDs.forEach(function(d){
            n += app.addNode({
              id: '' + d,
              origin: [filename]
            });
          });
          console.log('Link Excel Parse time:', ((Date.now()-start)/1000).toLocaleString(), 's');
          message(` - Parsed ${n} New, ${t} Total Nodes from Link Excel Table.`);
          if(fileNum === session.files.length - 1) processSequences();

        } else {

          Papa.parse(file.contents, {
            header: true,
            worker: true,
            dynamicTyping: true,
            skipEmptyLines: true,
            complete: function(results){
              var data = results.data;
              data.map(forEachLink);
              message(` - Parsed ${l} New, ${data.length} Total Links from Link CSV.`);
              results.meta.fields.forEach(function(key){
                key = filterXSS(key);
                if(!session.data.linkFields.includes(key)){
                  session.data.linkFields.push(key);
                }
              });
              var n = 0;
              var nodeIDs = _.union(
                _.map(data, function(l){ return l[file.field1]; }),
                _.map(data, function(l){ return l[file.field2]; })
              );
              var t = nodeIDs.length;
              nodeIDs.forEach(function(d){
                n += app.addNode({
                  id: '' + d,
                  origin: [filename]
                });
              });
              console.log('Link CSV Parse time:', ((Date.now()-start)/1000).toLocaleString(), 's');
              message(` - Parsed ${n} New, ${t} Total Nodes from Link CSV.`);
              if(fileNum === session.files.length - 1) processSequences();
            }
          });
        }
      } else if(file.format === 'node'){

        message(`Parsing ${filename} as Node List...`);
        var start = Date.now();
        if(file.field2 !== 'None') anySequences = true;

        var m = 0, n = 0;

        if(extension == 'xls' || extension == 'xlsx'){

          var workbook = XLSX.read(file.contents, {type: 'array'});
          var data = XLSX.utils.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]]);
          data.forEach(function(results){
            var node = JSON.parse(filterXSS(JSON.stringify(results)));
            Object.keys(node).forEach(function(key){
              if(!session.data.nodeFields.includes(key)){
                session.data.nodeFields.push(key);
              }
            });
            node.id = '' + node[file.field1];
            if(file.field2 !== 'None') node.seq = node[file.field2];
            node['origin'] = [filename];
            m += app.addNode(node);
          });
          console.log('Node Excel Parse time:', ((Date.now()-start)/1000).toLocaleString(), 's');
          message(` - Parsed ${m} New, ${n} Total Nodes from Node Excel Table.`);
          if(fileNum === session.files.length - 1) processSequences();

        } else {

          Papa.parse(file.contents, {
            header: true,
            worker: true,
            dynamicTyping: true,
            skipEmptyLines: true,
            step: function(results){
              if(0 === n++){
                results.meta.fields.forEach(function(key){
                  key = filterXSS(key);
                  if(!session.data.nodeFields.includes(key)){
                    session.data.nodeFields.push(key);
                  }
                });
              }
              node = JSON.parse(filterXSS(JSON.stringify(results.data[0])));
              node.id = '' + node[file.field1];
              if(file.field2 !== 'None') node.seq = node[file.field2];
              node['origin'] = [filename];
              m += app.addNode(node);
            },
            complete: function(){
              console.log('Node CSV Parse time:', ((Date.now()-start)/1000).toLocaleString(), 's');
              message(` - Parsed ${m} New, ${n} Total Nodes from Node CSV.`);
              if(fileNum === session.files.length - 1) processSequences();
            }
          });
        }

      } else if(file.format === 'matrix'){

        message(`Parsing ${filename} as Distance Matrix...`);
        var start = Date.now();

        if(extension == 'xls' || extension == 'xlsx'){

          var workbook = XLSX.read(file.contents, {type: 'array'});
          var data = XLSX.utils.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]], {header: 1});
          var nodeIDs = [], nn = 0, nl = 0;
          data.forEach(function(row, i){
            if(i == 0){
              nodeIDs = row.map(filterXSS);
              nodeIDs.forEach(function(cell, k){
                if(k > 0){
                  nn += app.addNode({
                    id: '' + cell,
                    origin: [filename]
                  });
                }
              });
            } else {
              var source = '' + row[0];
              row.forEach(function(cell, j){
                if(j === 0) return;
                var target = '' + nodeIDs[j];
                if(source === target) return;
                var base = {
                  source: source,
                  target: target,
                  origin: [filename]
                };
                session.state.metrics.forEach(function(metric){
                  metric = metric.toLowerCase();
                  base[metric] = 0;
                });
                base[defaultMetric] = parseFloat(cell),
                nl += app.addLink(base, true);
              });
            }
          });
          console.log('Distance Matrix Excel Parse time:', ((Date.now()-start)/1000).toLocaleString(), 's');
          message(` - Parsed ${nn} New, ${data.length-1} Total Nodes from Excel Distance Matrix.`);
          message(` - Parsed ${nl} New, ${((data.length-1)**2-(data.length-1))/2} Total Links from Excel Distance Matrix.`);
          if(fileNum === session.files.length - 1) processSequences();

        } else {

          Papa.parse(file.contents, {
            worker: true,
            skipEmptyLines: true,
            complete: function(results){
              var nodeIDs = [];
              var nn = 0, nl = 0;
              var check = session.files.length > 1;
              results.data.forEach(function(row, i){
                if(i === 0){
                  nodeIDs = row.map(filterXSS);
                  nodeIDs.forEach(function(cell, k){
                    if(k > 0){
                      nn += app.addNode({
                        id: '' + cell,
                        origin: [filename]
                      });
                    }
                  });
                } else {
                  var source = '' + row[0];
                  row.forEach(function(cell, j){
                    if(j === 0) return;
                    var target = '' + nodeIDs[j];
                    if(source === target) return;
                    var base = {
                      source: source,
                      target: target,
                      origin: [filename]
                    };
                    session.state.metrics.forEach(function(metric){
                      metric = metric.toLowerCase();
                      base[metric] = 0;
                    });
                    base[defaultMetric] = parseFloat(cell),
                    nl += app.addLink(base, true);
                  });
                }
              });
              console.log('Distance Matrix CSV Parse time:', ((Date.now()-start)/1000).toLocaleString(), 's');
              message(` - Parsed ${nn} New, ${results.data.length - 1} Total Nodes from Distance Matrix.`);
              message(` - Parsed ${nl} New, ${((results.data.length-1)**2 - (results.data.length-1))/2} Total Links from Distance Matrix.`);
              if(fileNum === session.files.length - 1) processSequences();
            }
          });
        }
      } else { // if(file.format == 'newick'){

        if(!session.data.linkFields.includes('patristic')) session.data.linkFields.push('patristic');
        var links = 0;
        var newLinks = 0;
        var newNodes = 0;
        var tree = patristic.parseNewick(file.contents);
        var m = tree.toMatrix(), matrix = m.matrix, labels = m.ids.map(filterXSS), n = labels.length;
        for(var i = 0; i < n; i++){
          var source = labels[i];
          newNodes += app.addNode({
            id: source,
            origin: [file.name]
          });
          for(var j = 0; j < i; j++){
            var val = parseFloat(matrix[i][j]);
            var base = {
              source: source,
              target: labels[j],
              origin: [file.name],
              patristic: val
            };
            session.state.metrics.forEach(function(metric){
              metric = metric.toLowerCase();
              base[metric] = 0;
            });
            base[defaultMetric] = val;
            newLinks += app.addLink(base);
            links++;
          }
        }
        message(` - Parsed ${newNodes} New, ${n} Total Nodes from Newick Tree.`);
        message(` - Parsed ${newLinks} New, ${links} Total Links from Newick Tree.`);
        if(fileNum === session.files.length - 1) processSequences();
      }
    });

    function processSequences(){
      if(!anySequences){
        $('.show-for-seq').hide();
        app.finishUp();
        return;
      }
      session.data.nodeFields.push('seq');
      $('.show-for-seq').show();
      $('.show-for-seq.row').css('display', 'flex');
      var allDashes = /^-*$/;
      var subset = session.data.nodes.filter(function(d){ return !allDashes.test(d.seq); });
      if($('#doNotAlign').is(':checked')){
        computeLinks(subset);
      } else {
        message('Aligning Sequences...');
        app.align({
          reference: session.data.reference,
          aligner: $('input[name="shouldAlign"]:checked').data('aligner'),
          isLocal: $('#localAlign').is(':checked'),
          match: [$('#alignerMatch').val(), $('#alignerMismatch').val()].map(parseFloat),
          gap: [$('#alignerGapO').val(), $('#alignerGapE').val()].map(parseFloat),
          nodes: subset
        }, function(response){
          subset.forEach(function(node){
            var match = response.find(function(possible){
              return possible.id === node.id;
            });
            if(match) Object.assign(node, match);
          });
          computeLinks(subset);
        });
      }
    };

    function computeLinks(subset){
      message('Computing Links based on Genomic Proximity...');
      app.computeConsensus(function(consensus){
        session.data.consensus = consensus;
        app.computeConsensusDistances(function(nodes){
          var n = nodes.length;
          for(var i = 0; i < n; i++){
            var node = nodes[i];
            session.data.nodes[node.index]._diff = node._diff;
          }
          app.computeLinks(subset, function(k){
            message(` - Found ${k} New Links from Genomic Proximity`);
            app.finishUp();
          });
        });
      });
      session.data.nodeFields.push('_diff');
    };
  });

  app.finishUp = function(oldSession){
    if(!oldSession){
      app.computeDM(function(){
        if($('[name="shouldTriangulate"]:checked').attr('id') == 'doTriangulate'){
          session.state.metrics.forEach(function(m){
            app.computeTriangulation(m, function(){
              if(m == session.style.widgets['link-sort-variable']){
                app.computeNN(session.style.widgets['link-sort-variable']);
              }
              app.computeTree(m, () => {
                if(m == session.style.widgets['link-sort-variable']){
                  app.computeDirectionality();
                }
              });
            });
          });
        } else {
          app.computeNN(session.style.widgets['link-sort-variable']);
          session.state.metrics.forEach(function(m){ app.computeTree(m, () => {
            if(m == session.style.widgets['link-sort-variable']){
              app.computeDirectionality();
            }
          })});
        }
      });
    }
    clearTimeout(messageTimeout);
    ['node', 'link'].forEach(function(v){
      var n = session.data[v+'s'].length;
      var fields = session.data[v+'Fields'];
      for(var i = 0; i < n; i++){
        var d = session.data[v+'s'][i];
        fields.forEach(function(field){
          if(!(field in d)) d[field] = null;
        });
      }
    });
    $('#link-sort-variable').html(
      session.data.linkFields.map(function(field){
        return '<option value="' + field + '">' + app.titleize(field) + '</option>';
      }).join('\n')
    ).val(session.style.widgets['link-sort-variable']);
    $('#node-color-variable').html(
      '<option selected>None</option>' +
      session.data.nodeFields.map(function(field){
        return '<option value="' + field + '">' + app.titleize(field) + '</option>';
      }).join('\n')
    );
    $('#link-color-variable').html(
      '<option>None</option>' +
      session.data.linkFields.map(function(field){
        return '<option value="' + field + '">' + app.titleize(field) + '</option>';
      }).join('\n')
    );
    try {
      app.updateThresholdHistogram();
    } catch(error){
      console.error(error);
      $('#loading-information-modal').modal('hide');
      alertify
        .error('Something went wrong! Please start a new session and try again.')
        .delay(0)
        .ondismiss(function(){
          window.location.reload();
        });
    }
    app.setLinkVisibility();
    app.setNodeVisibility();
    app.tagClusters();
    app.computeDegree();
    app.updateStatistics();
    $('#network-statistics-wrapper').fadeIn();
    session.meta.loadTime = Date.now() - session.meta.startTime;
    console.log('Total load time:', (session.meta.loadTime/1000).toLocaleString() + 's');
    if(oldSession){
      layout.root.contentItems[0].remove();
      setTimeout(function(){app.loadLayout(session.layout)}, 80);
    } else {
      app.launchView($('#default-View').val());
    }
    if(localStorage.getItem('stash-auto') === 'true'){
      temp.autostash = {
        time: Date.now(),
        interval: setInterval(function(){
          var newTime = Date.now();
          localforage.setItem('stash-' + newTime + '-autostash', JSON.stringify(session)).then(function(){
            localforage.removeItem('stash-' + temp.autostash.time + '-autostash').then(function(){
              temp.autostash.time = newTime;
            });
          });
        }, 60000)
      };
    }
    $('.hideForHIVTrace').css('display', 'flex');
    setTimeout(function(){
      var files = layout.contentItems.find(function(item){ return item.componentName === 'files'; });
      if(files) files.remove();
      $('#loading-information-modal').modal('hide');
    }, 1200);
  };
})();
</script>
