<div id="file_panel" class="container-fluid">
  <div id="file_table" class="container"></div>
  <div class="container">
    <hr class="my-4">
    <input type="file" id="data_files" multiple="true" />
    <button type="button" id="alignerControlsButton" class="btn btn-default btn-nr floater" data-toggle="modal" data-target="#alignerControlsModal">Alignment Options</button>
    <button type="submit" id="main-submit" class="btn btn-success float-right" title="Please select a Network CSV or FASTA File">Submit</button>
  </div>
</div>

<div id="alignerControlsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="#alignerControlsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="alignerControlsModalTitle" class="modal-title">Alignment Configuration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="form-group row" style="margin-bottom: 1rem">
            <div class="col-2">
              <a href="#" data-toggle="tooltip" title="Should MicrobeTrace align your sequences?">Align</a>
            </div>
            <div class="col-10">
              <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                <label class="btn btn-secondary active">
                  <input type="radio" name="shouldAlign" id="align" autocomplete="off" checked> Yes
                </label>
                <label class="btn btn-secondary">
                  <input type="radio" name="shouldAlign" id="doNotAlign" autocomplete="off"> No
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row" id="referenceRow">
            <div class="col-2">
              <a href="#" data-toggle="tooltip" title="Against what sequence should MicrobeTrace align your sequences?">Reference</a>
            </div>
            <div class="col-10">
              <textarea id="reference"></textarea>
              <input id="refSeqFileLoad" class="btn btn-secondary btn-sm btn-nr" type="file" value="Load From File" />
              <input id="refSeqLoad" class="btn btn-secondary btn-sm" type="button" value="Load HXB2.pol" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer clearfix">
        <button type="submit" class="btn btn-primary pull-right" data-dismiss="modal" title="Confirm Alignment Configurations are All Properly Set">Confirm</button>
      </div>
    </div>
  </div>
</div>

<script>

$('#data_files').on('change', function(e){
  var files = e.target.files;
  for(var i = 0, f; f = files[i]; i++) addFileToTable(f);
  $('#main-submit').css('display', 'inline').focus();
}).filestyle({
  text: 'Add File(s)',
  input: false,
  btnClass: 'btn-primary'
});

$('#file_panel').on('dragover', function(evt){
  evt.stopPropagation();
  evt.preventDefault();
  evt.originalEvent.dataTransfer.dropEffect = 'copy';
}).on('drop', function(evt){
  evt.stopPropagation();
  evt.preventDefault();
  var files = evt.originalEvent.dataTransfer.files;
  for(var i = 0, f; f = files[i]; i++) addFileToTable(f);
  $('#main-submit').css('display', 'inline').focus();
});

function addFileToTable(file){
  session.files.push(file);
  var extension = file.name.split('.').pop().slice(0,3).toLowerCase();
  var isFasta = (extension === 'fas');
  if(isFasta) $('#alignerControlsButton').css('display', 'inline');
  var isNode = file.name.toLowerCase().includes('node');
  var root = $('<div class="form-group row file-table-row"></div>');
  $('<div class="col-8 filename"></div>')
    .append($('<a href="#"><span class="oi oi-circle-x"></span></a>').click(function(e){
      session.files.splice(session.files.indexOf(file.name), 1);
      root.slideUp(function(){ root.remove(); });
    }))
    .append(`&nbsp;<a href="#" title="${file.name}">${file.name}</a>`)
    .appendTo(root);
  root.append(`
    <div class="col-4 text-right">
      <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
        <label class="btn btn-secondary${!isFasta&!isNode?' active':''}">
          <input type="radio" name="options-${file.name}" data-type="link" autocomplete="off"${!isFasta&!isNode?' checked':''}>Link</input>
        </label>
        <label class="btn btn-secondary${!isFasta&isNode?' active':''}">
          <input type="radio" name="options-${file.name}" data-type="node" autocomplete="off"${!isFasta&isNode?' checked':''}>Node</input>
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options-${file.name}" data-type="distmat" autocomplete="off">Dist. Mat.</input>
        </label>
        <label class="btn btn-secondary${isFasta?' active':''}">
          <input type="radio" name="options-${file.name}" data-type="fasta" autocomplete="off"${isFasta?' checked':''}>FASTA</input>
        </label>
      </div>
    </div>
  `);
  Papa.parse(file, {
    dynamicTyping: true,
    header: true,
    preview: 1,
    complete: function(output){
      var headers = output.meta.fields.map(app.striptags);
      var options = '<option>None</option>' + headers.map(h => `<option value="${h}">${app.titleize(h)}</option>`).join('\n');
      $(`<div class='col-4 '${isFasta?' style="display: none;"':''} data-file='${file.name}'>
          <label for="file-${file.name}-field-1">${isNode?'ID':'Source'}</label>
          <select id="file-${file.name}-field-1" class="custom-select custom-select-sm">${options}</select>
        </div>
        <div class='col-4 '${isFasta?' style="display: none;"':''} data-file='${file.name}'>
          <label for="file-${file.name}-field-2">${isNode?'Sequence':'Target'}</label>
          <select id="file-${file.name}-field-2" class="custom-select custom-select-sm">${options}</select>
        </div>
        <div class='col-4 '${!isFasta&&!isNode?'':' style="display: none;"'} data-file='${file.name}'>
          <label for="file-${file.name}-field-3">Distance</label>
          <select id="file-${file.name}-field-3" class="custom-select custom-select-sm">${options}</select>
        </div>`).appendTo(root);
      var a = isNode ? ['ID', 'Id', 'id'] : ['SOURCE', 'Source', 'source'],
          b = isNode ? ['SEQUENCE', 'SEQ', 'Sequence', 'sequence', 'seq'] : ['TARGET', 'Target', 'target'],
          c = ['SNPs', 'TN93', 'snps', 'tn93', 'length', 'distance'];
      [a, b, c].forEach((list, i) => {
        list.forEach(title => {
          if(headers.includes(title)){
            $(root.find('select').get(i)).val(title);
          }
        });
      });
      root.appendTo('#file_table');
      var refit = function(e){
        var type = $(e ? e.target : `[name="options-${file.name}"]:checked`).data('type'),
            these = $(`[data-file='${file.name}']`),
            first = $(these.get(0)),
            second = $(these.get(1)),
            third = $(these.get(2)),
            a = ['SOURCE', 'Source', 'source'],
            b = ['TARGET', 'Target', 'target'],
            c = ['SNPs', 'TN93', 'snps', 'tn93', 'length', 'distance'];
        if(type === 'node'){
          a = ['ID', 'Id', 'id'];
          b = ['SEQUENCE', 'SEQ', 'Sequence', 'sequence', 'seq'];
          first.slideDown().find('label').text('ID');
          second.slideDown().find('label').text('Sequence');
          third.slideUp();
        } else if(type === 'link'){
          first.slideDown().find('label').text('Source');
          second.slideDown().find('label').text('Target');
          third.slideDown();
        } else {
          these.slideUp();
        }
        [a, b, c].forEach((list, i) => {
          list.forEach(title => {
            if(headers.includes(title)){
              $(these.find('select').get(i)).find('select').val(title);
            }
          });
        });
      };
      $(`[name="options-${file.name}"]`).change(refit);
      refit();
    }
  });
}

$('#align').parent().click(e => $('#referenceRow').slideDown());
$('#doNotAlign').parent().click(e => $('#referenceRow').slideUp());

$('#refSeqFileLoad').filestyle({
  text: 'Load from File',
  input: false,
  btnClass: 'btn-secondary btn-sm'
});

$('#refSeqFileLoad').on('change', function(e){
  var file = e.target.files[0];
  var reader = new FileReader();
  reader.onloadend = function(e){
    if (e.target.readyState == FileReader.DONE){
      $('#reference').val(app.striptags(app.parseFASTA(e.target.result)[0].seq));
    }
  };
  reader.readAsText(file);
});

$('#refSeqLoad').click(e => $('#reference').val($('#HXB2pol').html()));
$('#reference').val($('#HXB2pol').html());

$('#loadCancelButton').click(e => {
  $('#loadingInformationModal').modal('hide');
  app.reset();
});

function message(msg){
  session.messages.push(msg);
  $('#loadingInformation').html(session.messages.join('<br />'));
}

$('#main-submit').click(function(e){
  session.messages = [];
  session.data = app.dataSkeleton();
  $('#loadingInformation').html('');

  $('#loadingInformationModal').modal({
    keyboard: false,
    backdrop: 'static'
  });

  var files = [];
  $('#file_panel .row').each((i, el) => {
    var $el = $(el);
    var fname = $el.find('.filename').text().trim();
    var selects = $el.find('select');
    files.push({
      file: session.files.find(function(file){ return file.name === fname; }),
      type: $el.find('input[type="radio"]:checked').data('type'),
      field1: selects.get(0).value,
      field2: selects.get(1).value,
      field3: selects.get(2).value
    });
  });

  messageTimeout = setTimeout(function(){
    $('#loadCancelButton').slideDown();
    alertify.warning("If you stare long enough, you can reverse the DNA Molecule\'s spin direction");
  }, 20000);

  var hierarchy = ['distmat', 'link', 'node', 'fasta'];

  var anySequences = false;

  files.sort((a, b) => hierarchy.indexOf(a.type) - hierarchy.indexOf(b.type));
  files.forEach((file, fileNum) => {
    var filename = file.file.name;

    if(file.type === 'fasta'){

      message(`Parsing ${filename} as FASTA...`);
      var reader = new FileReader();
      reader.onloadend = function(e){
        anySequences = true;
        var n = 0;
        var seqs = app.parseFASTA(e.target.result);
        seqs.forEach(node => {
          node.id = app.striptags(node.id);
          node.seq = app.striptags(node.seq);
          node['origin'] = [filename];
          n += app.addNode(node);
        });
        message(` - Parsed ${n} New, ${seqs.length} Total Nodes from FASTA.`);
        if(fileNum == files.length - 1) nextStuff();
      };
      reader.readAsText(file.file, 'UTF-8');

    } else if(file.type === 'link'){

      message(`Parsing ${filename} as Link CSV...`);
      var l = 0;
      Papa.parse(file.file, {
        header: true,
        worker: true,
        dynamicTyping: true,
        skipEmptyLines: true,
        complete: results => {
          results.data.forEach(link => {
            Object.keys(link).forEach(function(key){
              link[key] = app.striptags(link[key]);
            });
            l += app.addLink(Object.assign({
              source: '' + link[file.field1],
              target: '' + link[file.field2],
              distance: file.field3 === 'None' ? 0 : link[file.field3],
              origin: [filename],
              visible: 1
            }, link));
          });
          message(` - Parsed ${l} New, ${results.data.length} Total Links from Link CSV.`);
          results.meta.fields.map(key => {
            key = app.striptags(key);
            if(!session.data.linkFields.includes(key)){
              session.data.linkFields.push(key);
            }
          });
          var n = 0;
          var nodeIDs = _.union(_.map(results.data, file.field1), _.map(results.data, file.field2));
          var t = nodeIDs.length;
          nodeIDs.forEach(d => n += app.addNode({
            id: '' + d,
            origin: [filename]
          }));
          message(` - Parsed ${n} New, ${t} Total Nodes from Link CSV.`);
          if(fileNum == files.length - 1) nextStuff();
        }
      });

    } else if(file.type === 'node'){

      message(`Parsing ${filename} as Node CSV...`);

      Papa.parse(file.file, {
        header: true,
        worker: true,
        dynamicTyping: true,
        skipEmptyLines: true,
        complete: results => {
          var n = 0;
          results.data.forEach(node => {
            node = JSON.parse(app.striptags(JSON.stringify(node)));
            node.id = '' + node[file.field1];
            if(file.field2 !== 'None') node.seq = node[file.field2];
            node['origin'] = [filename];
            n += app.addNode(node);
          });
          results.meta.fields.forEach(key => {
            key = app.striptags(key);
            if(!session.data.nodeFields.includes(key)){
              session.data.nodeFields.push(key);
            }
          });
          if(results.meta.fields.includes('seq')) anySequences = 1;
          message(` - Parsed ${n} New, ${results.data.length} Total Nodes from Node CSV.`);
          if(fileNum == files.length - 1) nextStuff();
        }
      });

    } else { //Distance Matrix

      message(`Parsing ${filename} as Distance Matrix...`);

      Papa.parse(file.file, {
        worker: true,
        dynamicTyping: true,
        skipEmptyLines: true,
        complete: results => {
          var nodeIDs = [];
          var nn = 0, nl = 0;
          results.data.forEach((row, i) => {
            if(i == 0){
              nodeIDs = row.map(app.striptags);
              nodeIDs.forEach((cell, k) => {
                if(k > 0){
                  nn += app.addNode({
                    id: '' + cell,
                    origin: [filename]
                  });
                }
              });
            } else {
              row.forEach((cell, j) => {
                if(j > i){
                  nl += app.addLink({
                    source: '' + nodeIDs[i],
                    target: '' + nodeIDs[j],
                    distance: cell,
                    origin: [filename]
                  });
                }
              });
            }
          });
          message(` - Parsed ${nn} New, ${results.data.length - 1} Total Nodes from Distance Matrix.`);
          message(` - Parsed ${nl} New, ${(Math.pow(results.data.length-1, 2) - results.data.length + 1)/2} Total Links from Distance Matrix.`);
          if(fileNum == files.length - 1) nextStuff();
        }
      });
    }
  });

  var nextStuff = function(){
    if(anySequences){
      $('.showForSequence').show();
      var allDashes = /^-*$/;
      var subset = session.data.nodes.filter(d => !allDashes.test(d.seq));
      if($('#align').is(':checked')){
        alignAndComputeDM(subset);
      } else {
        computeDM(subset);
      }
    } else {
      $('.showForSequence').hide();
      clearTimeout(messageTimeout);
      $('#linkSortVariable').html(
        session.data.linkFields.map(function(field){
          return '<option value="' + field + '"' + (field === 'distance' ? ' selected' : '') + '>' + app.titleize(field) + '</option>';
        }).join('\n')
      );
      app.launchView('2d_network');
      if(session.network){
        session.network.render();
        session.network.force.alpha(0.3).alphaTarget(0).restart();
        session.network.updateStatistics();
        $('#loadingInformationModal').modal('hide');
        setTimeout(session.network.fit, 1500);
      }
    }
  };

  var alignAndComputeDM = function(subset){
    message('Aligning Sequences...');
    var aligner = new Worker('scripts/aligner.js');
    aligner.postMessage({
      reference: $('#reference').val(),
      nodes: subset
    });
    aligner.onmessage = function(response){
      subset.forEach(function(node, i){
        node = response.data[i];
      });
      computeDM(subset);
    };
  };

  var computeDM = function(subset){
    message('Computing New Distance Matrices...');
    var computer = new Worker('scripts/compute-dm.js');
    computer.postMessage(subset);
    computer.onmessage = function(response){
      var k = 0;
      clearTimeout(messageTimeout);
      response.data.links.forEach(function(link){
        k += app.addLink(link);
      });
      session.data.distance_matrix = response.data;
      delete session.data.distance_matrix.links;
      message(` - Found ${k} New Links while computing Distance Matrices`);
      $('#linkSortVariable').html(
        session.data.linkFields.map(function(field){
          return '<option value="' + field + '"' + (field === 'distance' ? ' selected' : '') + '>' + app.titleize(field) + '</option>';
        }).join('\n')
      );
      app.launchView('2d_network');
      if(session.network){
        session.network.render();
        session.network.force.alpha(0.3).alphaTarget(0).restart();
        setTimeout(function(){
          session.network.fit();
          $('#loadingInformationModal').modal('hide');
        }, 1500);
      }
    };
  };
});

</script>
