  <svg id="flow"></svg>

  <div class="view_controls">
    <button type="button" id="toggle-flow-settings" class="btn btn-light btn-sm">
      <span class="oi oi-cog"></span>
    </button>
    <button type="button" class="btn btn-light btn-sm"  data-toggle="modal" data-target="#export-flow-modal" title="Export Network">
      <span class="oi oi-data-transfer-download"></span>
    </button>
  </div>

  <div id="flow-settings-pane" class="left_pane">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item active">
        <a href="#flow-configurations" id="flow-tab" class="nav-link active" aria-controls="flow" role="tab" data-toggle="tab">Flow Diagram</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="flow-configurations" role="tabpanel" aria-labelledby="flow-tab">
        <div class="form-group row">
          <div class="col-3">Left Side Variable</div>
          <div class="col-9">
            <select id="flow-source-variable" class="custom-select custom-select-sm"></select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Right Side Variable</div>
          <div class="col-9">
            <select id="flow-target-variable" class="custom-select custom-select-sm"></select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="export-flow-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Export Flow Diagram</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-9">
              <input type="text" id="export-flow-file-name" class="form-control form-control-sm" placeholder="Filename" />
            </div>
            <div class="col-3">
              <select id="export-flow-file-type" class="form-control form-control-sm">
                <option selected>png</option>
                <option>svg</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
          <button type="button" id="flow-export" class="btn btn-primary" data-dismiss="modal">Export</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script>
  (function(){

    function drawFlowDiagram(){
      if(!$('svg#flow').length) return;
      let width = $('svg#flow').parent().width() - 40,
          height = $('svg#flow').parent().height() - 60;

      let nodes = app.getVisibleNodes(true);

      svg = d3.select('svg#flow').html(null)
          .attr('width', width)
          .attr('height', height);

      let format = d3.format(',.0f'),
          color = d3.scaleOrdinal(d3.schemeCategory10);

      let sankey = d3.sankey()
          .nodeWidth(15)
          .nodePadding(10)
          .extent([[1, 1], [width - 1, height - 6]]);

      let link = svg.append('g')
          .attr('class', 'links')
          .attr('fill', 'none')
          .attr('stroke', '#000000')
          .attr('stroke-opacity', 0.2)
        .selectAll('path');

      let node = svg.append('g')
          .attr('class', 'nodes')
          .attr('font-family', 'sans-serif')
          .attr('font-size', 10)
        .selectAll('g');

      let onlyUnique = (value, index, self) => self.indexOf(value) === index;

      wrapper = {links: []};
      source_variable = $( '#flow-source-variable').val();
      source_values  = nodes.map(n => n[source_variable]+'').filter(onlyUnique);
      target_variable = $('#flow-target-variable').val();
      target_values = nodes.map(n => n[target_variable]+'').filter(onlyUnique);
      wrapper['nodes'] = source_values.concat(target_values).map(n => ({'name': n}));

      target_list = {};
      target_values.forEach(target => target_list[target] = 0);

      link_matrix = {};
      source_values.forEach(source => link_matrix[source] = Object.assign({}, target_list));

      nodes.forEach(n => link_matrix[n[source_variable]][n[target_variable]]++);

      source_values.forEach((source, i) => {
        target_values.forEach((target, j) => {
          if(link_matrix[source][target] > 0){
            wrapper.links.push({
              'source': i,
              'target': source_values.length + j,
              'value':  link_matrix[source][target]
            });
          }
        });
      });

      sankey(wrapper);

      link = link
        .data(wrapper.links)
        .enter().append('path')
          .attr('d', d3.sankeyLinkHorizontal())
          .attr('stroke-width', d => Math.max(1, d.width));

      link.append('title')
          .text(d => d.source.name + ' → ' + d.target.name + '\n' + format(d.value));

      node = node
        .data(wrapper.nodes)
        .enter().append('g');

      node.append('text')
          .attr('x', d => d.x0 - 6)
          .attr('y', d => (d.y1 + d.y0) / 2)
          .attr('dy', '0.35em')
          .attr('text-anchor', 'end')
          .text(d => d.name)
        .filter(d => d.x0 < width / 2)
          .attr('x', d => d.x1 + 6)
          .attr('text-anchor', 'start');

      node.append('rect')
          .attr('x', d => d.x0)
          .attr('y', d => d.y0)
          .attr('height', d => Math.abs(d.y1 - d.y0))
          .attr('width', d => d.x1 - d.x0)
          .attr('fill', d => color((d.name+'').replace(/ .*/, '')))
          .attr('stroke', '#000000');

      node.append('title').text(d => d.name + '\n' + format(d.value));

      if(session.style.widgets['background-color']) $('#flow').parent().css('background-color', session.style.widgets['background-color']);
    }

    $('#toggle-flow-settings').click(function(){
      let pane = $('#flow-settings-pane');
      if(pane.is(':visible')){
        pane.animate({left: '-400px'}, function(){ pane.hide(); });
      } else {
        pane.show(0, function(){ pane.animate({left: '0px'}); });
      }
    });

    $('#flow-source-variable')
      .html(session.data.nodeFields.map((field, i) => `<option${field==session.style.widgets['flow-source-variable']?' selected ':''} value="${field}">${app.titleize(field)}</option>`))
      .change(drawFlowDiagram);

    $('#flow-target-variable')
      .html(session.data.nodeFields.map((field, i) => `<option${field==session.style.widgets['flow-target-variable']?' selected ':''} value="${field}">${app.titleize(field)}</option>`))
      .change(drawFlowDiagram);

    $('#flow-export').click(function(){
      let network = $('#flow')[0];
      let content = app.unparseSVG(network);
      let filetype = $('#export-flow-file-type').val();
      if(filetype === 'svg'){
        let blob = new Blob([content], {type: 'image/svg+xml;charset=utf-8'});
        saveAs(blob, $('#export-flow-file-name').val() + '.' + filetype);
      } else {
        app.blobifySVG(content, network.width.baseVal.value, network.height.baseVal.value, function(blob){
          saveAs(blob, $('#export-flow-file-name').val() + '.' + filetype);
        });
      }
    });

    layout.on('stateChanged', drawFlowDiagram);

    $(window)
      .on('node-selected', function(){
        if($('#flow-source-variable').val() === 'selected' || $('#flow-target-variable').val() === 'selected'){
          drawFlowDiagram();
        }
      })
      .on('link-threshold-change', function(){
        let affected = ['degree', 'cluster'];
        if(affected.includes($('#flow-source-variable').val()) || affected.includes($('#flow-target-variable').val())){
          drawFlowDiagram();
        }
      })
      .on('node-visibility', drawFlowDiagram)
      .on('background-color-change', function(){
        $('#flow-diagram').parent().css('background-color', session.style.widgets['background-color']);
      });

    drawFlowDiagram();
  })();
  </script>
