<div id="flow"></div>

<div class="view-controls">
  <button type="button" id="toggle-flow-settings" data-toggle="button" class="btn btn-light btn-sm">
    <span class="oi oi-cog"></span>
  </button>
  <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#flow-export-modal" title="Export Network">
    <span class="oi oi-data-transfer-download"></span>
  </button>
</div>

<div id="flow-settings-pane" class="left-pane">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active">
      <a href="#flow-configurations" id="flow-tab" class="nav-link active" aria-controls="flow" role="tab" data-toggle="tab">Flow Diagram</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="flow-configurations" role="tabpanel" aria-labelledby="flow-tab">
      <div class="form-group row" title="Should the Flow Diagram show Node or Link Variables?">
        <div class="col-3">Dataset</div>
        <div class="col-9">
          <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
            <label class="btn btn-light col active">
              <input type="radio" name="flow-show" id="flow-showNodes" autocomplete="off" checked> Nodes
            </label>
            <label class="btn btn-light col">
              <input type="radio" name="flow-show" id="flow-showLinks" autocomplete="off"> Links
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row" title="Which variables, in what order, would you like to see in the Flow Diagram?">
        <div class="col-3">Variables</div>
        <div class="col-9">
          <ul id="flow-variables"></ul>
          <button type="button" class="btn btn-primary btn-sm w-100" id="flow-add-variable">Add Variable</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="flow-export-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Export Flow Diagram</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-9">
            <input type="text" id="flow-export-filename" class="form-control form-control-sm" placeholder="Filename">
          </div>
          <div class="col-3">
            <select id="flow-export-filetype" class="form-control form-control-sm">
              <option selected>png</option>
              <option>jpeg</option>
              <option>webp</option>
              <option>svg</option>
            </select>
          </div>
        </div>
        <div class="form-group row mb-0">
          <div class="col-3 offset-9">
            <button id="flow-export-advanced-button" class="btn btn-primary btn-sm w-100" type="button"
              data-toggle="collapse" data-target="#flow-export-advanced" aria-expanded="false"
              aria-controls="flow-export-advanced">Advanced</button>
          </div>
        </div>
        <div class="collapse" id="flow-export-advanced">
          <div class="card card-body">
            <div class="form-group row">
              <div class="col-3">
                <label for="flow-export-scale">Scale</label>
              </div>
              <div class="col-9">
                <input type="number" id="flow-export-scale" class="form-control form-control-sm" min="0" step="0.1"
                  value="1">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">Resolution</div>
              <div id="flow-export-dimensions" class="col-9 text-right"></div>
            </div>
            <div class="row">
              <div class="col-3">
                <label for="flow-export-quality">Quality</label>
              </div>
              <div class="col-9">
                <input type="range" class="custom-range" id="flow-export-quality" min="0" max="1.0" value="0.92" step="0.01">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
        <button type="button" id="flow-export" class="btn btn-primary" data-dismiss="modal">Export</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  (function () {

    let plot;

    function drawFlowDiagram() {
      if (!$('#flow').length) return;
      if (plot) Plotly.purge('flow');
      let width = $('#flow').parent().width() - 40,
        height = $('#flow').parent().height() - 60;

      let data;
      if (session.style.widgets['flow-showNodes']) {
        data = MT.getVisibleNodes();
      } else {
        data = MT.getVisibleLinks();
      }

      let order = [];
      $($('#flow-variables').find('select')).each(function (i) { order.push(this.value); });
      let variables = order.length;

      let values = [], source_values = [], target_values = [], all_values = [], labels = [];
      for (let i = 0; i < variables; i++) {
        variable = order[i];
        let n = data.length;
        for (let j = 0; j < n; j++) {
          let value = data[j][variable] + '';
          if (!values.includes(value)) values.push(value);
        }
        n = values.length;
        for (let j = 0; j < n; j++) {
          labels.push(MT.titleize(variable + ' ' + values[j]));
          let value = variable + '-' + values[j] + '-' + i;
          if (i < variables - 1) source_values.push(value);
          if (i > 0) target_values.push(value);
          all_values.push(value);
        }
      }

      let link_matrix = {}, target_list = {};
      target_values.forEach(target => target_list[target] = 0);
      source_values.forEach(source => link_matrix[source] = Object.assign({}, target_list));

      let m = order.length - 1, n = data.length;
      for (let i = 0; i < m; i++) {
        let source_variable = order[i];
        let target_variable = order[i + 1];
        for (let j = 0; j < n; j++) {
          let point = data[j];
          link_matrix[source_variable + '-' + point[source_variable] + '-' + i][target_variable + '-' + point[target_variable] + '-' + (i + 1)]++;
        }
      }

      let source = [], target = [], value = [];

      m = source_values.length, n = target_values.length;
      for (let i = 0; i < m; i++) {
        let s = source_values[i];
        let index = all_values.indexOf(s);
        for (let j = 0; j < n; j++) {
          let t = target_values[j];
          if (link_matrix[s][t] > 0) {
            source.push(index);
            target.push(all_values.indexOf(t));
            value.push(link_matrix[s][t]);
          }
        }
      }

      Plotly.react('flow', [{
        type: 'sankey',
        showLegend: false,
        orientation: 'h',
        arrangement: 'snap',
        node: {
          pad: 15,
          thickness: 30,
          line: {
            color: 'black',
            width: 0.5
          },
          label: labels.map(MT.titleize),
          color: session.style.widgets['flow-showNodes'] ? session.style.widgets['node-color'] : session.style.widgets['link-color']
        },
        link: { source, target, value }
      }], {
          width: width,
          height: height
        }, {
          displaylogo: false,
          displayModeBar: false
        });

      if (session.style.widgets['background-color']) $('#flow').parent().css('background-color', session.style.widgets['background-color']);
    }

    $('#toggle-flow-settings').click(function () {
      let pane = $('#flow-settings-pane');
      if ($(this).hasClass('active')) {
        pane.animate({ left: '-400px' }, function () { pane.hide(); });
      } else {
        pane.show(0, function () { pane.animate({ left: '0px' }); });
      }
    });

    $('#flow-showNodes').parent().on('click', function () {
      session.style.widgets['flow-showNodes'] = true;
      $('.flow-selector').html(session.data.nodeFields.map(v => '<option value="' + v + '">' + MT.titleize(v) + '</option>').join(''));
    });

    $('#flow-showLinks').parent().on('click', function () {
      session.style.widgets['flow-showNodes'] = false;
      $('.flow-selector').html(session.data.linkFields.map(v => '<option value="' + v + '">' + MT.titleize(v) + '</option>').join(''));
    });

    $('#flow-add-variable').on('click', function () {
      let fields = session.style.widgets['flow-showNodes'] ? session.data.nodeFields : session.data.linkFields;
      $('#flow-variables').append(`<li class='flow-items'>
        <span class="oi oi-x flow-remove"></span>
        <select class='form-control form-control-sm flow-selector'>
          ${fields.map(v => `<option value="${v}" ${v == 'cluster' ? 'selected' : ''}>${MT.titleize(v)}</option>`).join('\n')}
        </select>
        <span class="oi oi-elevator"></span>
      </li>`);

      sortable('#flow-variables')[0].addEventListener('sortupdate', drawFlowDiagram);

      $('.flow-selector').on('change', drawFlowDiagram);

      $('.flow-remove').on('click', function () {
        $(this).parent().slideUp().remove();
        drawFlowDiagram();
      });
    }).trigger('click').trigger('click');

    $('#flow-export-filetype').on('change', function (e) {
      if (e.target.value == 'svg') {
        $('#flow-export-advanced-button').slideUp();
      } else {
        $('#flow-export-advanced-button').slideDown();
      }
    });

    $('#flow-export-scale').on('input', function (e) {
      let scale = parseFloat(e.target.value);
      let wrapper = $('#flow').parent();
      $('#flow-export-dimensions').text(
        Math.round(wrapper.width() * scale) + 'x' +
        Math.round(wrapper.height() * scale) + 'px'
      );
    }).trigger('input');

    $('#flow-export').on('click', function () {
      let $flow = $('#flow .main-svg');
      let flow = $flow.get(0);
      let watermark = d3.select(flow).append('text')
        .text('MicrobeTrace')
        .attr('x', $flow.width() - 150)
        .attr('y', $flow.height() - 20)
        .attr('class', 'watermark');
      let filename = $('#flow-export-filename').val(),
        filetype = $('#flow-export-filetype').val();
      if (filetype == 'svg') {
        let content = MT.unparseSVG(flow);
        let blob = new Blob([content], { type: 'image/svg+xml;charset=utf-8' });
        saveAs(blob, filename + '.' + filetype);
        watermark.remove();
      } else {
        saveSvgAsPng(flow, filename + '.' + filetype, {
          scale: parseFloat($('#flow-export-scale').val()),
          backgroundColor: session.style.widgets['background-color'],
          encoderType: 'image/' + filetype,
          encoderOptions: parseFloat($('#flow-export-quality').val())
        }).then(() => watermark.remove());
      }
    });

    layout.on('stateChanged', drawFlowDiagram);

    $window
      .on('node-selected', drawFlowDiagram)
      .on('link-visibility', drawFlowDiagram)
      .on('node-visibility', drawFlowDiagram)
      .on('background-color-change', function () {
        $('#flow-diagram').parent().css('background-color', session.style.widgets['background-color']);
      });
  })();
</script>
