  <div id="map" class="h-100"></div>

  <div class="view_controls" style="z-index:1001">
    <button type="button" id="toggle_map_settings" class="btn btn-light btn-sm">
      <span class="oi oi-cog"></span>
    </button>
    <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#map_export_modal">
      <span class="oi oi-data-transfer-download"></span>
    </button>
    <button id="map_fitbutton" type="button" class="btn btn-light btn-sm" title="Center and Scale Network">
      <span class="oi oi-target"></span>
    </button>
  </div>

  <div id="map_settings_pane" class="left_pane" style="z-index:1000">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="nav-item">
        <a href="#mapDataConfigurations" class="nav-link active" aria-controls="mapDataConfigurations" role="tab" data-toggle="tab">Data</a>
      </li>
      <li role="presentation" class="nav-item">
        <a href="#mapLayerConfigurations" class="nav-link" aria-controls="mapLayerConfigurations" role="tab" data-toggle="tab">Layers</a>
      </li>
      <li role="presentation" class="nav-item">
        <a href="#mapNodeConfigurations" class="nav-link" aria-controls="mapNodeConfigurations" role="tab" data-toggle="tab">Nodes</a>
      </li>
      <li role="presentation" class="nav-item">
        <a href="#mapLinkConfigurations" class="nav-link" aria-controls="mapLinkConfigurations" role="tab" data-toggle="tab">Links</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade show active" id="mapDataConfigurations">
        <div class="row">
          <div class="col-12">
            <div class="alert alert-info alert-dismissible" role="alert">
              Please select the most precise geographic data your inputs have.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">Latitude</div>
          <div class="col-8">
            <select id="latField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">Longitude</div>
          <div class="col-8">
            <select id="lonField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">Census Tract</div>
          <div class="col-8">
            <select id="tractField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">Zipcode</div>
          <div class="col-8">
            <select id="zipcodeField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">County</div>
          <div class="col-8">
            <select id="countyField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">State</div>
          <div class="col-8">
            <select id="stateField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">Country</div>
          <div class="col-8">
            <select id="countryField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="mapLayerConfigurations">
        <div class="form-group row">
          <div class="col-4">Countries</div>
          <div class="col-8">
            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="nodeOptions" id="showCountries" autocomplete="off" checked> Show
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="nodeOptions" id="hideCountries" autocomplete="off"> Hide
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">States</div>
          <div class="col-8">
            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="nodeOptions" id="showStates" autocomplete="off" checked> Show
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="nodeOptions" id="hideStates" autocomplete="off"> Hide
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">Counties</div>
          <div class="col-8">
            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
              <label class="btn btn-secondary">
                <input type="radio" name="nodeOptions" id="showCounties" autocomplete="off"> Show
              </label>
              <label class="btn btn-secondary active">
                <input type="radio" name="nodeOptions" id="hideCounties" autocomplete="off" checked> Hide
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="alert alert-warning alert-dismissible" role="alert">
              Enabling any of the layers below will download tiles from the Internet. <a href="https://github.com/AABoyles/WebMicrobeTrace/wiki/Tile-Maps">Read More.</a>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <div id="baseRow" class="form-group row ifOnline">
          <div class="col-4">Basemap</div>
          <div class="col-8">
            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
              <label class="btn btn-secondary">
                <input type="radio" name="labelOptions" id="showBasemap" autocomplete="off"> Show
              </label>
              <label class="btn btn-secondary active">
                <input type="radio" name="labelOptions" id="hideBasemap" autocomplete="off" checked> Hide
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row ifOnline">
          <div class="col-4">Satellite</div>
          <div class="col-8">
            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
              <label class="btn btn-secondary">
                <input type="radio" name="satelliteOptions" id="showSatellite" autocomplete="off"> Show
              </label>
              <label class="btn btn-secondary active">
                <input type="radio" name="satelliteOptions" id="hideSatellite" autocomplete="off" checked> Hide
              </label>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="mapNodeConfigurations">
        <div class="form-group row">
          <div class="col-4">Nodes</div>
          <div class="col-8">
            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="nodeOptions" id="showNodes" autocomplete="off" checked> Show
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="nodeOptions" id="hideNodes" autocomplete="off"> Hide
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">Color</div>
          <div class="col-8"><button class="btn btn-sm btn-secondary w-100 launch-color-options">Color Options</button></div>
        </div>
        <div class="form-group row">
          <div class="col-4">Transparency</div>
          <div class="col-8">
            <!--select id="opacityField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select-->
            <input type="range" id="mapNodeOpacity" min="0.00" max="1.00" step="0.01" value="0.00" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">Jitter</div>
          <div class="col-8">
            <input type="range" id="jitter" min="0.00" max="100" step="0.5" value="0.00" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4"><label for="mapNodeTooltipVariable" data-toggle="tooltip" title="What node data should be displayed as a tooltip for the node?">Tooltip</label></div>
          <div class="col-8"><select id="mapNodeTooltipVariable" class="custom-select custom-select-sm nodeVariables"><option selected>None</option></select></div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="mapLinkConfigurations">
        <div class="form-group row">
          <div class="col-4">Links</div>
          <div class="col-8">
            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
              <label class="btn btn-secondary">
                <input type="radio" name="linkOptions" id="showLinks" autocomplete="off"> Show
              </label>
              <label class="btn btn-secondary active">
                <input type="radio" name="linkOptions" id="hideLinks" autocomplete="off" checked> Hide
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">Color</div>
          <div class="col-8"><button class="btn btn-sm btn-secondary w-100 launch-color-options">Color Options</button></div>
        </div>
        <div class="form-group row">
          <div class="col-4">Transparency</div>
          <div class="col-8">
            <!--select id="opacityField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select-->
            <input type="range" id="mapLinkOpacity" min="0.00" max="1.00" step="0.01" value="0.00" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4">Tooltip</div>
          <div class="col-8">
            <select id="mapLinkTooltipVariable" class="linkVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="map_export_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Export Geospatial Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="map_export_nodes" checked>
                  <label class="form-check-label" for="map_export_nodes">Nodes</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="map_export_links">
                  <label class="form-check-label" for="map_export_links">Links</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-8">
                <input type="text" id="map_export-file-name" class="form-control form-control-sm" placeholder="Filename" />
              </div>
              <div class="col-4">
                <select id="map_export-file-format" class="form-control form-control-sm">
                  <option selected>geojson</option>
                  <option>shapefile</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
          <button type="button" id="map_export" class="btn btn-primary" data-dismiss="modal">Export</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script>
  (function(){
    if(navigator.onLine){
      $('#map').parent().find('.ifOnline').css('display', 'flex');
    }

    let layers = {
      geography: L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}{r}.png', {
      	subdomains: 'abcd',
      	maxZoom: 19
      }),
      satellite: L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoiYWFib3lsZXMiLCJhIjoiY2o4b3QxNmtjMDhwNjMzcno4dDd1NnVraSJ9.BkjEa6NM7o7KeTaTHOaIGg')
    };

    app.mapData = {};
    ['cities', 'counties', 'states', 'countries'].forEach(type => {
      $.getJSON('data/' + type + '.json', response => {
        app.mapData[type] = response;
        layers[type] = L.geoJSON(app.mapData[type], {
          color: '#dadde0',
          weight: type === 'countries' ? 1 : 0.5,
          fillColor: '#fafaf8',
          fillOpacity: type === 'countries' ? 1 : 0
        });
        if(type=='countries' || type=='states') layers[type].addTo(map);
      });
    });

    layers.nodes = {remove: function(){}};
    layers.links = {remove: function(){}};
    let map = L.map('map', {
      center: [30, 0],
      zoom: 3,
      zoomControl: false,
      preferCanvas: true
    });

    L.control.zoom({ position: 'topright' }).addTo(map);

    let fields = session.data.nodeFields;

    ['lat', 'lon', 'tract', 'zipcode', 'county', 'state', 'country'].forEach(v => {
      if(fields.includes(v)) $(`#${v}Field`).val(v);
    });
    if(fields.includes('id')) $('#mapNodeTooltipVariable').val('id');

    function matchCoordinates(){
      if($('#countryField').val() !== 'None'){
        let val = $('#countryField').val();
        session.data.nodes.forEach(n => {
          let country = app.mapData.countries.features.find(c => c.id == n[val] || c.properties.name == n[val] || c.properties.country == n[val] || c.properties.ccode == n[val]);
          if(country) Object.assign(n, country.properties);
        });
      }
      if($('#stateField').val() !== 'None'){
        let sval = $('#stateField').val();
        session.data.nodes.forEach(n => {
          let state = app.mapData.states.features.find(s => s.properties.usps == n[sval] || s.properties.name == n[sval]);
          if(state) Object.assign(n, state.properties);
        });
        // Counties is nested in states because Counties are typically reported by name (rather than a UID like FIPS code),
        // but counties names are non-unique (e.g. there are 31 Washington Counties). Accordingly, if we have a state and a county,
        // We can use county. However, we cannot use county without state.
        if($('#countyField').val() !== 'None'){
          let cval = $('#countyField').val();
          session.data.nodes.forEach(n => {
            let state = app.mapData.states.features.find(s => s.properties.usps == n[sval] || s.properties.name == n[sval]);
            let county = app.mapData.counties.features.find(c => c.properties.NAME.includes(n[cval]) && c.properties.USPS == state.properties.usps);
            if(county) Object.assign(n, county.properties);
          });
        }
      }
      if($('#zipcodeField').val() !== 'None'){
        if(!app.mapData.zipcodes){
          return $.getJSON('data/zipcodes.json', r => {
            app.mapData.zipcodes = r;
            matchCoordinates();
          });
        }
        let val = $('#zipcodeField').val();
        session.data.nodes.forEach(n => {
          let zo = app.mapData.zipcodes.find(z => z.zipcode == n[val]);
          if(zo) Object.assign(n, zo);
        });
      }
      if($('#tractField').val() !== 'None'){
        if(!app.mapData.tracts){
          return $.getJSON('data/tracts.json', r => {
            app.mapData.tracts = r;
            matchCoordinates();
          });
        }
        let val = $('#tractField').val();
        session.data.nodes.forEach(n => {
          let tract = app.mapData.tracts.find(t => t.tract == n[val]);
          if(tract) Object.assign(n, tract);
        });
      }
      if($('#latField').val() !== 'None' && $('#lonField').val() !== 'None'){
        let lat = $('#latField').val(),
            lon = $('#lonField').val();
        session.data.nodes.forEach(n => {
          if(typeof n[lat] == 'string'){
            n.lat = (n[lat].includes('S') ? -1 : 1) * parseFloat(n[lat]);
          } else {
            n.lat = n[lat];
          }
          if(typeof n[lon] == 'string'){
            n.lon = (n[lon].includes('W') ? -1 : 1) * parseFloat(n[lon]);
          } else {
            n.lon = n[lon];
          }
        });
      }
    }

    $('#countryField, #stateField, #countyField, #zipcodeField, #tractField, #latField, #lonField').change(function(){
      matchCoordinates();
      resetStack();
    });

    function makeNodeGeoJSON(){
      let geojson = {
        type: 'FeatureCollection',
        features:	[]
      };
      let jitter = $('#jitter').val() > 0;
      session.data.nodes.forEach(function(d){
        if(d.visible && d.lat && d.lon){
          geojson.features.push({
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: jitter ? [d.lon + d.jx, d.lat + d.jy] : [d.lon, d.lat]
            },
            properties: d
          });
        }
      });
      return geojson;
    }

    function makeLinkGeoJSON(){
      let features = [];
      let jitter = $('#jitter').val() > 0;
      session.data.links.forEach(function(d){
        if(!d.visible) return;
        let source = session.data.nodes.find(function(node){
          return node.id === d.source;
        });
        let target = session.data.nodes.find(function(node){
          return node.id === d.target;
        });
        if(source && target){
          if(source.lat && source.lon && target.lat && target.lon){
            features.push({
              type: 'Feature',
              geometry: {
                type: 'LineString',
                coordinates: jitter ? [
                  [source.lon + source.jx, source.lat + source.jy],
                  [target.lon + target.jx, target.lat + target.jy]
                ] : [
                  [source.lon, source.lat],
                  [target.lon, target.lat]
                ]
              },
              properties: d
            });
          }
        }
      });
      return {
        type: 'FeatureCollection',
        features:	features
      };
    }

    function drawNodes(){
      layers.nodes.remove();
      let style = {
        fillOpacity: 1 - $('#mapNodeOpacity').val()
      };
      let fillcolor = $('#default-node-color').val(),
          colorVariable = $('#nodeColorVariable').val();
      layers.nodes = L.geoJSON(makeNodeGeoJSON(), {
        pointToLayer: function(feature, latlng){
          return L.circleMarker(latlng, Object.assign({}, style, {
            color: feature.properties.selected ? '#ff8300' : '#ffffff',
            fillColor: colorVariable === 'None' ? fillcolor : session.style.nodeColorMap(feature.properties[colorVariable])
          }));
        }
      });
      layers.nodes.on('mouseover', showNodeTooltip);
      layers.nodes.on('mouseout', hideTooltip);
      layers.nodes.on('click', clickHandler);
      layers.nodes.addTo(map);
      layers.nodes.bringToFront();
    }

    function drawLinks(){
      layers.links.remove();
      let lcv = $('#linkColorVariable').val();
      let opacity = $('#mapLinkOpacity').val();
      if(lcv === "None"){
        let style = {
          color: $('#default-link-color').val(),
          opacity: 1 - opacity
        };
        layers.links = L.geoJSON(makeLinkGeoJSON(), {style: style});
      } else {
        layers.links = L.geoJSON(makeLinkGeoJSON(), {style: function(l){
          return {
            color: session.style.linkColorMap(l.properties[lcv]),
            opacity: 1 - opacity
          };
        }});
      }
      layers.links.addTo(map);
    }

    function showNodeTooltip(e){
      let tooltiptext = '';
      let d = e.sourceTarget.feature.properties;
      if($('#mapNodeTooltipVariable').val() !== 'None' && d[$('#mapNodeTooltipVariable').val()]){
        tooltiptext = d[$('#mapNodeTooltipVariable').val()];
        d3.select('#tooltip')
          .html(tooltiptext)
          .style('left', (e.originalEvent.pageX + 8) + 'px')
          .style('top', (e.originalEvent.pageY + 18) + 'px')
          .style('z-index', 1001)
          .transition().duration(100)
          .style('opacity', 1);
      }
    }

    function hideTooltip(){
      let tooltip = d3.select('#tooltip');
      tooltip
        .transition().duration(100)
        .style('opacity', 0)
        .on('end', () => tooltip.style('z-index', -1));
    }

    function clickHandler(e){
      let node = e.sourceTarget.feature.properties;
      let d = session.data.nodes.find(d => d.id === node.id);
      if(!e.originalEvent.ctrlKey){
        session.data.nodes
          .filter(node => node !== d)
          .forEach(node => node.selected = 0);
      }
      d.selected = !d.selected;
      $(window).trigger('node_selected');
    }

    $('#toggle_map_settings').click(function(){
      let pane = $('#map_settings_pane');
      if(pane.is(':visible')){
        pane.animate({left: '-400px'}, function(){ pane.hide(); });
      } else {
        pane.show(0, function(){ pane.animate({left: '0px'}); });
      }
    });

    $('#map_fitbutton').click(e => {
      map.flyToBounds(layers.nodes.getBounds());
    });

    function resetStack(){
      //Background Layers, in reverse order:
      if($('#showCounties').is(':checked')) layers.counties.bringToBack();
      if($('#showStates').is(':checked')) layers.states.bringToBack();
      if($('#showCountries').is(':checked')) layers.countries.bringToBack();

      //Foreground Layers, in order:
      if($('#showLinks').is(':checked')) layers.links.bringToFront();
      if($('#showNodes').is(':checked')) layers.nodes.bringToFront();
    }

    $('#showNodes').parent().click(drawNodes);
    $('#hideNodes').parent().click(function(){
      layers.nodes.remove();
    });

    $('#showLinks').parent().click(function(){
      drawLinks();
      resetStack();
    });
    $('#hideLinks').parent().click(function(){
      layers.links.remove();
    });

    $('#showCountries').parent().click(function(){
      layers.countries.addTo(map);
      resetStack();
    });
    $('#hideCountries').parent().click(function(){
      layers.countries.remove();
    });

    $('#showStates').parent().click(function(){
      layers.states.addTo(map);
      resetStack();
    });
    $('#hideStates').parent().click(function(){
      layers.states.remove();
    });

    $('#showCounties').parent().click(function(){
      layers.counties.addTo(map);
      resetStack();
    });
    $('#hideCounties').parent().click(function(){
      layers.counties.remove();
    });

    $('#showBasemap').parent().click(function(){
      layers.geography.addTo(map);
      $('#hideSatellite').click();
      $('#hideCountries').click();
      $('#hideStates').click();
      $('#hideCounties').click();
    });
    $('#hideBasemap').parent().click(function(){
      layers.geography.remove();
      $('#showCountries').click();
      $('#showStates').click();
      resetStack();
    });

    $('#showSatellite').parent().click(function(){
      layers.satellite.addTo(map);
      $('#hideBasemap').click();
      $('#hideCountries').click();
      $('#hideStates').click();
      $('#hideCounties').click();
    });
    $('#hideSatellite').parent().click(function(){
      layers.satellite.remove();
      $('#showCountries').click();
      $('#showStates').click();
      resetStack();
    });

    $(window).on('nodeColorChange', drawNodes);
    $('#mapNodeOpacity').on('change', drawNodes);

    $(window).on('linkColorChange', drawLinks);
    $('#mapLinkOpacity').on('change', drawLinks);

    $('#jitter').on('input', function(e){
      let zoom = map.getZoom();
      session.data.nodes.forEach(node => {
        node.jx = (Math.random() * e.target.value - e.target.value / 2) / zoom / 5;
        node.jy = (Math.random() * e.target.value - e.target.value / 2) / zoom / 9;
      });
      if($('#showLinks').is(':checked')) drawLinks();
      if($('#showNodes').is(':checked')) drawNodes();
    });

    $(window).on('updateThreshold', drawLinks);

    $('#map_export').click(function(e){
      let geojson = makeGeoJSON();
      let output;
      let format = $('#map_export-file-format').val();
      if(format === 'shapefile'){
        output = new Blob([shpwrite.zip(geojson)], {type: 'application/zip'});
      } else {
        output = new Blob([JSON.stringify(geojson)], {type: 'application/json;charset=utf-8'});
      }
      saveAs(output, $('#map_export-file-name').val() + '.' + format);
    });

    $('#map_settings_pane .nodeVariables').change(e => {
      matchCoordinates();
      resetStack();
    });

    $(window).on('node_selected', drawNodes);
    $(window).on('node_visibility', drawNodes);
    $(window).on('link_visibility', drawLinks);

    setTimeout(function(){
      matchCoordinates();
      drawNodes();
      resetStack();
      map.flyToBounds(layers.nodes.getBounds());
    }, 400);

  })();
  </script>
