  <svg id="map_panel"></svg>

  <div class="view_controls">
    <button type="button" id="toggle_map_settings" class="btn btn-light btn-sm">
      <span class="oi oi-cog"></span>
    </button>
    <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#map_export_modal">
      <span class="oi oi-data-transfer-download"></span>
    </button>
    <button id="map_fitbutton" type="button" class="btn btn-light btn-sm" title="Center and Scale Network">
      <span class="oi oi-target"></span>
    </button>
  </div>

  <table id="map_group_key"></table>

  <div id="map_settings_pane" class="left_pane">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="nav-item">
        <a href="#mapDataConfigurations" class="nav-link active" aria-controls="mapDataConfigurations" role="tab" data-toggle="tab">Data</a>
      </li>
      <li role="presentation" class="nav-item">
        <a href="#mapNodeConfigurations" class="nav-link" aria-controls="mapNodeConfigurations" role="tab" data-toggle="tab">Nodes</a>
      </li>
      <li role="presentation" class="nav-item">
        <a href="#mapConfigurations" class="nav-link" aria-controls="mapNodeConfigurations" role="tab" data-toggle="tab">Map</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade show active" id="mapDataConfigurations">
        <div class="row">
          <div class="col-12">
            <div class="alert alert-info alert-dismissible" role="alert">
              Please select the most precise geographic data your inputs have.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Latitude</div>
          <div class="col-9">
            <select id="latField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Longitude</div>
          <div class="col-9">
            <select id="lonField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Census Tract</div>
          <div class="col-9">
            <select id="tractField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Zipcode</div>
          <div class="col-9">
            <select id="zipcodeField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">County</div>
          <div class="col-9">
            <select id="countyField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">State</div>
          <div class="col-9">
            <select id="stateField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Country</div>
          <div class="col-9">
            <select id="countryField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="mapNodeConfigurations">
        <div class="form-group row">
          <div class="col-3">Radius</div>
          <!--td>
            <select id="radiusField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </td-->
          <div class="col-9">
            <input type="range" id="radius" min="1" max="30" step="0.1" value="6" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Color By</div>
          <div class="col-9">
            <select id="nodeColorField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Color</div>
          <div class="col-9">
            <input type="color" id="color" class="custom-select custom-select-sm" value="#1f77b4" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Transparency</div>
          <div class="col-9">
            <!--select id="opacityField" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select-->
            <input type="range" id="opacity" min="0.00" max="1.00" step="0.01" value="0.00" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Jitter</div>
          <div class="col-9">
            <input type="range" id="jitter" min="0.00" max="100" step="0.5" value="0.00" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Tooltip</div>
          <div class="col-9">
            <select id="nodeTooltipVariable" class="nodeVariables custom-select custom-select-sm">
              <option selected>None</option>
            </select>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="mapConfigurations">
        <div class="form-group row">
          <div class="col-3">States</div>
          <div class="col-9"><input type="checkbox" id="showStates" checked /></div>
        </div>
        <div class="form-group row">
          <div class="col-3">Counties</div>
          <div class="col-9"><input type="checkbox" id="showCounties" /></div>
        </div>
        <div class="form-group row">
          <div class="col-3">Cities</div>
          <div class="col-9"><input type="checkbox" id="showCities" checked /></div>
        </div>
        <div class="form-group row">
          <div class="col-3">Links</div>
          <div class="col-9"><input type="checkbox" id="showLinks" /></div>
        </div>
        <div class="form-group row">
          <div class="col-3">Labels</div>
          <div class="col-9"><input type="checkbox" id="showLabels" checked />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Land Color</div>
          <div class="col-9">
            <input type="color" id="landColor" class="custom-select custom-select-sm" value="#fafaf8" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Water Color</div>
          <div class="col-9">
            <input type="color" id="waterColor" class="custom-select custom-select-sm" value="#d4dadc" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="map_export_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Export Geospatial Data</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="map_export_nodes" checked>
                  <label class="form-check-label" for="map_export_nodes">Nodes</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="map_export_links">
                  <label class="form-check-label" for="map_export_links">Links</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-9">
                <input type="text" id="map_export-file-name" class="form-control form-control-sm" placeholder="Filename" />
              </div>
              <div class="col-3">
                <select id="map_export-file-format" class="form-control form-control-sm">
                  <option selected>geojson</option>
                  <option>shapefile</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
          <button type="button" id="map_export" class="btn btn-primary" data-dismiss="modal">Export</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script src="vendor/shpwrite.js"></script>
  <script>
  $(function(){
    app.mapData = {};
    session.map = {};

    var countryWrappers;

    var projection = d3.geoMercator();

    var path = d3.geoPath().projection(projection);

    session.map.svg = d3.select('#map_panel');

    session.map.lastTransform = d3.zoomIdentity.translate(0, 0).scale(2);

    session.map.zoom = d3.zoom()
      .scaleExtent([1, 100])
      .on('zoom', () => {
        var e = d3.event.transform;
        session.map.lastTransform = UltraDeepClone(e);
        session.map.svg.selectAll('g#countries, g#states, g#counties, g#map_nodes, g#map_links, g#cities, g#labels').attr('transform', session.map.lastTransform);
        session.map.svg.selectAll('g#countries, g#states, g#counties').selectAll('path').attr('stroke-width', 1 / e.k);
        // var radius = parseFloat($('#radius').val());
        // session.map.svg.selectAll('g#map_nodes').selectAll('circle').attr('r', radius / session.map.lastTransform.k);
        // session.map.svg.selectAll('g#map_links').selectAll('line').attr('stroke-width', 2 / session.map.lastTransform.k);
        if($('#showLabels').is(':checked')) drawLabels();
      });

    session.map.svg.call(session.map.zoom);

    var countryLayer = session.map.svg.append('g').attr('id', 'countries');
    var stateLayer   = session.map.svg.append('g').attr('id', 'states');
    var countyLayer  = session.map.svg.append('g').attr('id', 'counties');
    var labelsLayer  = session.map.svg.append('g').attr('id', 'labels');
    var cityLayer    = session.map.svg.append('g').attr('id', 'cities');
    var linkLayer    = session.map.svg.append('g').attr('id', 'map_links');
    var nodeLayer    = session.map.svg.append('g').attr('id', 'map_nodes');

    var fields = session.data.nodeFields;

    ['lat', 'lon', 'tract', 'zipcode', 'county', 'state', 'country'].forEach(v => {
      if(fields.includes(v)) $(`#${v}Field`).val(v);
    });
    if(fields.includes('id')) $('#nodeTooltipVariable').val('id');

    function matchCoordinates(){
      if($('#countryField').val() !== 'None'){
        var val = $('#countryField').val();
        session.data.nodes.forEach(n => {
          var country = app.mapData.countries.features.find(c => c.id == n[val] || c.properties.name == n[val] || c.properties.country == n[val] || c.properties.ccode == n[val]);
          if(country) Object.assign(n, country.properties);
        });
      }
      if($('#stateField').val() !== 'None'){
        var sval = $('#stateField').val();
        session.data.nodes.forEach(n => {
          var state = app.mapData.states.features.find(s => s.properties.usps == n[sval] || s.properties.name == n[sval]);
          if(state) Object.assign(n, state.properties);
        });
        // Counties is nested in states because Counties are typically reported by name (rather than a UID like FIPS code),
        // but counties names are non-unique (e.g. there are 31 Washington Counties). Accordingly, if we have a state and a county,
        // We can use county. However, we cannot use county without state.
        if($('#countyField').val() !== 'None'){
          var cval = $('#countyField').val();
          session.data.nodes.forEach(n => {
            var state = app.mapData.states.features.find(s => s.properties.usps == n[sval] || s.properties.name == n[sval]);
            var county = app.mapData.counties.features.find(c => c.properties.NAME.includes(n[cval]) && c.properties.USPS == state.properties.usps);
            if(county) Object.assign(n, county.properties);
          });
        }
      }
      if($('#zipcodeField').val() !== 'None'){
        if(!app.mapData.zipcodes){
          return $.getJSON('data/zipcodes.json', r => {
            app.mapData.zipcodes = r;
            matchCoordinates();
          });
        }
        var val = $('#zipcodeField').val();
        session.data.nodes.forEach(n => {
          var zo = app.mapData.zipcodes.find(z => z.zipcode == n[val]);
          if(zo) Object.assign(n, zo);
        });
      }
      if($('#tractField').val() !== 'None'){
        if(!app.mapData.tracts){
          return $.getJSON('data/tracts.json', r => {
            app.mapData.tracts = r;
            matchCoordinates();
          });
        }
        var val = $('#tractField').val();
        session.data.nodes.forEach(n => {
          var tract = app.mapData.tracts.find(t => t.tract == n[val]);
          if(tract) Object.assign(n, tract);
        });
      }
      if($('#latField').val() !== 'None' && $('#lonField').val() !== 'None'){
        var lat = $('#latField').val(),
            lon = $('#lonField').val();
        session.data.nodes.forEach(n => {
          if(typeof n[lat] == 'string'){
            n.lat = (n[lat].includes('S') ? -1 : 1) * parseFloat(n[lat]);
          } else {
            n.lat = n[lat];
          }
          if(typeof n[lon] == 'string'){
            n.lon = (n[lon].includes('W') ? -1 : 1) * parseFloat(n[lon]);
          } else {
            n.lon = n[lon];
          }
        });
      }
    }

    function drawNodes(){
      var radius = parseFloat($('#radius').val());
      var color = $('#color').val();
      var normal = d3.randomNormal();
      var jitter = parseFloat($('#jitter').val()) / session.map.lastTransform.k;
      session.data.nodes.forEach(d => {
        d.jx = normal() * jitter;
        d.jy = normal() * jitter;
      });
      var nodes = nodeLayer.selectAll('circle').data(session.data.nodes.filter(d => d.visible && d.lon && d.lat))
      nodes.exit().remove();
      nodes.enter().append('circle')
      nodes = nodes.merge(nodes);
      nodes
        .attr('r', radius)
        .attr('stroke', '#ffffff')
        .attr('stroke-width', '2px')
        .style('fill', color)
        .attr('cx', d => projection([d.lon, d.lat])[0] + d.jx)
        .attr('cy', d => projection([d.lon, d.lat])[1] + d.jy)
        .on('mouseenter', showToolTip)
        .on('mouseout', hideTooltip);
    }

    function drawLinks(){
      if(!$('#showLinks').is(':checked')) return linkLayer.html(null);
      var links = UltraDeepClone(session.data.links);
      var nodes = UltraDeepClone(session.data.nodes);
      links.forEach(l => {
        if(typeof l.source !== 'object') l.source = nodes.find(d => d.id === l.source);
        if(typeof l.target !== 'object') l.target = nodes.find(d => d.id === l.target);
      });
      var vlinks = links.filter(l => l.visible && !Number.isNaN(l.source.lat) && !Number.isNaN(l.source.lon) && !Number.isNaN(l.target.lat) && !Number.isNaN(l.target.lon));
      var ll = linkLayer.selectAll('line').data(vlinks);
      ll.exit().remove();
      ll.enter().append('line').merge(ll)
        .attr('class', 'link')
        .style('stroke', '#8dd3c7')
        .attr('stroke-width', 2 / session.map.lastTransform.k)
        .attr('x1', d => projection([d.source.lon, d.source.lat])[0] + d.source.jx)
        .attr('y1', d => projection([d.source.lon, d.source.lat])[1] + d.source.jy)
        .attr('x2', d => projection([d.target.lon, d.target.lat])[0] + d.target.jx)
        .attr('y2', d => projection([d.target.lon, d.target.lat])[1] + d.target.jy);
      linkLayer.transition().style('opacity', 1);
    }

    function showToolTip(d){
      var tooltiptext = '';
      if(d.properties){
        tooltiptext = d.properties.name || d.properties.NAME + ', ' + d.properties.STNAME;
      } else if($('#nodeTooltipVariable').val() !== 'None' && d[$('#nodeTooltipVariable').val()]){
        tooltiptext = d[$('#nodeTooltipVariable').val()];
      }
      d3.select('#tooltip')
        .html(tooltiptext)
        .style('left', (d3.event.pageX + 8) + 'px')
        .style('top', (d3.event.pageY + 18) + 'px')
        .style('z-index', 1)
        .transition().duration(100)
        .style('opacity', 1);
    }

    function hideTooltip(){
      var tooltip = d3.select('#tooltip');
      tooltip
        .transition().duration(100)
        .style('opacity', 0)
        .on('end', () => tooltip.style('z-index', -1));
    }

    function drawLabels(){
      if(!app.mapData.labels){
        $.getJSON('data/labels.json', function(c){
          app.mapData.labels = c;
          drawLabels();
        });
        return;
      }
      var k = session.map.lastTransform.k;
      var labels = labelsLayer.selectAll('text')
        .data(app.mapData.labels.features.filter(function(l){
          return l.properties.zoom[0] < k && l.properties.zoom[1] > k;
        }));
      labels.exit().transition().style('opacity', 0).remove();
      labels.enter().append('text')
          .attr('text-anchor', 'middle')
        .merge(labels)
          .text(d => d.properties.text)
          .attr('font-size', 14/session.map.lastTransform.k)
          .attr('class', d => d.properties.type)
          .attr('x', d => projection(d.geometry.coordinates)[0])
          .attr('y', d => projection(d.geometry.coordinates)[1]);
      labelsLayer.transition().style('opacity', 1);
    }

    function drawCountries(){
      if(!app.mapData.countries){
        $.getJSON('data/countries.json', function(c){
          app.mapData.countries = c;
          drawCountries();
        });
        return;
      }
      countryWrappers = countryLayer.selectAll('path')
        .data(app.mapData.countries.features)
        .enter().append('path')
        .attr('d', path)
        .on('mouseenter', showToolTip)
        .on('mouseout', hideTooltip);
      countryLayer.transition().style('opacity', 1);
    }

    function drawStates(){
      if(!app.mapData.states){
        $.getJSON('data/states.json', function(s){
          app.mapData.states = s;
          drawStates();
        });
        return;
      }
      stateLayer.selectAll('path').data(app.mapData.states.features).enter().append('path')
        .attr('d', path)
        .attr('stroke-width', 1 / session.map.lastTransform.k)
        .on('mouseenter', showToolTip)
        .on('mouseout', hideTooltip);
      stateLayer.transition().style('opacity', 1);
    }

    function drawCounties(){
      if(!app.mapData.counties){
        $.getJSON('data/counties.json', function(c){
          app.mapData.counties = c;
          drawCounties();
        });
        return;
      }
      countyLayer.selectAll('path').data(app.mapData.counties.features).enter().append('path')
        .attr('d', path)
        .attr('stroke-width', 1 / session.map.lastTransform.k)
        .on('mouseenter', showToolTip)
        .on('mouseout', hideTooltip);
      countyLayer.transition().style('opacity', 1);
    }

    function drawCities(){
      if(!app.mapData.cities){
        $.getJSON('data/cities.json', function(c){
          app.mapData.cities = c;
          drawCities();
        });
        return;
      }
      cityWrappers = cityLayer
        .style('opacity', 0)
        .selectAll('g').attr('class', 'city')
        .data(app.mapData.cities).enter().append('g');
      cityWrappers.append('circle')
        .attr('cx', d => projection([d['Longitude'], d['Latitude']])[0])
        .attr('cy', d => projection([d['Longitude'], d['Latitude']])[1])
        .attr('r', d => d['sqrtpop'])
        .style('fill', 'black')
        .style('opacity', .3);
      cityWrappers.append('text').text(d => d['name'])
        .attr('dx', d => projection([d['Longitude'], d['Latitude']])[0] + d['sqrtpop']/2 + 1.2)
        .attr('dy', d => projection([d['Longitude'], d['Latitude']])[1] + .7)
        .style('fill', 'black')
        .attr('font-size', 2);
      cityLayer.transition().style('opacity', 1);
    }

    $('#toggle_map_settings').click(function(){
      var pane = $('#map_settings_pane');
      if(pane.is(':visible')){
        pane.animate({left: '-400px'}, function(){ pane.hide(); });
      } else {
        pane.show(0, function(){ pane.animate({left: '0px'}); });
      }
    });

    session.map.fit = function(bounds){
      if(!bounds) bounds = countryLayer.node().getBBox();
      if (bounds.width === 0 || bounds.height === 0) return; // nothing to fit
      var parent = session.map.svg.node().parentElement,
          midX = bounds.x + bounds.width / 2,
          midY = bounds.y + bounds.height / 2;
      var scale = 0.95 / Math.max(bounds.width / parent.clientWidth, bounds.height / parent.clientHeight);
      session.map.svg
        .transition()
        .duration(750)
        .call(session.map.zoom.transform, d3.zoomIdentity
          .translate(parent.clientWidth / 2 - scale * midX, parent.clientHeight / 2 - scale * midY)
          .scale(scale));
    };

    $('#map_fitbutton').click(e => {
      if(session.data.nodes.some(d => d.lat && d.lon)){
        session.map.fit(nodeLayer.node().getBBox());
      } else {
        session.map.fit();
      }
    });

    $('#showStates').change(function(e){
      if($(this).is(':checked')){
        countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 0);
        drawStates();
      } else {
        if(!$('#showCounties').is(':checked')){
          countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 1);
        }
        stateLayer.transition().style('opacity', 0).on('end', e => stateLayer.html(null));
      }
    });

    $('#showCounties').change(function(e){
      if($(this).is(':checked')){
        countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 0);
        drawCounties();
      } else {
        if(!$('#showStates').is(':checked')){
          countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 1);
        }
        countyLayer.transition().style('opacity', 0).on('end', e => countyLayer.html(null));
      }
    });

    $('#showCities').change(function(e){
      if($(this).is(':checked')){
        drawCities();
      } else {
        cityLayer.transition().style('opacity', 0).on('end', e => cityLayer.html(null));
      }
    });

    $('#showLabels').change(function(e){
      if($(this).is(':checked')){
        drawLabels();
      } else {
        labelsLayer.transition().style('opacity', 0).on('end', e => labelsLayer.html(null));
      }
    });

    $('#showLinks').on('mouseup', e => setTimeout(drawLinks, 80));

    $('#radius').on('input', e => nodeLayer.selectAll('circle').attr('r', e.target.value));

    $('#color').on('input', e => nodeLayer.selectAll('circle').style('fill', e.target.value));

    $('#jitter').on('input', e => {
      drawNodes();
      drawLinks();
    });

    $('#nodeColorField').change(e => {
      var circles = nodeLayer.selectAll('circle').data(session.data.nodes.filter(d => d.visible));
      var table = $('#map_group_key').empty();
      if(e.target.value == 'none'){
        circles.style('fill', $('#color').val());
        table.fadeOut();
        return;
      }
      table.append('<tr><th>'+e.target.value+'</th><th>Color</th></tr>');
      var values = _(session.data.nodes).pluck(e.target.value).uniq().sort().value();
      var o = d3.scaleOrdinal(d3.schemeCategory10).domain(values);
      circles.style('fill', d => o(d[e.target.value]));
      values.forEach(value => {
        var input = $('<input type="color" value="'+o(value)+'" />')
          .on('input', evt => {
            circles
              .filter(d => d[e.target.value] == value)
              .style('fill', d => evt.target.value);
          });
        var cell = $('<td></td>').append(input);
        var row = $('<tr><td>'+value+'</td></tr>').append(cell);
        table.append(row);
      });
      table.fadeIn();
    });

    $('#opacity').on('input', e => session.map.svg.selectAll('circle').attr('opacity', 1-e.target.value));

    $('#landColor').on('input', e => session.map.svg.selectAll('path').attr('fill', e.target.value));

    $('#waterColor').on('input', e => session.map.svg.style('background', e.target.value));

    $(window).on('updateThreshold', drawLinks);

    $('#map_export').click(function(e){
      var geojson = {
        type: 'FeatureCollection',
        features:	[]
      };
      if($('#map_export_nodes').is(':checked')){
        session.data.nodes.forEach(function(d){
          geojson.features.push({
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: [d.lon, d.lat]
            },
            properties: d
          });
    		});
      }
      if($('#map_export_links').is(':checked')){
        session.data.links.forEach(function(d){
          var source = session.data.nodes.find(function(node){
            return node.id === d.source;
          });
          var target = session.data.nodes.find(function(node){
            return node.id === d.target;
          });
          if(source && target){
            if(source.lat && source.lon && target.lat && target.lon){
              geojson.features.push({
                type: 'Feature',
                geometry: {
                  type: 'Linestring',
                  coordinates: [
                    [source.lon, source.lat],
                    [target.lon, target.lat]
                  ]
                },
                properties: d
              });
            }
          }
        });
      }
      var output;
      var format = $('#map_export-file-format').val();
      if(format === 'shapefile'){
        output = new Blob([shpwrite.zip(geojson)], {type: 'application/zip'});
      } else {
        output = new Blob([JSON.stringify(geojson)], {type: 'application/json;charset=utf-8'});
      }
      saveAs(output, $('#map_export-file-name').val() + '.' + format);
    });

    $('#map_settings_modal .nodeVariables').change(e => {
      matchCoordinates();
      drawNodes();
      drawLinks();
    });

    $(window).on('node_selected', function(){
      nodeLayer.selectAll('circle').data(session.data.nodes.filter(d => d.visible))
        .attr('class', d => d.selected ? 'selected' : null);
    });

    $(window).on('node_visibility', drawNodes);

    $(window).on('link_visibility', drawLinks);

    $('#linkSortVariable, #default-link-threshold').on('input', e => {
      session.network.render();
      session.network.updateStatistics();
      session.network.force.alpha(0.3).alphaTarget(0).restart();
    });

    matchCoordinates();
    drawNodes();
    drawCountries();
    drawLabels();
    drawStates();
    drawCities();
    drawNodes(); //No idea why this needs to be called twice, but it does.
    setTimeout(() => {
      countryWrappers.filter(d => d.id === 'USA').style('opacity', 0);
      if(session.data.nodes.some(d => d.lat && d.lon)) session.map.fit(nodeLayer.node().getBBox());
    }, 1500);
  });
  </script>
