<canvas id="globe"></canvas>

<div class="view-controls">
  <button type="button" id="toggle-globe-settings" data-toggle="button" class="btn btn-light btn-sm" title="Toggle Map Settings Panel">
    <span class="oi oi-cog"></span>
  </button>
  <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#globe-export-modal" title="Export Map Data">
    <span class="oi oi-data-transfer-download"></span>
  </button>
  <button type="button" id="toggle-globe-autorotate" data-toggle="button" class="btn btn-light btn-sm" title="Toggle Autorotation">
    <span class="oi oi-loop-circular"></span>
  </button>
</div>

<div id="globe-settings-pane" class="left-pane">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="nav-item">
      <a href="#globe-data-configurations" class="nav-link active" aria-controls="globe-data-configurations" role="tab" data-toggle="tab">Data</a>
    </li>
    <li role="presentation" class="nav-item">
      <a href="#globe-layer-configurations" class="nav-link" aria-controls="globe-layer-configurations" role="tab" data-toggle="tab">Layers</a>
    </li>
    <li role="presentation" class="nav-item">
      <a href="#globe-node-configurations" class="nav-link" aria-controls="globe-node-configurations" role="tab" data-toggle="tab">Nodes</a>
    </li>
    <li role="presentation" class="nav-item">
      <a href="#globe-link-configurations" class="nav-link" aria-controls="globe-link-configurations" role="tab" data-toggle="tab">Links</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade show active" id="globe-data-configurations">
      <div class="row">
        <div class="col-12">
          <div class="alert alert-info alert-dismissible" role="alert">
            Please select the most precise geographic data your inputs have.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group row" title="If your data have a latitude variable, select that here.">
        <div class="col-4"><label for="globe-field-lat">Latitude</label></div>
        <div class="col-8">
          <select id="globe-field-lat" class="nodeVariables form-control form-control-sm">
            <option selected>None</option>
          </select>
        </div>
      </div>
      <div class="form-group row" title="If your data have a longitude variable, select that here.">
        <div class="col-4"><label for="globe-field-lon">Longitude</label></div>
        <div class="col-8">
          <select id="globe-field-lon" class="nodeVariables form-control form-control-sm">
            <option selected>None</option>
          </select>
        </div>
      </div>
      <div class="form-group row" title="If your data have a Census Tract variable, select that here.">
        <div class="col-4"><label for="globe-field-tract">Census Tract</label></div>
        <div class="col-8">
          <select id="globe-field-tract" class="nodeVariables form-control form-control-sm">
            <option selected>None</option>
          </select>
        </div>
      </div>
      <div class="form-group row" title="If your data have a zipcode variable, select that here.">
        <div class="col-4"><label for="globe-field-zipcode">Zipcode</label></div>
        <div class="col-8">
          <select id="globe-field-zipcode" class="nodeVariables form-control form-control-sm">
            <option selected>None</option>
          </select>
        </div>
      </div>
      <div class="form-group row" title="If your data have a County variable, select that here.">
        <div class="col-4"><label for="globe-field-county">County</label></div>
        <div class="col-8">
          <select id="globe-field-county" class="nodeVariables form-control form-control-sm">
            <option selected>None</option>
          </select>
        </div>
      </div>
      <div class="form-group row" title="If your data have a (US) State variable, select that here.">
        <div class="col-4"><label for="globe-field-state">State</label></div>
        <div class="col-8">
          <select id="globe-field-state" class="nodeVariables form-control form-control-sm">
            <option selected>None</option>
          </select>
        </div>
      </div>
      <div class="form-group row" title="If your data have a Country variable, select that here.">
        <div class="col-4"><label for="globe-field-country">Country</label></div>
        <div class="col-8">
          <select id="globe-field-country" class="nodeVariables form-control form-control-sm">
            <option selected>None</option>
          </select>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="globe-layer-configurations">
      <div class="accordion" id="globe-layers-accordion">
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#globe-layers-network" aria-expanded="false" aria-controls="globe-layers-network" style="color:#495057">Network</button>
          </div>
          <div id="globe-layers-network" class="collapse" data-parent="#globe-layers-accordion">
            <div class="card-body">
              <div class="form-group row" title="Would you like to see Nodes on the globe?">
                <div class="col-4">Nodes</div>
                <div class="col-8">
                  <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                    <label class="btn btn-light active col">
                      <input type="radio" name="globe-node-options" id="globe-node-show" autocomplete="off" checked>
                      Show
                    </label>
                    <label class="btn btn-light col">
                      <input type="radio" name="globe-node-options" id="globe-node-hide" autocomplete="off"> Hide
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row" title="Would you like to see links on the globe?">
                <div class="col-4">Links</div>
                <div class="col-8">
                  <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                    <label class="btn btn-light col active">
                      <input type="radio" name="globe-link-options" id="globe-link-show" autocomplete="off" checked>
                      Show
                    </label>
                    <label class="btn btn-light col">
                      <input type="radio" name="globe-link-options" id="globe-link-hide" autocomplete="off"> Hide
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#globe-layers-vectors" aria-expanded="true" aria-controls="globe-layers-vectors" style="color:#495057">Geospatial</button>
          </div>
          <div id="globe-layers-vectors" class="collapse show" data-parent="#globe-layers-accordion">
            <div class="card-body">
              <div class="form-group row" title="Would you like to see links on the globe?">
                <div class="col-4">Stars</div>
                <div class="col-8">
                  <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                    <label class="btn btn-light col active">
                      <input type="radio" name="globe-stars-options" id="globe-stars-show" autocomplete="off" checked>
                      Show
                    </label>
                    <label class="btn btn-light col">
                      <input type="radio" name="globe-stars-options" id="globe-stars-hide" autocomplete="off"> Hide
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row" title="Would you like to see Countries on the globe?">
                <div class="col-4">Countries</div>
                <div class="col-8">
                  <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                    <label class="btn btn-light col">
                      <input type="radio" name="globe-country-options" id="globe-countries-show" autocomplete="off">
                      Show
                    </label>
                    <label class="btn btn-light col active">
                      <input type="radio" name="globe-country-options" id="globe-countries-hide" autocomplete="off" checked>
                      Hide
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row" title="Would you like to see Countries on the globe?">
                <div class="col-4">Graticule</div>
                <div class="col-8">
                  <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                    <label class="btn btn-light col">
                      <input type="radio" name="globe-graticule-options" id="globe-graticule-show" autocomplete="off">
                      Show
                    </label>
                    <label class="btn btn-light col active">
                      <input type="radio" name="globe-graticule-options" id="globe-graticule-hide" autocomplete="off" checked>
                      Hide
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header p-0">
            <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#globe-layers-user" aria-expanded="true" aria-controls="globe-layers-user" style="color:#495057">User-Provided</button>
          </div>
          <div id="globe-layers-user" class="collapse" data-parent="#globe-layers-accordion">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <div class="alert alert-info alert-dismissible" role="alert">
                    Load a GeoJSON file below to add it to the globe.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group row" title="Import GeoJSON Map Data here">
                <div class="col-12">
                  <div class="custom-file">
                    <input type="file" id="globe-file-input" class="custom-file-input" multiple>
                    <label for="globe-file-input" class="custom-file-label">Choose File</label>
                  </div>
                </div>
              </div>
              <div id="globe-geojson-layers" class="form-group row" title="GeoJSON Layers"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="globe-node-configurations">
      <div class="form-group row">
        <div class="col-4">Color</div>
        <div class="col-8"><button class="btn btn-sm btn-light w-100 launch-color-options">Color Options</button></div>
      </div>
      <div class="form-group row" title="How transparent would you like the nodes to be?">
        <div class="col-4"><label for="globe-node-transparency">Transparency</label></div>
        <div class="col-8">
          <input type="range" class="custom-range" id="globe-node-transparency" min="0.00" max="1.00" step="0.01" value="0.00">
        </div>
      </div>
      <div class="form-group row" title="How much randomness do you want to add to node locations?">
        <div class="col-4">
          <label for="globe-node-jitter">Jitter</label>
          <button id="globe-node-jitter-reroll" class="btn btn-light btn-sm">Reroll</button>
        </div>
        <div class="col-8">
          <input type="range" class="custom-range" id="globe-node-jitter" min="-2" max="4" step="0.01" value="-2">
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="globe-link-configurations">
      <div class="form-group row">
        <div class="col-4">Color</div>
        <div class="col-8"><button class="btn btn-sm btn-light w-100 launch-color-options">Color Options</button></div>
      </div>
      <div class="form-group row" title="How transparent would you like links to be?">
        <div class="col-4"><label for="globe-link-transparency">Transparency</label></div>
        <div class="col-8">
          <input type="range" class="custom-range" id="globe-link-transparency" min="0.00" max="1.00" step="0.01" value="0.00">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="globe-export-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Export Geospatial Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-8">
            <input type="text" id="globe-export-file-name" class="form-control form-control-sm" placeholder="Filename">
          </div>
          <div class="col-4">
            <select id="globe-export-file-format" class="form-control form-control-sm">
              <option selected>png</option>
              <option>jpeg</option>
              <option>webp</option>
              <option>geojson</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
        <button type="button" id="globe-export" class="btn btn-primary" data-dismiss="modal">Export</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  (function(){
    ga('set', 'page', '/globe');
    ga('set', 'title', 'Globe View');
    ga('send', 'pageview');

    var parent = $('#globe').parent();
    var height, width;
    var canvg = d3.select('#globe');
    var context = canvg.node().getContext('2d');

    var projection = d3.geoOrthographic();
    var path = d3.geoPath(projection, context);

    var swoosh = d3.line()
      .curve(d3.curveNatural)
      .defined(function (d) { return projection.invert(d); })
      .context(context);

    var starProjection = d3.geoAzimuthalEquidistant();
    var starPath = d3.geoPath(starProjection, context).pointRadius(1);

    var sphere = { type: 'Sphere' };
    var graticule = d3.geoGraticule10();

    var nodes = MT.getVisibleNodes(true);
    var links = MT.getVisibleLinks(true);

    var autorotate = null, now, lastTime = d3.now();
    var userLayers = [];

    var k = 1;

    function init() {
      // if (!temp.mapData.land) {
      //   MT.getMapData('land.json').then(init);
      //   return;
      // }
      if (!temp.mapData.stars) {
        MT.getMapData('stars.json').then(init);
        return;
      }
      if (!temp.mapData.countries) {
        MT.getMapData('countries.json').then(init);
        return;
      }
      resize();
      canvg
        .call(drag(projection).on('drag.render', redraw))
        .call(d3.zoom().on("zoom", zoomed))
        .call(redraw);
    }

    function resize() {
      height = parent.height();
      width = parent.width();
      let t = [width / 2, height / 2];
      canvg.attr('width', width).attr('height', height);
      projection = projection
        .fitExtent([[50, 50], [width - 50, height - 50]], sphere)
        .translate(t)
        .precision(0.1);
      starProjection = starProjection
        .fitExtent([[0, 0], [3 * width, 3 * height]], temp.mapData.stars)
        .translate(t);
    }

    function redraw() {
      if(!$('#globe').length) return;
      context.clearRect(0, 0, width, height);

      if (session.style.widgets['globe-stars-show']) {
        context.beginPath();
        starPath(temp.mapData.stars);
        context.fillStyle = "#fff";
        context.fill();
      }

      context.beginPath();
      path(sphere);
      context.fillStyle = '#005C99';
      context.fill();

      context.beginPath();
      
      path(temp.mapData.countries);

      // if (session.style.widgets['globe-countries-show']) {
      //   path(temp.mapData.countries);
      // } else {
      //   path(temp.mapData.land);
      // }
      
      context.fillStyle = "#6CCC00";
      context.fill();
      context.lineWidth = 1;
      context.strokeStyle = "#444444";
      if (session.style.widgets['globe-countries-show']) {
        context.stroke();
      }

      userLayers.forEach(layer => {
        context.beginPath();
        path(layer.data);
        context.strokeStyle = layer.color;
        context.lineWidth = 1;
        context.stroke();
      });

      if (session.style.widgets['globe-graticule-show']) {
        context.beginPath();
        path(graticule);
        context.strokeStyle = "#444";
        context.lineWidth = 1;
        context.stroke();
      }

      if (session.style.widgets['globe-link-show']) {
        context.beginPath();
        makeLinkArcs().forEach(swoosh);
        context.lineWidth = 2;
        context.strokeStyle = session.style.widgets['link-color'];
        context.stroke();
      }

      if (session.style.widgets['globe-node-show']) {
        context.beginPath();
        path({
          type: 'FeatureCollection',
          features: makeNodeFeatures()
        });
        context.fillStyle = session.style.widgets['node-color'];
        context.lineWidth = 4;
        context.fill();
      }
    }

    function drag(projection) {
      let x0, y0, center;

      function dragstarted() {
        let e = d3.event;
        center = projection.rotate();
        x0 = e.x;
        y0 = e.y;
      }

      function dragged() {
        let e = d3.event;
        let x1 = e.x;
        let y1 = e.y;
        starProjection = starProjection.rotate([(x0 - x1) / k - center[0], Math.max(-90, Math.min((y1 - y0) / k - center[1], 90)), 0]);
        projection = projection.rotate([(x1 - x0) / k + center[0], Math.max(-90, Math.min((y0 - y1) / k + center[1], 90)), 0]);
      }

      return d3.drag()
        .on("start", dragstarted)
        .on("drag", dragged);
    }

    function zoomed() {
      k = d3.event.transform.k;
      projection = projection.scale(k * 400);
      redraw();
    }

    function rotate(elapsed) {
      now = d3.now();
      diff = now - lastTime
      if (diff < elapsed) {
        rotation = projection.rotate();
        rotation[0] -= diff * 6 / 1000;
        projection.rotate(rotation);
        starProjection.rotate([-rotation[0], -rotation[1]]);
        redraw();
      }
      lastTime = now;
    }

    ['lat', 'lon', 'tract', 'zipcode', 'county', 'state', 'country'].forEach(v => {
      let name = 'globe-field-' + v, s = $('#' + name);
      s.on('change', function (e) {
        session.style.widgets[name] = e.target.value;
        matchCoordinates(redraw);
      });
      if (session.data.nodeFields.includes(v)) s.val(v);
    });

    function matchCoordinates(callback) {
      if (session.style.widgets['globe-field-country'] !== 'None') {
        if (!temp.mapData.countries) {
          MT.getMapData('countries.json').then(() => matchCoordinates(callback));
          return;
        }
        let val = session.style.widgets['globe-field-country'];
        nodes.forEach(n => {
          let country = temp.mapData.countries.features.find(c => c.id == n[val] || c.properties.name == n[val]);
          if (country) {
            n._lat = country.properties._lat,
              n._lon = country.properties._lon
          }
        });
      }
      if (session.style.widgets['globe-field-state'] !== 'None') {
        if (!temp.mapData.states) {
          MT.getMapData('states.json').then(() => matchCoordinates(callback));
          return;
        }
        let sval = session.style.widgets['globe-field-state'];
        nodes.forEach(n => {
          let state = temp.mapData.states.features.find(s => s.properties.usps == n[sval] || s.properties.name == n[sval]);
          if (state) {
            n._lat = state.properties._lat;
            n._lon = state.properties._lon;
          }
        });
      }
      if (session.style.widgets['globe-field-county'] !== 'None') {
        if (!temp.mapData.counties) {
          MT.getMapData('counties.json').then(() => matchCoordinates(callback));
          return;
        }
        let sval = session.style.widgets['globe-field-state'];
        let cval = session.style.widgets['globe-field-county'];
        nodes.forEach(n => {
          let county;
          county = temp.mapData.counties.features.find(c => {
            return (c.properties.fips == n[cval] ||
              parseFloat(c.properties.fips) == parseFloat(n[cval]));
          });
          if (county) {
            n._lat = county.properties._lat;
            n._lon = county.properties._lon;
            return;
          }
          let state = temp.mapData.states.features.find(s => s.properties.usps == n[sval].toUpperCase() || s.properties.name.toLowerCase().includes(n[sval].toLowerCase()));
          county = temp.mapData.counties.features.find(c => {
            var small = n[cval].toLowerCase();
            return c.properties.state == state.properties.usps && (
              c.properties.name.includes(small) ||
              small.includes(c.properties.name)
            );
          });
          if (county) {
            n._lat = county.properties._lat;
            n._lon = county.properties._lon;
          }
        });
      }
      if (session.style.widgets['globe-field-zipcode'] !== 'None') {
        if (!temp.mapData.zipcodes) {
          MT.getMapData('zipcodes.csv').then(() => matchCoordinates(callback));
          return;
        }
        let val = session.style.widgets['globe-field-zipcode'];
        nodes.forEach(n => {
          let zo = temp.mapData.zipcodes.find(z => z.zipcode == n[val]);
          if (zo) {
            n._lat = zo._lat;
            n._lon = zo._lon;
          }
        });
      }
      if (session.style.widgets['globe-field-tract'] !== 'None') {
        if (!temp.mapData.tracts) {
          MT.getMapData('tracts.csv').then(() => matchCoordinates(callback));
          return;
        }
        let val = session.style.widgets['globe-field-tract'];
        nodes.forEach(n => {
          let tract = temp.mapData.tracts.find(t => t.tract == n[val]);
          if (tract) {
            n._lat = tract._lat;
            n._lon = tract._lon;
          }
        });
      }
      if (session.style.widgets['globe-field-lat'] !== 'None' && session.style.widgets['globe-field-lon'] !== 'None') {
        let lat = session.style.widgets['globe-field-lat'],
          lon = session.style.widgets['globe-field-lon'];
        nodes.forEach(n => {
          if (typeof n[lat] == 'string') {
            n._lat = (n[lat].includes('S') ? -1 : 1) * parseFloat(n[lat]);
          } else {
            n._lat = n[lat];
          }
          if (typeof n[lon] == 'string') {
            n._lon = (n[lon].includes('W') ? -1 : 1) * parseFloat(n[lon]);
          } else {
            n._lon = n[lon];
          }
        });
      }
      rerollNodes();
      if (callback) callback();
    }

    $('#toggle-globe-settings').on('click', function () {
      let pane = $('#globe-settings-pane');
      if ($(this).hasClass('active')) {
        pane.animate({ left: '-400px' }, function () { pane.hide(); });
      } else {
        pane.show(0, function () { pane.animate({ left: '0px' }); });
      }
    });

    $('#globe-node-show').parent().on('click', function () {
      session.style.widgets['globe-node-show'] = true;
      redraw();
    });
    $('#globe-node-hide').parent().on('click', function () {
      session.style.widgets['globe-node-show'] = false;
      redraw();
    });

    $('#globe-link-show').parent().on('click', function () {
      session.style.widgets['globe-link-show'] = true;
      redraw();
    });
    $('#globe-link-hide').parent().on('click', function () {
      session.style.widgets['globe-link-show'] = false;
      redraw();
    });

    $('#globe-stars-show').parent().on('click', function () {
      session.style.widgets['globe-stars-show'] = true;
      redraw();
    });
    $('#globe-stars-hide').parent().on('click', function () {
      session.style.widgets['globe-stars-show'] = false;
      redraw();
    });

    $('#globe-countries-show').parent().on('click', function () {
      session.style.widgets['globe-countries-show'] = true;
      redraw();
    });
    $('#globe-countries-hide').parent().on('click', function () {
      session.style.widgets['globe-countries-show'] = false;
      redraw();
    });

    $('#globe-graticule-show').parent().on('click', function () {
      session.style.widgets['globe-graticule-show'] = true;
      redraw();
    });
    $('#globe-graticule-hide').parent().on('click', function () {
      session.style.widgets['globe-graticule-show'] = false;
      redraw();
    });

    $('#globe-node-jitter').on('input', function (e) {
      var v = parseFloat(e.target.value);
      session.style.widgets['globe-node-jitter'] = v;
      jitter();
      redraw();
    });


    function jitter() {
      var v = session.style.widgets['globe-node-jitter'] == -2 ? 0 : Math.pow(2, session.style.widgets['globe-node-jitter']);
      var n = nodes.length;
      for (var i = 0; i < n; i++) {
        var node = nodes[i];
        node._jlon = parseFloat(node._lon) + v * node._j * Math.cos(node._theta);
        node._jlat = parseFloat(node._lat) + v * node._j * Math.sin(node._theta);
      }
    }

    $('#globe-node-jitter-reroll').on('click', function () {
      rerollNodes();
      redraw();
    });

    function rerollNodes() {
      nodes.forEach(function (node) {
        node._theta = MT.r01() * Math.PI * 2;
        node._j = MT.r01();
      });
      jitter();
    }

    $('#globe-file-input').on('change', event => {
      Array.from(event.target.files).forEach(file => {
        var name = file.name;
        if (name.endsWith("json")) {
          var reader = new FileReader();
          reader.onload = function (event) {
            var layerName = name.split('.').slice(0, -1).join('.').toLowerCase();
            let i = userLayers.length;
            userLayers.push({
              data: JSON.parse(event.target.result),
              color: '#990000'
            });
            let colorCell = $('<div class="col-3"></div>').append(
              $('<input type="color" class="w-100" value="#990000">').on('change', e => {
                userLayers[i].color = e.target.value;
                redraw();
              })
            );
            let nameCell = $(`<div class="col-9">${layerName}</div>`).prepend(
              $('<a href="#" class="oi oi-circle-x align-middle p-1" title="Remove this file"></a>').on('click', function () {
                nameCell.remove();
                colorCell.remove();
                delete temp.mapData[layerName];
              })
            );
            $('#globe-geojson-layers')
              .append(nameCell)
              .append(colorCell);
          };
          reader.readAsText(file);
        } else {
          alert("Only GeoJSON Files are currently Supported.");
        }
      });
    });

    function makeNodeFeatures() {
      let features = [];
      let jitter = session.style.widgets['globe-node-jitter'] > 0;
      nodes.forEach(function (d) {
        if (d._jlat && d._jlon) {
          features.push({
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: [d._jlon, d._jlat]
            },
            properties: d
          });
        }
      });
      return features;
    }

    function makeLinkArcs() {
      let arcs = [];
      let origin = [-projection.rotate()[0], -projection.rotate()[1]];
      let n = links.length;
      let maxDist = Math.PI / 2;
      while (n-- > 0) {
        let d = links[n];
        if (!d.visible) continue;
        let source = nodes.find(node => node._id == d.source);
        let target = nodes.find(node => node._id == d.target);
        if (source && target) {
          if (source._jlat && source._jlon && target._jlat && target._jlon) {
            var s = [source._jlon, source._jlat];
            var t = [target._jlon, target._jlat];
            if (d3.geoDistance(s, origin) > maxDist) continue;
            if (d3.geoDistance(t, origin) > maxDist) continue;
            arcs.push([
              projection(s),
              projection(middle(s, t)),
              projection(t)
            ]);
          }
        }
      }
      return arcs;
    }

    function middle(start, end) {
      return d3.geoInterpolate(start, end)(0.5);
    }

    function makeLinkFeatures() {
      let features = [];
      let jitter = session.style.widgets['globe-node-jitter'] > 0;
      links.forEach(function (d) {
        if (!d.visible) return;
        let source = nodes.find(node => node._id == d.source);
        let target = nodes.find(node => node._id == d.target);
        if (source && target) {
          if (source._lat && source._lon && target._lat && target._lon) {
            features.push({
              type: 'Feature',
              geometry: {
                type: 'LineString',
                coordinates: jitter ? [
                  [source._lon + source._jlon, source._lat + source._jlat],
                  [target._lon + target._jlon, target._lat + target._jlat]
                ] : [
                    [source._lon, source._lat],
                    [target._lon, target._lat]
                  ]
              },
              properties: d
            });
          }
        }
      });
      return features;
    }

    function makeGeoJSON() {
      return {
        type: 'FeatureCollection',
        features: makeNodeFeatures().concat(makeLinkFeatures())
      };
    }

    $('#globe-export').on('click', function () {
      let format = $('#globe-export-file-format').val();
      if (['png', 'jpeg', 'webp'].includes(format)) {
        canvg.node().toBlob(blob => {
          saveAs(blob, $('#globe-export-file-name').val() + '.' + format);
        }, 'image/' + format);
      } else if (format == 'geojson') {
        saveAs(
          new Blob([JSON.stringify(makeGeoJSON())], { type: 'application/json;charset=utf-8' }),
          $('#globe-export-file-name').val() + '.' + format
        );
      }
    });

    $('#toggle-globe-autorotate').on('click', function () {
      if (autorotate) {
        $(this).addClass('active');
        autorotate.stop();
        autorotate = null;
      } else {
        $(this).removeClass('active');
        autorotate = d3.timer(rotate);
      }
    });

    $window
      .on('node-color-change link-color-change', redraw)
      .on('node-visibilitiy-change', function () {
        nodes = MT.getVisibleNodes(true);
        rerollNodes();
        redraw();
      });

    layout.on('stateChanged', function () {
      resize();
      redraw();
    });

    init();
  })();
</script>
