  <svg id="globe">
    <defs>
      <linearGradient id="gradBlue" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" style="stop-color:#005C99;stop-opacity:1" />
        <stop offset="100%" style="stop-color:#0099FF;stop-opacity:1" />
      </linearGradient>
      <filter id="glow">
        <feColorMatrix type="matrix"
            values=
            "0 0 0 0   0
             0 0 0 0.9 0
             0 0 0 0.9 0
             0 0 0 1   0"/>
        <feGaussianBlur stdDeviation="5.5" result="coloredBlur"/>
        <feMerge>
          <feMergeNode in="coloredBlur"/>
          <feMergeNode in="SourceGraphic"/>
        </feMerge>
      </filter>
    </defs>
  </svg>
  <style>
    .land path {
      fill: #6CCC00;
    }
    .star path {
        fill: #fff;
        stroke: rgba(255, 255, 255, .5);
        stroke-width: .25px;
    }
  </style>
  <script>
    var parent = $('#globe').parent();
    var height, width;
    var svg = d3.select('#globe');

    var projection = d3.geoOrthographic();
    var path = d3.geoPath().projection(projection);

    var sphere = {type: 'Sphere'};

    var land, water, sky;

    function draw(callback){
      if(!app.mapData.countries){
        $.getJSON('data/countries.json', function(response){
          app.mapData.countries = response;
          draw(callback);
        });
        return;
      }

      resize();

      projection = projection
        .fitExtent([[50, 50], [width - 50, height - 50]], sphere)
        .translate([width / 2, height / 2])
        .precision(0.1);

      path = d3.geoPath().projection(projection);

      water = svg.append('g')
        .attr('class', 'water')
        .append('path')
        .datum(sphere)
        .attr("d", path)
        .attr("filter", "url(#glow)")
        .attr("fill", "url(#gradBlue)");

      land = svg.append('g').attr('class', 'land');
      land.selectAll("path").data(app.mapData.countries.features)
        .enter().append("path")
        .attr("d", path);

      svg
        .call(d3.zoom().on("zoom", zoomed))
        .call(drag(projection).on('drag.render', redraw))
        .call(redraw);
    }

    function drag(projection) {
      let v0, q0, r0;

      function dragstarted() {
        v0 = versor.cartesian(projection.invert(d3.mouse(this)));
        q0 = versor(r0 = projection.rotate());
      }

      function dragged() {
        const v1 = versor.cartesian(projection.rotate(r0).invert(d3.mouse(this)));
        const q1 = versor.multiply(q0, versor.delta(v0, v1));
        projection = projection.rotate(versor.rotation(q1));
        path = d3.geoPath().projection(projection);
      }

      return d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged);
    }

    function zoomed(){
      let transform = d3.event.transform;
      projection = projection
        .center([transform.x * -1, transform.y])
        .scale(transform.k);
      path = d3.geoPath().projection(projection);
      redraw();
    }

    function resize(){
      height = parent.height();
      width = parent.width();
      svg.attr('width', width).attr('height', height);
    }

    function redraw(){
      water.selectAll("path").attr('d', path);
      land.selectAll("path").attr('d', path);
    }

    draw();
  </script>
