  <div id="heatmap_panel"></div>

  <button type="button" class="view_settings_button btn btn-light" data-toggle="modal" data-target="#heatmap_settings_modal">
    <span class="oi oi-cog"></span>
  </button>

  <div class="modal fade" id="heatmap_settings_modal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Heatmap Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-xs-3">Distance Metric</div>
            <div class="col-xs-9">
              <div class="btn-group" data-toggle="buttons" id="heatmap_distanceMetric"></div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-3">Invert Axes</div>
            <div class="col-xs-9">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default btn-xs">
                  <input id="heatmap_invertX" type="checkbox"> X
                </label>
              </div>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default btn-xs">
                  <input id="heatmap_invertY" type="checkbox"> Y
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-3">Color Scheme</div>
            <div class="col-xs-9">
              <input type="color" id="heatmap_lowColor" value="#313695" />
              <input type="color" id="heatmap_medianColor" value="#ffffbf" />
              <input type="color" id="heatmap_highColor" value="#a50026" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="What color would you like the background to be?">Background Color</a></div>
            <div class="col-xs-9"><input type="color" id="heatmap_network-color" class="triggers" value="#ffffff" /></div>
          </div>
          <div class="form-group row">
            <div class="col-xs-3">Axis Labels</div>
            <div class="col-xs-9">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default btn-xs">
                  <input type="radio" name="axisLabels" id="heatmap_showAxisLabels" autocomplete="off"> Show
                </label>
                <label class="btn btn-default btn-xs active">
                  <input type="radio" name="axisLabels" id="heatmap_hideAxisLabels" autocomplete="off" checked> Hide
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script>
  function replot(){
    if(!session.data.distance_matrix.tn93 && !session.data.distance_matrix.snps){
      return alertify.error('No distance matrix could be found!');
    }

    if(window.plot) Plotly.purge('heatmap_panel');

    var xLabels = session.data.distance_matrix.labels.map(d => 'N' + d);
    var yLabels = xLabels.slice();
    var data = session.data.distance_matrix[$('[name="distanceMetric"]:checked')[0].id].map(l => l.slice());

    if($('#heatmap_invertX').is(':checked')){
      data.forEach(l => l.reverse());
      xLabels.reverse();
    }

    if($('#heatmap_invertY').is(':checked')){
      data.reverse();
      yLabels.reverse();
    }

    var config = {
      autotick: false,
      showticklabels: $('#heatmap_showAxisLabels').is(':checked')
    };

    if(!$('#heatmap_showAxisLabels').is(':checked')){
      config.ticks = '';
    }

    window.plot = Plotly.newPlot('heatmap_panel', [{
      x: xLabels,
      y: yLabels,
      z: data,
      type: 'heatmap',
      colorscale: [
        [0, $('#heatmap_lowColor').val()],
        [0.5, $('#heatmap_medianColor').val()],
        [1, $('#heatmap_highColor').val()]
      ]
    }], {
      xaxis: config,
      yaxis: config
    }, {
      displaylogo: false,
      displayModeBar: false
    });
  }

  $('#heatmap_distanceMetric').html(
    Object.keys(session.data.distance_matrix).filter(k => k !== 'labels').map((k, i) => `
      <label class="btn btn-secondary${(i===0)? ' active':''}">
        <input type="radio" name="distanceMetric" id="${k}" autocomplete="off"${(i===0)? ' checked':''}>${app.titleize(k)}</input>
      </label>
    `).join('')
  );
  $('input[name="distanceMetric"]').change(replot);

  replot();

  $('#heatmap_network-color').on('input change', function(e){
    $('svg.main-svg:first').css('background-color', e.target.value);
  });

  $('input[name="axisLabels"]').change(replot);
  $('input[type="color"]').change(replot);
  $('#heatmap_invertX, #heatmap_invertY').change(replot);
  </script>
