  <div id="heatmap-panel"></div>

  <div class="view_controls">
    <button type="button" id="toggle_heatmap_settings" class="btn btn-light btn-sm">
      <span class="oi oi-cog"></span>
    </button>
    <button type="button" class="btn btn-light btn-sm"  data-toggle="modal" data-target="#export_heatmap_modal" title="Export Heatmap">
      <span class="oi oi-data-transfer-download"></span>
    </button>
  </div>

  <div id="heatmap_settings_pane" class="left_pane">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item active">
        <a href="#heatmapConfigurations" id="heatmap-tab" class="nav-link active" aria-controls="heatmap" role="tab" data-toggle="tab">Heatmap</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="heatmapConfigurations" role="tabpanel" aria-labelledby="heatmap-tab">
        <div class="form-group row">
          <div class="col-3">Distance Metric</div>
          <div class="col-9">
            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons" id="heatmap_distanceMetric"></div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Invert Axes</div>
          <div class="col-9">
            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
              <label class="btn btn-secondary">
                <input id="heatmap_invertX" type="checkbox"> X
              </label>
            </div>
            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
              <label class="btn btn-secondary">
                <input id="heatmap_invertY" type="checkbox"> Y
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Color Scheme</div>
          <div class="col-9">
            <input type="color" id="heatmap_highColor" class="custom-select custom-select-sm" value="#a50026" />
            <input type="color" id="heatmap_medianColor" class="custom-select custom-select-sm" value="#ffffbf" />
            <input type="color" id="heatmap_lowColor" class="custom-select custom-select-sm" value="#313695" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Axis Labels</div>
          <div class="col-9">
            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
              <label class="btn btn-secondary">
                <input type="radio" name="axisLabels" id="heatmap_showAxisLabels" autocomplete="off"> Show
              </label>
              <label class="btn btn-secondary active">
                <input type="radio" name="axisLabels" id="heatmap_hideAxisLabels" autocomplete="off" checked> Hide
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="export_heatmap_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Export Heatmap</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-9">
              <input type="text" id="export-heatmap-file-name" class="form-control form-control-sm" placeholder="Filename" />
            </div>
            <div class="col-3">
              <select id="export-heatmap-file-type" class="form-control form-control-sm">
                <option selected>png</option>
                <option>csv</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
          <button type="button" id="heatmap_export" class="btn btn-primary" data-dismiss="modal">Export</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script>
  (function(){

    let plot;

    $('#heatmap_distanceMetric').html(
      Object.keys(session.data.distance_matrix).filter(k => k !== 'labels').map((k, i) => `
        <label class="btn btn-secondary${(i===0)? ' active':''}">
          <input type="radio" name="distanceMetric" id="${k}" autocomplete="off"${(i===0)? ' checked':''}>${app.titleize(k)}</input>
        </label>
      `).join('')
    );

    function redrawHeatmap(){
      if(!$('#heatmap-panel').length) return;
      if(plot) Plotly.purge('heatmap-panel');
      if(!session.data.distance_matrix.tn93 && !session.data.distance_matrix.snps){
        return alertify.error('No distance matrix could be found!');
      }
      let xLabels = session.data.distance_matrix.labels.map(d => 'N' + d);
      let yLabels = xLabels.slice();
      let data = session.data.distance_matrix[$('[name="distanceMetric"]:checked')[0].id].map(l => l.slice());

      if($('#heatmap_invertX').is(':checked')){
        data.forEach(l => l.reverse());
        xLabels.reverse();
      }

      if($('#heatmap_invertY').is(':checked')){
        data.reverse();
        yLabels.reverse();
      }

      let config = {
        autotick: false,
        showticklabels: $('#heatmap_showAxisLabels').is(':checked')
      };

      if(!$('#heatmap_showAxisLabels').is(':checked')){
        config.ticks = '';
      }

      plot = Plotly.newPlot('heatmap-panel', [{
        x: xLabels,
        y: yLabels,
        z: data,
        type: 'heatmap',
        colorscale: [
          [0, $('#heatmap_lowColor').val()],
          [0.5, $('#heatmap_medianColor').val()],
          [1, $('#heatmap_highColor').val()]
        ]
      }], {
        xaxis: config,
        yaxis: config,
        width: $('#heatmap-panel').parent().width(),
        height: $('#heatmap-panel').parent().height()
      }, {
        displaylogo: false,
        displayModeBar: false
      });
      setBackground();
    }

    $('#toggle_heatmap_settings').click(function(){
      let pane = $('#heatmap_settings_pane');
      if(pane.is(':visible')){
        pane.animate({left: '-400px'}, function(){ pane.hide(); });
      } else {
        pane.show(0, function(){ pane.animate({left: '0px'}); });
      }
    });

    $('#heatmap_export').on('mousedown', function(){
      let filetype = $('#export-heatmap-file-type').val();
      let name = $('#export-heatmap-file-name').val();
      if(filetype === 'png'){
        let network = $('#heatmap-panel .main-svg').get(0);
        $('#heatmap-panel .main-svg .infolayer').detach().appendTo(network);
        let content = app.unparseSVG(network);
        app.blobifySVG(content, network.width.baseVal.value, network.height.baseVal.value, 'png', function(blob, size){
          saveAs(blob, $('#export-heatmap-file-name').val() + '.' + filetype);
        });
      } else {
        content = app.unparseDM(session.data.distance_matrix[$('[name="distanceMetric"]:checked')[0].id]);
        let blob = new Blob([content]);
        saveAs(blob, name + '.' + filetype);
        return;
      }
    });

    $('input[name="distanceMetric"]').change(redrawHeatmap);
    $('input[name="axisLabels"]').change(redrawHeatmap);
    $('input[type="color"]').change(redrawHeatmap);
    $('#heatmap_invertX, #heatmap_invertY').change(redrawHeatmap);

    function setBackground(){
      let col = session.style.widgets['background-color'];
      $('#heatmap-panel svg.main-svg').first().css('background', col);
      $('#heatmap-panel rect.bg').css('fill', col);

      let contrast = session.style.widgets['background-color-contrast'];
      $('#heatmap-panel .xtitle, .ytitle').css('fill', contrast);
      $('#heatmap-panel .xaxislayer-above text').css('fill', contrast);
      $('#heatmap-panel .yaxislayer-above text').css('fill', contrast);
    }

    $(window).on('background-color-change', setBackground);

    layout.on('stateChanged', redrawHeatmap);
    setTimeout(redrawHeatmap, 80);

  })();
  </script>
