<div id="heatmap"></div>

<div class="view-controls">
  <button type="button" id="heatmap-settings-toggle" data-toggle="button" class="btn btn-light btn-sm">
    <span class="oi oi-cog"></span>
  </button>
  <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#heatmap-export-modal" title="Export Heatmap">
    <span class="oi oi-data-transfer-download"></span>
  </button>
</div>

<div id="heatmap-settings-pane" class="left-pane">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active">
      <a href="#heatmap-configurations" id="heatmap-tab" class="nav-link active" aria-controls="heatmap" role="tab" data-toggle="tab">Heatmap</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="heatmap-configurations" role="tabpanel" aria-labelledby="heatmap-tab">
      <div class="form-group row" title="Would you like to invert the axes?">
        <div class="col-3">Invert</div>
        <div class="col-9">
          <div class="row">
            <div class="col">
              <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                <label class="btn btn-light" title="Would you like to invert the X axis?">
                  <input id="heatmap-invertX" type="checkbox"> X-Axis
                </label>
              </div>
            </div>
            <div class="col">
              <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                <label class="btn btn-light" title="Would you like to invert the Y axis?">
                  <input id="heatmap-invertY" type="checkbox"> Y-Axis
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row" title="What color scheme would you like the heatmap to use?">
        <div class="col-3">Color Scheme</div>
        <div class="col-3">
          <input type="color" id="heatmap-color-high" class="form-control form-control-sm" value="#a50026">
        </div>
        <div class="col-3">
          <input type="color" id="heatmap-color-medium" class="form-control form-control-sm" value="#ffffbf">
        </div>
        <div class="col-3">
          <input type="color" id="heatmap-color-low" class="form-control form-control-sm" value="#313695">
        </div>
      </div>
      <div class="form-group row" title="Would you like to show axis labels on the heatmap?">
        <div class="col-3">Axis Labels</div>
        <div class="col-9">
          <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
            <label class="btn btn-light col">
              <input type="radio" name="axisLabels" id="heatmap-axislabels-show" autocomplete="off"> Show
            </label>
            <label class="btn btn-light active col">
              <input type="radio" name="axisLabels" id="heatmap-axislabels-hide" autocomplete="off" checked> Hide
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="heatmap-export-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Export Heatmap</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-9">
            <input type="text" id="heatmap-export-filename" class="form-control form-control-sm" placeholder="Filename">
          </div>
          <div class="col-3">
            <select id="heatmap-export-filetype" class="form-control form-control-sm">
              <option selected>png</option>
              <option>jpeg</option>
              <option>webp</option>
              <option>svg</option>
              <option>csv</option>
              <option>xlsx</option>
            </select>
          </div>
        </div>
        <div class="form-group row mb-0">
          <div class="col-3 offset-9">
            <button id="heatmap-export-advanced-button" class="btn btn-primary btn-sm w-100" type="button" data-toggle="collapse" data-target="#heatmap-export-advanced" aria-expanded="false" aria-controls="heatmap-export-advanced">Advanced</button>
          </div>
        </div>
        <div class="collapse" id="heatmap-export-advanced" style="margin-top: 10px;">
          <div class="card card-body">
            <div class="form-group row">
              <div class="col-3">
                <label for="heatmap-export-scale">Scale</label>
              </div>
              <div class="col-9">
                <input type="number" id="heatmap-export-scale" class="form-control form-control-sm" min="0" step="0.1" value="1">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">Resolution</div>
              <div id="heatmap-export-dimensions" class="col-9 text-right"></div>
            </div>
            <div class="row">
              <div class="col-3">
                <label for="heatmap-export-quality">Quality</label>
              </div>
              <div class="col-9">
                <input type="range" class="custom-range" id="heatmap-export-quality" min="0" max="1.0" value="0.92" step="0.01">
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col-3">
            <label for="heatmap-export-opacity">Watermark Opacity</label>
          </div>
          <div class="col-9">
            <input type="range" id="heatmap-export-opacity" min="0.0" max="1.0" value="0.4" step="0.01"></input>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
        <button type="button" id="heatmap-export" class="btn btn-primary" data-dismiss="modal">Export</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  (function () {
    ga('set', 'page', '/heatmap');
    ga('set', 'title', 'Heatmap View');
    ga('send', 'pageview');

    let labels, xLabels, yLabels, matrix, plot;

    async function redrawHeatmap() {
      if (!$('#heatmap').length) return;
      if (plot) Plotly.purge('heatmap');
      let labels = Object.keys(temp.matrix);
      let xLabels = labels.map(d => 'N' + d);
      let yLabels = xLabels.slice();
      const metric = session.style.widgets['link-sort-variable'];
      const n = xLabels.length;
      matrix = await MT.getDM();

      if (session.style.widgets['heatmap-invertX']) {
        matrix.forEach(l => l.reverse());
        xLabels.reverse();
      }

      if (session.style.widgets['heatmap-invertY']) {
        matrix.reverse();
        yLabels.reverse();
      }

      let config = {
        autotick: false,
        showticklabels: session.style.widgets['heatmap-axislabels-show']
      };

      if (!config.showticklabels) {
        config.ticks = '';
      }

      plot = Plotly.newPlot('heatmap', [{
        x: xLabels,
        y: yLabels,
        z: matrix,
        type: 'heatmap',
        colorscale: [
          [0, session.style.widgets['heatmap-color-low']],
          [0.5, session.style.widgets['heatmap-color-medium']],
          [1, session.style.widgets['heatmap-color-high']]
        ]
      }], {
          xaxis: config,
          yaxis: config,
          width: $('#heatmap').parent().width(),
          height: $('#heatmap').parent().height()
        }, {
          displaylogo: false,
          displayModeBar: false
        });
      setBackground();
    }

    $('#heatmap-settings-toggle').click(function () {
      let pane = $('#heatmap-settings-pane');
      if ($(this).hasClass('active')) {
        pane.animate({ left: '-400px' }, () => pane.hide());
      } else {
        pane.show(0, () => pane.animate({ left: '0px' }));
      }
    });

    $('#heatmap-axislabels-show').on('change', function () {
      session.style.widgets['heatmap-axislabels-show'] = $(this).is(':checked');
      redrawHeatmap();
    });

    $('#heatmap-axislabels-hide').on('change', function () {
      session.style.widgets['heatmap-axislabels-show'] = !$(this).is(':checked');
      redrawHeatmap();
    });

    $('#heatmap-invertX').on('change', function () {
      session.style.widgets['heatmap-invertX'] = $(this).is(':checked');
      redrawHeatmap();
    });

    $('#heatmap-invertY').on('change', function () {
      session.style.widgets['heatmap-invertY'] = $(this).is(':checked');
      redrawHeatmap();
    });

    $('#heatmap-color-low').on('change', function () {
      session.style.widgets['heatmap-color-low'] = this.value;
      redrawHeatmap();
    });

    $('#heatmap-color-medium').on('change', function () {
      session.style.widgets['heatmap-color-medium'] = this.value;
      redrawHeatmap();
    });

    $('#heatmap-color-high').on('change', function () {
      session.style.widgets['heatmap-color-high'] = this.value;
      redrawHeatmap();
    });

    $('#heatmap-export-filetype').on('change', function () {
      if (this.value == 'svg') {
        $('#heatmap-export-advanced-button').slideUp();
        if ($('#heatmap-export-advanced').hasClass("show")) $('#heatmap-export-advanced-button').click();
      } else {
        $('#heatmap-export-advanced-button').slideDown();
      }
    });

    $('#heatmap-export-scale').on('input', function () {
      let scale = parseFloat(this.value);
      let wrapper = $('#heatmap').parent();
      $('#heatmap-export-dimensions').text(
        Math.round(wrapper.width() * scale) + 'x' +
        Math.round(wrapper.height() * scale) + 'px'
      );
    }).trigger('input');

    $('#heatmap-export').on('click', function () {
      let filename = $('#heatmap-export-filename').val(),
        filetype = $('#heatmap-export-filetype').val();
      if (filetype == 'csv' || filetype == 'xlsx') {
        let labels = Object.keys(temp.matrix);
        let data = [[''].concat(labels)].concat(matrix.map((l, i) => [labels[i]].concat(l)));
        if (filetype == 'csv') {
          let blob = new Blob([Papa.unparse(data)], { type: 'text/csv;charset=utf-8' });
          saveAs(blob, filename + '.' + filetype);
        } else if (filetype == 'xlsx') {
          let wb = XLSX.utils.book_new();
          let ws = XLSX.utils.aoa_to_sheet(data);
          XLSX.utils.book_append_sheet(wb, ws, name);
          XLSX.writeFile(wb, filename + '.' + filetype);
        }
        return;
      }
      let $heatmap = $('#heatmap .main-svg');
      let heatmap = $heatmap.get(0);
      $('#heatmap .main-svg .infolayer').appendTo(heatmap);
      let watermark = d3.select(heatmap).append('image')
        .attr('xlink:href', MT.watermark)
        .attr('height', 128)
        .attr('width', 128)
        .attr('x', 10)
        .style('opacity', $('#heatmap-export-opacity').val());
      if (filetype == 'svg') {
        let content = MT.unparseSVG(heatmap);
        let blob = new Blob([content], { type: 'image/svg+xml;charset=utf-8' });
        saveAs(blob, filename + '.' + filetype);
        watermark.remove();
      } else {
        saveSvgAsPng(heatmap, filename + '.' + filetype, {
          scale: parseFloat($('#heatmap-export-scale').val()),
          backgroundColor: session.style.widgets['background-color'],
          encoderType: 'image/' + filetype,
          encoderOptions: parseFloat($('#heatmap-export-quality').val())
        }).then(() => watermark.remove());
      }
    });

    function setBackground() {
      let col = session.style.widgets['background-color'];
      $('#heatmap svg.main-svg').first().css('background', col);
      $('#heatmap rect.bg').css('fill', col);

      let contrast = session.style.widgets['background-color-contrast'];
      $('#heatmap .xtitle, .ytitle').css('fill', contrast);
      $('#heatmap .xaxislayer-above text').css('fill', contrast);
      $('#heatmap .yaxislayer-above text').css('fill', contrast);
    }

    $window.on('background-color-change', setBackground);

    layout.on('stateChanged', redrawHeatmap);
  })();
</script>
