  <div id="help-panel">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="https://github.com/CDCgov/MicrobeTrace/wiki/Home">Home</a></li>
      </ol>
    </nav>
    <div class="container">
      <h1 id="help-title"></h1>
      <div id="help-content"></div>
      <div id="help-footer"></div>
    </div>
  </div>

  <script>
  $(function(){

    let breadcrumbs = ['Home'];

    function renderPage(target){
      $('#help-title').text(app.titleize(target));
      app.getHelp(target, function(content){
        $('#help-content').html(content);
        $('#help-panel a').on('click', clickedLink);
      });
    }

    function clickedLink(e){
      e.preventDefault();
      var target = e.target.href.split('/').pop();
      if(breadcrumbs.includes(target)) breadcrumbs.splice(breadcrumbs.indexOf(target), 1);
      breadcrumbs.push(target);
      $('#help-panel .breadcrumb').html(
        breadcrumbs.map(crumb => `<li class="breadcrumb-item"><a href="https://github.com/CDCgov/MicrobeTrace/wiki/${crumb}">${crumb}</a></li>`).join('')
      );
      $('#help-panel').slideUp(function(){
        renderPage(target);
        $('#help-panel').slideDown();
      });
    }

    app.getHelp('_Footer', function(html){
      $('#help-footer').html(html).find('a').click(clickedLink);
    });

    renderPage('Home');
  });
  </script>
</body>
</html>
