  <div id="help-panel" class="container">
    <h1 id="help-title"></h1>
    <div id="help-content"></div>
    <div id="help-footer"></div>
  </div>

  <script>
  $(function(){

    function renderPage(filename){
      $('#help-title').text(app.titleize(filename.replace('-', ' ').slice(0,-3)));
      app.getHelp(filename, function(content){
        $('#help-content').html(content);
        $('#help-content a').on('click', function(e){
          if(navigator.onLine) return;
          e.preventDefault();
          var components = e.target.href.split('/');
          $('#help-panel').slideUp(function(){
            renderPage(_.last(components) + '.md');
            $('#help-panel').slideDown();
          });
          //alertify.error('This is an external link.<br />Please connect to the internet and click it again.');
        });
      });
    }

    app.getHelp('_Footer.md', function(html){
      $('#help-footer').html(html)
        .find('a').click(clickedLink);
    });

    renderPage('Home.md');
  });
  </script>
</body>
</html>
