<div id="histogram_panel"></div>

  <div class="view_controls">
    <button id="toggle_histogram_settings" type="button" class="btn btn-light btn-sm">
      <span class="oi oi-cog"></span>
    </button>
    <button type="button" class="btn btn-light btn-sm"  data-toggle="modal" data-target="#export_histogram_modal" title="Export Histogram">
      <span class="oi oi-data-transfer-download"></span>
    </button>
  </div>

  <div id="histogram_settings_pane" class="left_pane">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item active">
        <a href="#histogramConfigurations" id="histogram-tab" class="nav-link active" aria-controls="histogram" role="tab" data-toggle="tab">Histogram</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="histogramConfigurations" role="tabpanel" aria-labelledby="histogram-tab">
        <div class="form-group row">
          <div class="col-3"><a href="#" data-toggle="tooltip" title="Which axis should the histogram be drawn across?">Axis</a></div>
          <div class="col-9">
            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="axis" id="histogram_xAxis" autocomplete="off" checked> X
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="axis" id="histogram_yAxis" autocomplete="off"> Y
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3"><a href="#" data-toggle="tooltip" title="Should the histogram be drawn from only stuff thats visible in the network, or all the data?">Dataset</a></div>
          <div class="col-9">
            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="set" id="histogram_vislinks" autocomplete="off" checked> Only Visible Elements
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="set" id="histogram_alllinks" autocomplete="off"> All Elements
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3"><a href="#" data-toggle="tooltip" title="Which variable should the histogram be drawn from?">Variable</a></div>
          <div class="col-9"><select id="histogram_variable" class="custom-select custom-select-sm"><option selected>distance</option></select></div>
        </div>
        <div class="form-group row">
          <div class="col-3"><a href="#" data-toggle="tooltip" title="Should the y-axis show a linear or logarithmic scale?">Scale</a></div>
          <div class="col-9">
            <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="scale" id="histogram_linearScale" autocomplete="off" checked> Linear
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="scale" id="histogram_logScale" autocomplete="off"> Log
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3"><a href="#" data-toggle="tooltip" title="What color would you like the background to be?">Background Color</a></div>
          <div class="col-9"><input type="color" id="histogram_network-color" class="custom-select custom-select-sm" value="#ffffff" /></div>
        </div>
      </div>
    </div>
  </div>

  <div id="export_histogram_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Export Histogram Image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-9">
              <input type="text" id="export-histogram-file-name" class="form-control form-control-sm" placeholder="Filename" />
            </div>
            <div class="col-3">
              <select id="export-histogram-file-type" class="form-control form-control-sm">
                <option selected>png</option>
                <option>svg</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
          <button type="button" id="histogram_export" class="btn btn-primary" data-dismiss="modal">Export</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script>
  (function(){
    var plot;

    $('#histogram_variable').html(
      session.data.linkFields.map(key => `<option value='links-${key}'>Links ${app.titleize(key)}</option>`).concat(
      session.data.nodeFields.map(key => `<option value='nodes-${key}'>Nodes ${app.titleize(key)}</option>`)).join('\n')
    ).val('links-distance');

    function redrawHistogram(){
      if(!$('#histogram_panel').length) return;
      if(plot) Plotly.purge('histogram_panel');
      var temp = $('#histogram_variable').val().split('-');
      var varSource = temp[0];
      var varName = temp[1];
      var visible = $('#histogram_vislinks').is(':checked');
      var axis = $('#histogram_xAxis').is(':checked') ? 'x' : 'y';
      var nonaxis = $('#histogram_yAxis').is(':checked') ? 'x' : 'y';
      var traces = [];
      var layout = {
        width: $('#histogram_panel').parent().width(),
        height: $('#histogram_panel').parent().height()
      };
      if(varSource == 'nodes' && $('#nodeColorVariable').val() !== 'None'){
        var values = [];
        var field = $('#nodeColorVariable').val();
        session.data.nodes.forEach(d => {
          if(!values.includes(d[field])) values.push(d[field]);
        });
        values.forEach((v, i) => {
          let trace = {
            type: 'histogram',
            marker: {
              color: session.style.nodeColorMap(v),
            },
            showlegend: false
          };
          trace[axis] = session.data.nodes.filter(d => (!visible || d.visible) && d[field] === v).map(d => d[varName]);
          traces.push(trace);
        });
        layout.barmode = 'stack';
      } else if(varSource == 'links' && $('#linkColorVariable').val() !== 'None'){
        var values = [];
        var field = $('#linkColorVariable').val();
        session.data.links.forEach(d => {
          if(!(d[field] in values)) values.push(d[field]);
        });
        values.forEach((v, i) => {
          let trace = {
            type: 'histogram',
            marker: {
              color: session.style.linkColorMap(v),
            },
            showlegend: false
          };
          trace[axis] = session.data.links.filter(d => (!visible || d.visible) && d[field] === v).map(d => d[varName]);
          traces.push(trace);
        });
        layout.barmode = 'stack';
      } else {
        let trace = {
          type: 'histogram',
          marker: {
            color: varSource == 'nodes' ? $('#default-node-color').val() : $('#default-link-color').val(),
          },
          showlegend: false
        };
        trace[axis] = session.data[varSource].filter(l => !visible || l.visible).map(l => l[varName]);
        traces = [trace];
      }
      layout[axis + 'axis'] = {
        title: app.titleize(varName)
      }
      layout[nonaxis + 'axis'] = {
        title: 'Number of ' + app.titleize(varSource),
        type: $('#histogram_logScale').is(':checked') ? 'log' : ''
      };
      plot = Plotly.newPlot('histogram_panel', traces, layout, {
        displaylogo: false,
        displayModeBar: false,
        scrollZoom: true
      });
      $('rect.bg').css('fill', $('#histogram_network-color').val());
    }

    $('#toggle_histogram_settings').click(function(){
      var pane = $('#histogram_settings_pane');
      if(pane.is(':visible')){
        pane.animate({left: '-400px'}, function(){ pane.hide(); });
      } else {
        pane.show(0, function(){ pane.animate({left: '0px'}); });
      }
    });

    $(window).on('nodeColorChange', redrawHistogram);
    $(window).on('linkColorChange', redrawHistogram);

    $('#histogram_alllinks, #histogram_vislinks, #histogram_logScale, #histogram_linearScale, #histogram_xAxis, #histogram_yAxis').change(redrawHistogram);
    $('#histogram_variable, #histogram_color, #histogram_network-color').change(redrawHistogram);

    $('#histogram_export').click(function(){
      var network = $('#histogram_panel .main-svg').get(0);
      var content = app.unparseSVG(network);
      var filetype = $('#export-histogram-file-type').val();
      if(filetype === 'svg'){
        var blob = new Blob([content], {type: 'image/svg+xml;charset=utf-8'});
        saveAs(blob, $('#export-histogram-file-name').val() + '.' + filetype);
      } else {
        app.blobifySVG(content, network.width.baseVal.value, network.height.baseVal.value, 'png', function(blob, size){
          saveAs(blob, $('#export-histogram-file-name').val() + '.' + filetype);
        });
      }
    });

    layout.on('stateChanged', redrawHistogram);
    setTimeout(function(){
      redrawHistogram();
    }, 80);
  })();
  </script>
