  <script src="node_modules/plotly.js/dist/plotly.min.js"></script>

  <div id="histogram_panel"></div>

  <button type="button" class="view_settings_button btn btn-light" data-toggle="modal" data-target="#histogram_settings_modal">
    <span class="oi oi-cog"></span>
  </button>

  <div class="modal fade" id="histogram_settings_modal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Histogram Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="Which axis should the histogram be drawn across?">Axis</a></div>
              <div class="col-xs-9">
                <div class="btn-group btn-group-xs" data-toggle="buttons">
                  <label class="btn btn-default active">
                    <input type="radio" name="axis" id="histogram_xAxis" autocomplete="off" checked> X
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="axis" id="histogram_yAxis" autocomplete="off"> Y
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="Should the histogram be drawn from only stuff thats visible in the network, or all the data?">Dataset</a></div>
              <div class="col-xs-9">
                <div class="btn-group btn-group-xs" data-toggle="buttons">
                  <label class="btn btn-default active">
                    <input type="radio" name="set" id="histogram_vislinks" autocomplete="off" checked> Only Visible Elements
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="set" id="histogram_alllinks" autocomplete="off"> All Elements
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="Which variable should the histogram be drawn from?">Variable</a></div>
              <div class="col-xs-9"><select id="histogram_variable"><option selected>distance</option></select></div>
            </div>
            <div class="row">
              <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="Should the y-axis show a linear or logarithmic scale?">Scale</a></div>
              <div class="col-xs-9">
                <div class="btn-group btn-group-xs" data-toggle="buttons">
                  <label class="btn btn-default active">
                    <input type="radio" name="scale" id="histogram_linearScale" autocomplete="off" checked> Linear
                  </label>
                  <label class="btn btn-default">
                    <input type="radio" name="scale" id="histogram_logScale" autocomplete="off"> Log
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="What color should the histogram be?">Color</a></div>
              <div class="col-xs-9"><input type="color" id="histogram_color" value="#5656ff" /></div>
            </div>
            <div class="row">
              <div class="col-xs-3"><a href="#" data-toggle="tooltip" title="What color would you like the background to be?">Background Color</a></div>
              <div class="col-xs-9"><input type="color" id="histogram_network-color" class="triggers" value="#ffffff" /></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script>
  $(function(){

    // electron.ipcRenderer.on('update-link-visibilities', (e, newLinks) => {
    //   let n = newLinks.length;
    //   for(let i = 0; i < n; i++){
    //     session.data.links[i].visible = newLinks[i];
    //   }
    //   redraw();
    // });

    let links = session.data.links;

    $('#histogram_variable').html(
      session.data.linkFields.map(key => `<option value='links-${key}'>Links ${app.titleize(key)}</option>`).concat(
      session.data.nodeFields.map(key => `<option value='nodes-${key}'>Nodes ${app.titleize(key)}</option>`)).join('\n')
    );

    $('#histogram_variable').val('links-distance');

    redraw();

    restyle();

    function redraw(){
      if(window.plot) Plotly.purge('histogram_panel');
      let varName, varSource;
      [varSource, varName] = $('#histogram_variable').val().split('-');
      let visible = $('#histogram_vislinks').is(':checked');
      let axis = $('#histogram_xAxis').is(':checked') ? 'x' : 'y';
      let nonaxis = $('#histogram_yAxis').is(':checked') ? 'x' : 'y';
      let data = {
        type: 'histogram',
        marker: {
          color: $('#histogram_color').val(),
        }
      };
      data[axis] = session.data[varSource].filter(l => !visible || l.visible).map(l => l[varName]);
      let layout = {};
      layout[axis + 'axis'] = {
        title: app.titleize(varName)
      }
      layout[nonaxis + 'axis'] = {
        title: 'Number of ' + app.titleize(varSource),
        type: $('#histogram_logScale').is(':checked') ? 'log' : ''
      };
      window.plot = Plotly.newPlot('histogram_panel', [data], layout, {
        displaylogo: false,
        displayModeBar: false
      });
      $(window).on('resize', e => {
        Plotly.relayout('histogram_panel', {
          width: $('#histogram_panel').width(),
          height: $('#histogram_panel').height()
        });
      });
    }

    function restyle(){
      $('#histogram_network-color').val(session.style.background);
      $('svg.main-svg:first').css('background-color', session.style.background);
      $('rect.bg').css('fill', session.style.background);
    }

    $('#histogram_network-color').on('input', e => {
      session.style.background = e.target.value;
      $('#histogram_panel').css('background-color', session.style.background);
      $('rect.bg').css('fill', session.style.background);
    });

    $('#histogram_alllinks, #histogram_vislinks, #histogram_logScale, #histogram_linearScale, #histogram_xAxis, #histogram_yAxis').change(redraw);
    $('#histogram_variable, #histogram_color').change(redraw);
  });
  </script>
