<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link rel="icon" href="img/image32.ico" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/alertifyjs/build/css/alertify.min.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
  <style>
    svg {
      background: #9bbff4;
    }
    #countries, #states, #counties {
      fill: #bbdaa4;
      stroke: #666666;
    }
  </style>
</head>
<body>
  <table id="groupKey"></table>
  <span id="tooltip"></span>
  <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Map Options</h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#dataConfigurations" aria-controls="dataConfigurations" role="tab" data-toggle="tab">Data</a></li>
            <li role="presentation"><a href="#nodeConfigurations" aria-controls="nodeConfigurations" role="tab" data-toggle="tab">Nodes</a></li>
            <li role="presentation"><a href="#mapConfigurations" aria-controls="nodeConfigurations" role="tab" data-toggle="tab">Map</a></li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="dataConfigurations">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">Latitude</div>
                  <div class="col-xs-9">
                    <select id="latitudeField" class="fields">
                      <option selected>None</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Longitude</div>
                  <div class="col-xs-9">
                    <select id="longitudeField" class="fields">
                      <option selected>None</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Zipcode</div>
                  <div class="col-xs-9">
                    <select id="zipcodeField" class="fields">
                      <option selected>None</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">County</div>
                  <div class="col-xs-9">
                    <select id="countyField" class="fields">
                      <option selected>None</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">State</div>
                  <div class="col-xs-9">
                    <select id="stateField" class="fields">
                      <option selected>None</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Country</div>
                  <div class="col-xs-9">
                    <select id="countryField" class="fields">
                      <option selected>None</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="nodeConfigurations">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">Radius</div>
                  <!--td>
                    <select id="radiusField" class="fields">
                      <option selected>None</option>
                    </select>
                  </td-->
                  <div class="col-xs-9">
                    <input type="range" id="radius" min="1" max="30" step="0.1" value="6" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Color</div>
                  <div class="col-xs-9">
                    <select id="nodeColorField" class="fields">
                      <option selected>None</option>
                    </select>
                    <input type="color" id="color" value="#5656ff" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Transparency</div>
                  <div class="col-xs-9">
                    <!--select id="opacityField" class="fields">
                      <option selected>None</option>
                    </select-->
                    <input type="range" id="opacity" min="0.00" max="1.00" step="0.01" value="1.00" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Jitter</div>
                  <div class="col-xs-9">
                    <input type="range" id="jitter" min="0.00" max="30" step="0.1" value="0.00" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Tooltip</div>
                  <div class="col-xs-9">
                    <select id="nodeTooltipVariable" class="fields">
                      <option selected>None</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="mapConfigurations">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">Layers</div>
                  <div class="col-xs-9">
                    <button type="button" class="btn btn-default btn-xs" data-toggle="button" id="showStates" aria-pressed="false" autocomplete="off">States</button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="button" id="showCounties" aria-pressed="false" autocomplete="off">Counties</button>
                    <button type="button" class="btn btn-default btn-xs active" data-toggle="button" id="showCities" aria-pressed="true" autocomplete="off">Cities</button>
                    <button type="button" class="btn btn-default btn-xs" data-toggle="button" id="showLinks" aria-pressed="false" autocomplete="off">Links</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Land Color</div>
                  <div class="col-xs-9">
                    <input type="color" id="landColor" value="#bbdaa4" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Water Color</div>
                  <div class="col-xs-9">
                    <input type="color" id="waterColor" value="#9bbff4" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div id="main_panel"></div>
  <script>
  const electron = require('electron');
  const Lazy = require('lazy.js');
  const d3 = require('d3');
  const Papa = require('papaparse');

  window.jQuery = window.$ = require('jquery');
  require('bootstrap');

  //TODO: Get rid of some of these globals!
  var countries, states, counties, cities, zipcodes, projection, path, svg;

  $(function(){

    electron.ipcRenderer.on('deliver-manifest', (e, manifest) => {
      $('title').text(manifest.productName + ' v. ' + manifest.version);
      $('#AppName').html('<a href="#">'+manifest.productName+'</a>');
      $('#AppVersion').html('<a href="#">'+manifest.version+'</a>');
    });
    electron.ipcRenderer.send('get-manifest');

    $('body').prepend(electron.ipcRenderer.sendSync('get-component', 'nav.html'));
    $('body').append(electron.ipcRenderer.sendSync('get-component', 'exportRasterImage.html'));

    electron.ipcRenderer.on('set-data', (e, data) => {
      window.session = {data: data};
      var fields = session.data.nodeFields;
      $('.fields').append(fields.map(field => '<option value="'+field+'">'+field+'</option>').join('\n'));
      if(fields.includes('lat')) $('#latitudeField').val('lat');
      if(fields.includes('lon')) $('#longitudeField').val('lon');
      if(fields.includes('zipcode')) $('#zipcodeField').val('zipcode');
      if(fields.includes('county')) $('#countyField').val('county');
      if(fields.includes('state')) $('#stateField').val('state');
      if(fields.includes('country')) $('#countryField').val('country');
      if(fields.includes('id')) $('#nodeTooltipVariable').val('id');
      matchCoordinates();
      $('#settingsModal').modal('show');
    });

    function matchCoordinates(){
      if($('#latitudeField').val() !== 'None' && $('#longitudeField').val() !== 'None'){
        let lat = $('#latitudeField').val(),
            lon = $('#longitudeField').val();
        session.data.nodes.forEach(n => {
          n.lat = n[lat];
          n.lon = n[lon];
        });
      } else if($('#zipcodeField').val() !== 'None'){
        if(!zipcodes){
          zipcodes = d3.csvParse(electron.ipcRenderer.sendSync('get-component', 'zipcodes.csv'), d => ({
            'zipcode':d.zipcode,
            'name':d.zipcode,
            'lat':+d.lat,
            'lon':+d.lon
          }));
        }
        let val = $('#zipcodeField').val();
        session.data.nodes.forEach(n => {
          let zo = zipcodes.find(z => z.zipcode == n[val]);
          if(zo) Object.assign(n, zo);
        });
      } else if($('#countyField').val() !== 'None'){
        let val = $('#countyField').val();
        session.data.nodes.forEach(n => {
          //TODO: Work out the State Problem.
          //TODO: Add Fuzzy String matching.
          let county = counties.find(c => c.name == n[val]);
          if(zo) Object.assign(n, zo);
        });
      } else if($('#stateField').val() !== 'None'){
        var val = $('#stateField').val();
        session.data.nodes.forEach(n => {
          //TODO: Work out the format problem.
          var state = states.find(s => s.usps == n[val]);
          if(state) Object.assign(n, {lat: state.lat, lon: state.lon});
        });
      } else if($('#countryField').val() !== 'None'){
        var val = $('#countryField').val();
        session.data.nodes.forEach(n => {
          //TODO: Merge content of countries.csv into countries.json
          //TODO: Work out the format problem.
          var country = countries.find(c => c.name == n[val]);
          if(state) Object.assign(n, {lat: state.lat, lon: state.lon});
        });
      }
      if(session.data.nodes[0].lat && session.data.nodes[0].lon) drawNodes();
    }

    electron.ipcRenderer.on('update-link-visibility', (e, newLinks) => {
      session.data.links.forEach((l, i) => l.visible = newLinks[i].visible);
      if($('#showLinks').hasClass('active')) drawLinks();
    });

    var width = $(window).width(),
        height = $(window).height();

    projection = d3.geoMercator();

    path = d3.geoPath().projection(projection);

    svg = d3.select('#main_panel').append('svg')
        .attr('width', width)
        .attr('height', height)

    lastTransform = {};

    svg.call(d3.zoom().on('zoom', () => {
      svg.selectAll('g#countries, g#states, g#counties, g#nodes, g#links, g#cities').attr('transform', d3.event.transform);
      svg.selectAll('g#countries, g#states, g#counties').selectAll('path').attr('stroke-width', 1 / d3.event.transform.k);
      svg.selectAll('g#nodes').selectAll('circle').attr('r', $('#radius').val() / d3.event.transform.k);
      svg.selectAll('g#links').selectAll('line').attr('stroke-width', 2 / d3.event.transform.k);
      lastTransform = Object.assign({}, d3.event.transform);
    }));

    countryLayer = svg.append('g').attr('id', 'countries');
    stateLayer   = svg.append('g').attr('id', 'states');
    countyLayer  = svg.append('g').attr('id', 'counties');
    cityLayer    = svg.append('g').attr('id', 'cities');
    linkLayer    = svg.append('g').attr('id', 'links');
    nodeLayer    = svg.append('g').attr('id', 'nodes');

    function showToolTip(d){
      var tooltiptext = '';
      if(d.properties) tooltiptext = d.properties.name;
      else if($('#nodeTooltipVariable').val() !== 'None' && d[$('#nodeTooltipVariable').val()]) tooltiptext = d[$('#nodeTooltipVariable').val()];
      d3.select('#tooltip')
        .html(tooltiptext)
        .style('left', (d3.event.pageX + 8) + 'px')
        .style('top', (d3.event.pageY + 18) + 'px')
        .transition().duration(100)
        .style('opacity', 1);
    }

    function hideTooltip(){
      var tooltip = d3.select('#tooltip');
      tooltip
        .transition().duration(100)
        .style('opacity', 0)
        .on('end', () => tooltip.style('right', '0px').style('top', '0px'));
    }

    function drawCountries(){
      if(!countries) countries = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'countries.json'));
      countryWrappers = countryLayer.selectAll('path').data(countries.features).enter().append('path')
        .attr('d', path)
        .on('mouseenter', showToolTip)
        .on('mouseout', hideTooltip);
      countryLayer.transition().style('opacity', 1);
    }

    function drawStates(){
      if(!states) states = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'states.json'));
      stateLayer.selectAll('path').data(states.features).enter().append('path')
        .attr('d', path)
        .attr('stroke-width', 1 / lastTransform.k)
        .on('mouseenter', showToolTip)
        .on('mouseout', hideTooltip);
      stateLayer.style('opacity', 1);
    }

    function drawCounties(){
      if(!counties) counties = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'counties.json'));
      countyLayer.selectAll('path').data(counties.features).enter().append('path')
        .attr('d', path)
        .attr('stroke-width', 1 / lastTransform.k)
        .on('mouseenter', showToolTip)
        .on('mouseout', hideTooltip);
      countyLayer.style('opacity', 1);
    }

    function drawCities(){
      if(!cities) cities = d3.csvParse(electron.ipcRenderer.sendSync('get-component', 'cities.csv'));
      cityWrappers = cityLayer
        .style('opacity', 0)
        .selectAll('g').attr('class', 'city')
        .data(window.cities).enter().append('g');
      cityWrappers.append('circle')
        .attr('cx', d => projection([d['Longitude'], d['Latitude']])[0])
        .attr('cy', d => projection([d['Longitude'], d['Latitude']])[1])
        .attr('r', d => d['sqrtpop'])
        .style('fill', 'black')
        .style('opacity', .3);
      cityWrappers.append('text').text(d => d['name'])
        .attr('dx', d => projection([d['Longitude'], d['Latitude']])[0] + d['sqrtpop']/2 + 1.2)
        .attr('dy', d => projection([d['Longitude'], d['Latitude']])[1] + .7)
        .style('fill', 'black')
        .attr('font-size', 2);
      cityLayer.transition().style('opacity', 1);
    }

    function drawNodes(){
      if(session.data.nodes[0].lat && session.data.nodes[0].lon){
        nodeLayer
          .selectAll('circle').data(session.data.nodes).enter()
          .append('circle')
          .attr('cx', d => projection([d.lon, d.lat])[0])
          .attr('cy', d => projection([d.lon, d.lat])[1])
          .attr('r', $('#radius').val())
          .style('fill', $('#color').val())
          .on('mouseenter', showToolTip)
          .on('mouseout', hideTooltip);
      }
    }

    function drawLinks(){
      if(typeof session.data.links[0].source !== 'object'){
        session.data.links.forEach(l => {
          l.source = session.data.nodes.find(d => d.id === l.source);
          l.target = session.data.nodes.find(d => d.id === l.target);
        });
      }
      let vlinks = session.data.links.filter(l => l.visible)
      let ll = linkLayer.selectAll('line').data(vlinks);
      ll.exit().remove();
      ll.enter().append('line').merge(ll)
        .attr('class', 'link')
        .style('stroke', '#ff0000')
        .attr('stroke-width', 2 / lastTransform.k)
        .attr('x1', d => projection([d.source.lon, d.source.lat])[0])
        .attr('y1', d => projection([d.source.lon, d.source.lat])[1])
        .attr('x2', d => projection([d.target.lon, d.target.lat])[0])
        .attr('y2', d => projection([d.target.lon, d.target.lat])[1]);
    }

    $('#longitudeField, #latitudeField, #countyField, #stateField, #countryField, #zipcodeField').change(matchCoordinates);

    $('#showStates').click(function(e){
      if(!$(this).hasClass('active')){
        countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 0);
        drawStates();
      } else {
        countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 1);
        stateLayer.transition().style('opacity', 0).on('end', e => stateLayer.html(null));
      }
    });

    $('#showCounties').click(function(e){
      if(!$(this).hasClass('active')){
        countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 0);
        drawCounties();
      } else {
        countryWrappers.filter(d => d.id === 'USA').transition().style('opacity', 1);
        countyLayer.transition().style('opacity', 0).on('end', e => countyLayer.html(null));
      }
    });

    $('#showCities').click(function(e){
      if(!$(this).hasClass('active')){
        drawCities();
      } else {
        cityLayer.transition().style('opacity', 0).on('end', e => cityLayer.html(null));
      }
    });

    $('#showLinks').click(function(e){
      if(!$(this).hasClass('active')){
        drawLinks();
      } else {
        linkLayer.transition().style('opacity', 0).on('end', e => linkLayer.html(null));
      }
    });

    $('#radius').on('input', e => nodeLayer.selectAll('circle').attr('r', e.target.value));

    $('#color').on('input', e => nodeLayer.selectAll('circle').style('fill', e.target.value));

    $('#jitter').on('input', e => {
      nodeLayer.selectAll('circle').data(session.data.nodes)
        .attr('cx', d => projection([d.lon, d.lat])[0] + (Math.random()*2-1)*e.target.value)
        .attr('cy', d => projection([d.lon, d.lat])[1] + (Math.random()*2-1)*e.target.value);
    });

    $('#nodeColorField').change(e => {
      var circles = svg.select('g#nodes').selectAll('circle').data(session.data.nodes);
      var table = $('#groupKey').empty();
      if(e.target.value == 'none'){
        circles.style('fill', $('#color').val());
        table.fadeOut();
        return;
      }
      table.append('<tr><th>'+e.target.value+'</th><th>Color</th></tr>');
      var values = Lazy(session.data.nodes).pluck(e.target.value).uniq().sort().toArray();
      let colors = JSON.parse(electron.ipcRenderer.sendSync('get-component', 'colors.json'));
      var o = d3.scaleOrdinal(colors).domain(values);
      circles.style('fill', d => o(d[e.target.value]));
      values.forEach(value => {
        var input = $('<input type="color" value="'+o(value)+'" />')
          .on('input', evt => {
            circles
              .filter(d => d[e.target.value] == value)
              .style('fill', d => evt.target.value);
          });
        var cell = $('<td></td>').append(input);
        var row = $('<tr><td>'+value+'</td></tr>').append(cell);
        table.append(row);
      });
      table.fadeIn();
    });

    $('#opacity').on('input', e => svg.selectAll('circle').attr('opacity', e.target.value));

    $('#landColor').on('input', e => svg.selectAll('path').attr('fill', e.target.value));

    $('#waterColor').on('input', e => svg.style('background', e.target.value));

    drawCountries();
    drawCities();

    electron.ipcRenderer.send('get-data');
  });

  </script>
  </body>
</html>
