  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed navbar-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="navbar-right">
          <a class="navbar-brand title invisible" href="#"><h1>MicrobeTrace</h1></a>
        </div>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File</a>
            <ul class="dropdown-menu">
              <li id="ExitTab"><a href="#">Exit</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edit</a>
            <ul class="dropdown-menu">
              <li id="SettingsTab" data-toggle="modal" data-target="#settingsModal"><a href="#">Settings</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View</a>
            <ul class="dropdown-menu">
              <li id="3DNetworkTab"><a href="3D.html" target="_blank">3D Network</a></li>
              <li id="TableTab"><a href="table.html" target="_blank">Table</a></li>
              <li id="FlowTab"><a href="flowDiagram.html" target="_blank">Flow Diagram</a></li>
              <li id="ScatterplotTab"><a href="scatterplot.html" target="_blank">Scatterplot</a></li>
              <li id="MapTab"><a href="map.html" target="_blank">Map</a></li>
              <li role="separator" class="divider showForSequence"></li>
              <li id="HistogramTab" class="showForSequence"><a href="histogram.html" target="_blank">Histogram</a></li>
              <li id="SequencesTab" class="showForSequence"><a href="sequences.html" target="_blank">Sequences</a></li>
              <li id="HeatmapTab" class="showForSequence"><a href="heatmap.html" target="_blank">Heatmap</a></li>
              <li id="TreeTab" class="showForSequence"><a href="phylogeneticTree.html" target="_blank">Phylogenetic Tree</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Window</a>
            <ul class="dropdown-menu">
              <li id="ReloadTab"><a href="#">Reload</a></li>
              <li role="separator" class="divider"></li>
              <li id="FullScreenTab"><a href="#">Toggle Full Screen</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help</a>
            <ul class="dropdown-menu">
              <li id="HelpTab"><a href="https://github.com/CDCGov/MicrobeTrace/wiki" target="_blank">Help</a></li>
              <li role="separator" class="divider"></li>
              <li id="InstallTab"><a href="#" data-toggle="modal" data-target="#install-modal">Install</a></li>
              <li id="AboutTab"><a href="#" data-toggle="modal" data-target="#about-modal">About</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="aboutModalLabel">About MicrobeTrace</h4>
        </div>
        <div class="modal-body">
          <h3>MicrobeTrace</h3>
          MicrobeTrace is a desktop application that renders existing data from high-risk contact networks in an easy-to-use Graphical User Interface (GUI). The network visualization can be customized according to supplemental data sources and mathematical inferences like the most probable transmission pathways. MicrobeTrace is a highly responsive, visual sequence analytics tool which can reduce the gap between data production and analytics and help you to discover, understand, and display relationships between patients (nodes). As a standalone desktop application, MicrobeTrace can be deployed on laptops to locations without any Internet access, thereby reducing both the startup cost and analysis time and effort.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="install-modal" tabindex="-1" role="dialog" aria-labelledby="install-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="install-modal-label">Install MicrobeTrace</h4>
        </div>
        <div class="modal-body">
          Drag this icon to your Desktop to Install MicrobeTrace:<br />
          <a href="https://aaboyles.github.com/WebMicrobeTrace" class="text-center">
            <div style="background-image:url('img/icon.ico');width:128px;height:128px;"></div>
            <div>MicrobeTrace</div>
          </a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="node_modules/screenfull/dist/screenfull.js"></script>
  <script>
  if(!reset) reset = function(){ window.location.reload(true); };

  $('#ExitTab').click(function(){ window.open('','_self').close(); });

  $('#ReloadTab').click(reset);

  $('#FullScreenTab').click(function(){ screenfull.toggle(); });
  </script>
