<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link rel="icon" href="img/image32.ico" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/alertifyjs/build/css/alertify.min.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/phylotree/phylotree.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
  <style>
body{
  overflow:auto;
}
#main_panel{
  padding-top: 10px;
}
.fa-rotate-45 {
  transform: rotate(45deg);
}
.fa-rotate-135 {
  transform: rotate(135deg);
}
.showForSequence {
  display: list-item;
}
  </style>
</head>
<body>
  <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Phylogenetic Tree Configuration</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-3">Distance Metric</div>
            <div class="col-xs-9">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default btn-xs active">
                  <input type="radio" name="distanceMetric" id="tn93" autocomplete="off" checked> TN93
                </label>
                <label class="btn btn-default btn-xs">
                  <input type="radio" name="distanceMetric" id="snps" autocomplete="off"> SNPs
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">Layout Tweaks</div>
            <div class="col-xs-9">
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm" data-direction="vertical" data-amount="1" title="Expand vertical spacing">
                    <i class="fa fa-arrows-v"></i>
                </button>
                 <button type="button" class="btn btn-default btn-sm" data-direction="vertical" data-amount="-1" title="Compress vertical spacing">
                    <i class="fa fa-compress fa-rotate-135"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm" data-direction="horizontal" data-amount="1" title="Expand horizonal spacing">
                    <i class="fa fa-arrows-h"></i>
                </button>
                 <button type="button" class="btn btn-default btn-sm" data-direction="horizontal" data-amount="-1" title="Compress horizonal spacing">
                    <i class="fa fa-compress fa-rotate-45"></i>
                </button>
                 <button type="button" class="btn btn-default btn-sm" id="sort_ascending" title="Sort deepest clades to the bottom">
                    <i class="fa fa-sort-amount-asc"></i>
                </button>
                 <button type="button" class="btn btn-default btn-sm" id="sort_descending" title="Sort deepsest clades to the top">
                    <i class="fa fa-sort-amount-desc"></i>
                </button>
                 <button type="button" class="btn btn-default btn-sm" id="sort_original" title="Restore original order">
                    <i class="fa fa-sort"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">Layout</div>
            <div class="col-xs-9">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active btn-sm">
                  <input type="radio" name="options" class="phylotree-layout-mode" data-mode="linear" autocomplete="off" checked title="Layout left-to-right"> Linear
                </label>
                <label class="btn btn-default  btn-sm">
                  <input type="radio" name="options" class="phylotree-layout-mode" data-mode="radial" autocomplete="off" title="Layout radially"> Radial
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">Label Alignment</div>
            <div class="col-xs-9">
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active btn-sm">
                  <input type="radio" class="phylotree-align-toggler" data-align="left" name="options-align" autocomplete="off" checked title="Align tips labels to branches">
                      <i class="fa fa-align-left"></i>
                  </input>
                </label>
                <label class="btn btn-default btn-sm">
                 <input type="radio" class="phylotree-align-toggler" data-align="right" name="options-align" autocomplete="off" title="Align tips labels to the edge of the plot">
                      <i class="fa fa-align-right"></i>
                  </input>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <table id="networkStatistics">
    <tr>
      <td>Selected Branches</td>
      <td id="selected_branch_counter">0</td>
    </tr>
  </table>

  <div id="main_panel"></div>

  <script>
  const electron = require('electron');
  const _ = require('underscore');
  const nj = require('neighbor-joining');
  window.jQuery = window.$ = require('jquery');
  require('bootstrap');
  var d3 = require('../vendor/d3v3.js');
  require('phylotree');
  const alertify = require('alertifyjs');

  $(function(){
    electron.ipcRenderer.on('deliver-manifest', (e, manifest) => {
      $('title').text(manifest.productName + ' v' + manifest.version);
    });
    electron.ipcRenderer.send('get-manifest');

    $('body').prepend(electron.ipcRenderer.sendSync('get-component', 'nav.html'));
    $('body').append( electron.ipcRenderer.sendSync('get-component', 'exportRasterImage.html'));
    $('<li id="ExportTab"><a href="#">Export Newick</a></li>').click(() => {
      electron.remote.dialog.showSaveDialog({
        filters: [
          {name: 'Newick', extensions: ['nwk']}
        ]
      }, (fileName) => {
        if (fileName === undefined){
          return alertify.error('File not exported!');
        }
        jetpack.write(fileName, session.data.newick);
        alertify.success('File Saved!');
      });
    }).insertAfter('#FileTab');
    $('<li role="separator" class="divider"></li>').insertAfter('#FileTab');
    $('body').append( electron.ipcRenderer.sendSync('get-component', 'search.html'));

    function hide_search(){
      $('#searchBox').slideUp();
      tree.modify_selection(n => false, "tag");
    }

    electron.ipcRenderer.on('set-data', (e, data) => {
      window.session = {data: data};
      drawTree();
    });
    electron.ipcRenderer.send('get-data');

    function drawTree(){
      svg.html(null);
      var taxa = session.data.nodes.filter(d => d.seq).map(d => ({
        name: d.id,
        genotype: d.id
      }));
      var RNJ = new nj.RapidNeighborJoining(session.data.distance_matrix[$('[name="distanceMetric"]:checked')[0].id], taxa);
      RNJ.run();
      session.data.newick = RNJ.getAsNewick();
      tree(session.data.newick).svg(svg).layout();
      tree.branch_length(null);
      tree.branch_name(null);
      tree.node_span('equal');
      tree.options({'draw-size-bubbles' : false}, false);
      tree.selection_label(current_selection_name);
    }

    var width  = $('#main_panel').width(),
        height = $('#main_panel').height(),
        selection_set = ['Foreground'],
        current_selection_id = 0,
        color_scheme = d3.scale.category10();

    var tree = d3.layout.phylotree('body')
      .size([height, width])
      .separation((a,b) => 0)
      .count_handler(count => $('#selected_branch_counter').text(d => count[current_selection_name]));

    var svg = d3.select('#main_panel').append('svg')
      .attr('width', width)
      .attr('height', height);

    function update_selection_names(id, skip_rebuild){
      skip_rebuild = skip_rebuild || false;
      id = id || 0;
      current_selection_name = selection_set[id];
      current_selection_id = id;
      if(!skip_rebuild){
        d3.selectAll('.selection_set').remove();
        d3.select('#selection_name_dropdown')
          .selectAll('.selection_set')
          .data(selection_set)
          .enter().append('li')
            .attr('class', 'selection_set')
            .append('a')
            .attr('href', '#')
            .text(d => d)
            .style('color', (d,i) => color_scheme(i))
            .on('click', (d,i) => update_selection_names(i,true));
      }
      tree.selection_label(selection_set[id]);
    }

    update_selection_names();

    $('[data-direction]').on('click', function(e){
      var which_function = $(this).data('direction') == 'vertical' ? tree.spacing_x : tree.spacing_y;
      which_function(which_function() + (+$(this).data('amount'))).update();
    });

    $('.phylotree-layout-mode').on('change', function(e){
      if($(this).is(':checked')){
        if(tree.radial() != ($(this).data('mode') == 'radial')){
          tree.radial(!tree.radial()).placenodes().update();
        }
      }
    });

    $('.phylotree-align-toggler').on('change', function(e){
      if($(this).is(':checked')){
        if(tree.align_tips($(this).data('align') == 'right')){
          tree.placenodes().update();
        }
      }
    });

    function sort_nodes(asc){
      tree.traverse_and_compute(n => {
        var d = 1;
        if(n.children && n.children.length){
          d += d3.max(n.children, d => d['count_depth']);
        }
        n['count_depth'] = d;
      });
      tree.resort_children((a, b) => (a['count_depth'] - b['count_depth']) * (asc ? 1 : -1));
    }

    $('input[name="distanceMetric"]').change(drawTree);

    $('#sort_original').click(e => tree.resort_children((a,b) => a['original_child_order'] - b['original_child_order']));
    $('#sort_ascending, #sort_descending').click(e => sort_nodes(e.target.id === 'sort_ascending'));

    $("#search").on ("input propertychange focus", e => {
      var rx = new RegExp(e.target.value, "i");
      tree.modify_selection(n => e.target.value.length && (tree.branch_name()(n.target).search(rx)) != -1, "tag");
    });

    $(document).on('keydown', e => {
      if(e.which === 123) electron.remote.getCurrentWindow().toggleDevTools(); //F12
    });

  });
  </script>
</body>
</html>
`
