  <div id="phylogenetic_tree_panel"></div>

  <div class="view_controls">
    <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#phylogenetic_tree_settings_modal">
      <span class="oi oi-cog"></span>
    </button>
    <button type="button" class="btn btn-light btn-sm"  data-toggle="modal" data-target="#export_tree_modal" title="Export Tree">
      <span class="oi oi-data-transfer-download"></span>
    </button>
  </div>

  <div class="modal fade" id="phylogenetic_tree_settings_modal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Phylogenetic Tree Configuration</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-2">Distance Metric</div>
            <div class="col-10">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary btn-sm active">
                  <input type="radio" name="tree_distanceMetric" data-value="tn93" autocomplete="off" checked> TN93
                </label>
                <label class="btn btn-secondary btn-sm">
                  <input type="radio" name="tree_distanceMetric" data-value="snps" autocomplete="off"> SNPs
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-2">Layout</div>
            <div class="col-10">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary btn-sm active">
                  <input type="radio" name="tree_layout" data-value="rectangular" autocomplete="off" checked> Rectangular
                </label>
                <label class="btn btn-secondary btn-sm">
                  <input type="radio" name="tree_layout" data-value="diagonal" autocomplete="off"> Diagonal
                </label>
                <label class="btn btn-secondary btn-sm">
                  <input type="radio" name="tree_layout" data-value="hierarchical" autocomplete="off"> Hierarchical
                </label>
                <label class="btn btn-secondary btn-sm">
                  <input type="radio" name="tree_layout" data-value="circular" autocomplete="off"> Circular
                </label>
                <label class="btn btn-secondary btn-sm">
                  <input type="radio" name="tree_layout" data-value="radial" autocomplete="off"> Radial
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-3">Labels</div>
            <div class="col-9">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary btn-sm active">
                  <input type="radio" name="tree_labels" id="tree_labels_show" autocomplete="off" checked> Show
                </label>
                <label class="btn btn-secondary btn-sm">
                  <input type="radio" name="tree_labels" id="tree_labels_hide" autocomplete="off"> Hide
                </label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-3">Text Size</div>
            <div class="col-9"><input type="range" id="tree_font-size-slider" min="6" value="10" max="24" step="1" /></div>
          </div>
          <div class="form-group row">
            <div class="col-3">Node Radius</div>
            <div class="col-9"><input type="range" id="tree_node-size-slider" min="1" value="4" max="36" step="1" /></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div id="export_tree_modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Export SVG</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-9">
              <input type="text" id="tree_export-img-file-name" class="form-control form-control-sm" placeholder="Filename" />
            </div>
            <div class="col-3">
              <select id="tree_export-img-file-type" class="form-control form-control-sm">
                <option selected>png</option>
                <option>nwk</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
          <button type="button" id="tree_export" class="btn btn-primary" data-dismiss="modal">Export</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script type="application/javascript" src="vendor/neighbor-joining.js"></script>
  <script type="application/javascript" src="node_modules/phylocanvas/dist/phylocanvas.min.js"></script>
  <script>

  var phylocanvas;

  (function(){

    function redrawTree(){
      var typeSelector = $('input[type="radio"][name="tree_distanceMetric"]');
      var type = typeSelector.filter(':checked').data('value');

      if(!session.data.trees[type]){
        var RNJ = new RapidNeighborJoining(session.data.distance_matrix[type], session.data.distance_matrix.labels.map(function(l){
          return {
            'name': l,
            'genotype': l
          }
        }));
        RNJ.run();
        session.data.trees[type] = RNJ.getAsNewick();
      }

      var root = $('#phylogenetic_tree_panel').empty();

      phylocanvas = new Phylocanvas.Tree(root[0]);
      phylocanvas.load(session.data.trees[type]); // load your tree file
      phylocanvas.setSize(root.parent().width(), root.parent().height());
      phylocanvas.setTreeType($('[name="tree_layout"]:checked').data('value'));
      phylocanvas.fitInPanel();
    }

    $('[name="tree_distanceMetric"]').change(function(){
      redrawTree();
      phylocanvas.draw();
    });

    $('[name="tree_layout"]').change(e => {
      phylocanvas.setTreeType($('[name="tree_layout"]:checked').data('value'));
      phylocanvas.fitInPanel();
    });

    $('#tree_font-size-slider').on('input', e => {
      phylocanvas.setTextSize(e.target.value);
    });

    $('#tree_node-size-slider').on('input', e => {
      phylocanvas.setNodeSize(e.target.value);
    });

    $('#tree_labels_show').parent().click(e => {
      phylocanvas.showLabels = true;
      phylocanvas.draw();
    });

    $('#tree_labels_hide').parent().click(e => {
      phylocanvas.showLabels = false;
      phylocanvas.draw();
    });

    $('#tree_export').click(e => {
      var type = $('#tree_export-img-file-type').val();
      if(type === 'png'){
        $('#phylogenetic_tree_panel canvas')[0].toBlob(function(blob) {
          saveAs(blob, $('#tree_export-img-file-name').val() + '.png');
        });
      } else if(type === 'nwk'){
        var blob = new Blob([session.data.trees[$('[name="tree_distanceMetric"]:checked').data('value')]], {type: "application/newick;charset=utf-8"});
        saveAs(blob, $('#tree_export-img-file-name').val() + '.nwk');
      }
    });

    setTimeout(redrawTree, 80);

  })();
  </script>
