  <svg id="tree"></svg>

  <div class="view_controls">
    <button id="toggle-tree-settings" type="button" class="btn btn-light btn-sm">
      <span class="oi oi-cog"></span>
    </button>
    <button type="button" class="btn btn-light btn-sm"  data-toggle="modal" data-target="#export-tree-modal" title="Export Tree">
      <span class="oi oi-data-transfer-download"></span>
    </button>
  </div>

  <div id="tree-settings_pane" class="left_pane">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item active">
        <a href="#tree-configurations" id="tree-tab" class="nav-link active" aria-controls="tree" role="tab" data-toggle="tab">Phylogenetic Tree</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="tree-configurations" role="tabpanel" aria-labelledby="tree-tab">
        <div class="form-group row">
          <div class="col-3">Distance Metric</div>
          <div class="col-9">
            <div id="tree-metric" class="btn-group btn-group-toggle w-100" data-toggle="buttons"></div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Layout</div>
          <div class="col-9">
            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
              <label class="btn btn-light btn-sm active col">
                <input type="radio" name="tree-layout" id="tree-layout-rectangular" autocomplete="off" checked> Rectangular
              </label>
              <label class="btn btn-light btn-sm col">
                <input type="radio" name="tree-layout" id="tree-layout-circular" autocomplete="off"> Circular
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Labels</div>
          <div class="col-9">
            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
              <label class="btn btn-light btn-sm active col">
                <input type="radio" name="tree-labels" id="tree-labels-show" autocomplete="off" checked> Show
              </label>
              <label class="btn btn-light btn-sm col">
                <input type="radio" name="tree-labels" id="tree-labels-align" autocomplete="off"> Align
              </label>
              <label class="btn btn-light btn-sm col">
                <input type="radio" name="tree-labels" id="tree-labels-hide" autocomplete="off"> Hide
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Height</div>
          <div class="col-9">
            <div class="btn-group w-100">
              <button type="button" class="btn btn-light btn-sm col" data-direction="vertical" data-amount="1" title="Expand vertical spacing">Increase</button>
              <button type="button" class="btn btn-light btn-sm col" data-direction="vertical" data-amount="-1" title="Compress vertical spacing">Decrease</button>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Width</div>
          <div class="col-9">
            <div class="btn-group w-100">
              <button type="button" class="btn btn-light btn-sm col" data-direction="horizontal" data-amount="1" title="Expand horizonal spacing">Increase</button>
              <button type="button" class="btn btn-light btn-sm col" data-direction="horizontal" data-amount="-1" title="Compress horizonal spacing">Decrease</button>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-3">Sort</div>
          <div class="col-9">
            <div class="btn-group btn-group-toggle w-100">
              <button type="button" class="btn btn-light btn-sm col" id="tree-sort-original" title="Restore original order">Default</button>
              <button type="button" class="btn btn-light btn-sm col" id="tree-sort-ascending" title="Sort deepest clades to the bottom">Ascending</button>
              <button type="button" class="btn btn-light btn-sm col" id="tree-sort-descending" title="Sort deepest clades to the top">Descending</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="export-tree-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Export SVG</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-9">
              <input type="text" id="tree-export-file-name" class="form-control form-control-sm" placeholder="Filename" />
            </div>
            <div class="col-3">
              <select id="tree-export-file-type" class="form-control form-control-sm">
                <option selected>png</option>
                <option>svg</option>
                <option>nwk</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
          <button type="button" id="tree-export" class="btn btn-primary" data-dismiss="modal">Export</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script src="vendor/d3.v3.min.js"></script>
  <script src="vendor/phylotree.js"></script>
  <script>
(function(){
    var tree, nodes;

    function redrawTree(){
      let panel = $('svg#tree').parent();
      if(!panel.length) return;
      let width = panel.width(),
          height = panel.height(),
          color_scheme = d3v3.scale.category10(),
          type = session.style.widgets['tree-metric'];

      if(!session.data.trees[type]){
        app.computeTree(type, redrawTree);
        return;
      }
      let svg = d3v3.select('svg#tree')
          .attr('width', width)
          .attr('height', height);

      tree = d3v3.layout.phylotree().separation(function(a,b){return 0;});

      tree.branch_length(null);
      tree.branch_name(null);
      tree.node_span('equal');
      tree.options({
        'brush': false,
        'draw-size-bubbles': true,
        // // Ideally, we'd use these, but they're buggy. :/
        // 'left-right-spacing': 'fit-to-size',
        // 'top-bottom-spacing': 'fit-to-size',
        'zoom': true
      }, false);
      if(session.style.widgets['tree-labels-show']){
        tree.align_tips(session.style.widgets['tree-labels-align']);
      } else {
        d3.select('svg#tree').selectAll('.node').style('display', 'none');
      }
      nodes = app.getVisibleNodes();
      tree.style_nodes(node_colorizer);
      tree.node_circle_size(0);
      tree.radial(session.style.widgets['tree-layout-circular']);

      tree(session.data.trees[type]).svg(svg).layout();

      tree.modify_selection(modify_selection);

      $('svg#tree .branch-selected').css('stroke', session.style.widgets['selected-color']);
    }

    $('#tree-metric').html(
      Object.keys(session.data.distance_matrix).filter(k => k !== 'labels').map((k, i) =>
        `<label class="btn btn-light btn-sm col${(k===session.style.widgets['tree-metric'])? ' active':''}">
          <input type="radio" name="tree-metric" value="${k}" autocomplete="off"${(k===session.style.widgets['tree-metric'])? ' checked':''}>${app.titleize(k)}</input>
        </label>`
      ).join('')
    );

    $('[name="tree-metric"]').on('change', function(e){
      session.style.widgets['tree-metric'] = $('[name="tree-metric"]:checked').val();
      redrawTree();
    });

    $('#tree-layout-rectangular').parent().on('click', e => {
      session.style.widgets['tree-layout-circular'] = false;
      tree.radial(false).placenodes().update();
    });

    $('#tree-layout-circular').parent().on('click', e => {
      session.style.widgets['tree-layout-circular'] = true;
      tree.radial(true).placenodes().update();
    });

    $('#tree-labels-align').parent().on('click', e => {
      if(!tree) return;
      session.style.widgets['tree-labels-show'] = true;
      session.style.widgets['tree-labels-align'] = true;
      d3.select('svg#tree').selectAll('.node').style('display', 'inline');
      tree.align_tips(true).placenodes().update();
    });

    $('#tree-labels-show').parent().on('click', e => {
      if(!tree) return;
      session.style.widgets['tree-labels-show'] = true;
      session.style.widgets['tree-labels-align'] = false;
      d3.select('svg#tree').selectAll('.node').style('display', 'inline');
      tree.align_tips(false).placenodes().update();
    });

    $('#tree-labels-hide').parent().on('click', e => {
      if(!tree) return;
      session.style.widgets['tree-labels-show'] = false;
      d3.select('svg#tree').selectAll('.node').style('display', 'none');
    });

    $('[data-direction]').on('click', function(e){
      let which_function = $(this).data('direction') == 'vertical' ? tree.spacing_x : tree.spacing_y;
      which_function(which_function() + (+$(this).data('amount')));
      tree.update();
    });

    function sort_nodes(asc){
      tree.traverse_and_compute(function(n){
        let d = 1;
        if(n.children && n.children.length){
          d += d3.max(n.children, d => d.count_depth);
        }
        n['count_depth'] = d;
      });
      tree.resort_children(function(a,b){
        return(a['count_depth'] - b['count_depth']) *(asc ? 1 : -1);
      });
    }

    $('#tree-sort-original').on('click', function(e){
      tree.resort_children(function(a,b){
        return a['original_child_order'] - b['original_child_order'];
      });
    });

    $('#tree-sort-ascending').on('click', function(e){
      sort_nodes(true);
    });

    $('#tree-sort-descending').on('click', function(e){
      sort_nodes(false);
    });

    function node_colorizer(element, data){
      let d = nodes.find(d => d.id == data.name);
      if(d){
        let color = session.style.nodeColorMap(d[session.style.widgets['node-color-variable']]);
        d3v3.select(element[0][0]).select('text'  ).style('fill', color);
        d3v3.select(element[0][0]).select('circle').style('fill', color);
      }
    }

    $('#toggle-tree-settings').on('click', function(){
      let pane = $('#tree-settings_pane');
      if(pane.is(':visible')){
        pane.animate({left: '-400px'}, function(){ pane.hide(); });
      } else {
        pane.show(0, function(){ pane.animate({left: '0px'}); });
      }
    });

    $('#tree-export').on('click', e => {
      let type = $('#tree-export-file-type').val();
      if(type === 'png'){
        let root = $('svg#tree')[0];
        let content = app.unparseSVG(root);
        app.blobifySVG(content, root.width.baseVal.value, root.height.baseVal.value, function(blob){
          saveAs(blob, $('#tree-export-file-name').val() + '.png');
        });
      } else if(type === 'svg'){
        let blob = new Blob([app.unparseSVG($('svg#tree')[0])], {type: 'image/svg+xml;charset=utf-8'});
        saveAs(blob, $('#tree-export-file-name').val() + '.svg');
      } else if(type === 'nwk'){
        let blob = new Blob([session.data.trees[session.style.widgets['tree-metric']]], {type: 'application/newick;charset=utf-8'});
        saveAs(blob, $('#tree-export-file-name').val() + '.nwk');
      }
    });

    function modify_selection(node){
      if(node.target.name === "") return false;
      let match = session.data.nodes.find(d => node.target.name === d.id);
      if(match) return match.selected;
      return false;
    }

    $(window)
      .on('node-color-change', function(){ tree.style_nodes(node_colorizer).layout(); })
      .on('node-selected', function(){
        tree.modify_selection(modify_selection);
        $('svg#tree .branch-selected').css('stroke', session.style.widgets['selected-color']);
      })
      .on('background-color-change', function(){
        $('svg#tree').parent().css('background-color', session.style.widgets['background-color']);
      });

    $('svg#tree').parent().css('background-color', session.style.widgets['background-color']);

    redrawTree();

    tree.selection_callback(function(nodes){
      let trigger = false;
      nodes.forEach(node => {
        if(node.name === '') return;
        let match = session.data.nodes.find(d => d.id === node.name);
        if(match){
          match.selected = !match.selected;
          trigger = true;
        }
      });
      if(trigger) $(window).trigger('node-selected');
    });

  })();
  </script>
