<div id="tree"></div>

  <div class="view-controls">
    <button id="toggle-tree-settings" type="button" class="btn btn-light btn-sm">
      <span class="oi oi-cog"></span>
    </button>
    <button type="button" class="btn btn-light btn-sm"  data-toggle="modal" data-target="#tree-export-modal" title="Export Tree">
      <span class="oi oi-data-transfer-download"></span>
    </button>
    <button id="tree-fitbutton" type="button" class="btn btn-light btn-sm" title="Center and Scale Phylogenetic Tree">
      <span class="oi oi-target"></span>
    </button>
  </div>

  <div id="tree-settings-pane" class="left-pane">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item active">
        <a href="#tree-configurations" id="tree-tab" class="nav-link active" aria-controls="tree" role="tab" data-toggle="tab">Phylogenetic Tree</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="tree-configurations" role="tabpanel" aria-labelledby="tree-tab">
        <div class="accordion" id="tree-controls-accordion">
          <div class="card">
            <div class="card-header p-0">
              <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#tree-controls-source" aria-expanded="true" aria-controls="tree-controls-source" style="color:#495057">Data</button>
            </div>
            <div id="tree-controls-source" class="collapse show" data-parent="#tree-controls-accordion">
              <div class="card-body">
                <div class="form-group row" title="Which distance metric would you like to use as a basis for computing the Tree?">
                  <div class="col-3">Metric</div>
                  <div class="col-9">
                    <div id="tree-metric" class="btn-group btn-group-toggle w-100" data-toggle="buttons"></div>
                  </div>
                </div>
                <div class="form-group row" title="Would you like to round disctances in the tree to integers?">
                  <div class="col-3">Round</div>
                  <div class="col-9">
                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                      <label class="btn btn-light btn-sm active col">
                        <input type="radio" name="tree-round" id="tree-round-false" autocomplete="off" checked> Unrounded
                      </label>
                      <label class="btn btn-light btn-sm col">
                        <input type="radio" name="tree-round" id="tree-round" autocomplete="off"> Rounded
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-0">
              <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#tree-controls-layout" aria-expanded="false" aria-controls="tree-controls-layout" style="color:#495057">Layout</button>
            </div>
            <div id="tree-controls-layout" class="collapse" data-parent="#tree-controls-accordion">
              <div class="card-body">
                <div class="form-group row" title="What kind of layout would you like to use for this tree?">
                  <div class="col-3">
                    <label for="tree-type">Type</label>
                  </div>
                  <div class="col-9">
                    <select id="tree-type" class="form-control">
                      <option value="tree">Tree</option>
                      <option value="weighted" selected>Weighted Dendrogram</option>
                      <option value="dendrogram">Unweighted Dendrogram</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row" title="What kind of layout would you like to use for this tree?">
                  <div class="col-3">Layout</div>
                  <div class="col-9">
                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                      <label class="btn btn-light btn-sm active col">
                        <input type="radio" name="tree-layout" id="tree-layout-vertical" autocomplete="off" checked> Vertical
                      </label>
                      <label class="btn btn-light btn-sm col">
                        <input type="radio" name="tree-layout" id="tree-layout-horizontal" autocomplete="off"> Horizontal
                      </label>
                      <label class="btn btn-light btn-sm col">
                        <input type="radio" name="tree-layout" id="tree-layout-circular" autocomplete="off"> Circular
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row" title="Would you like to see a ruler indicating patristic distances next to your tree?">
                  <div class="col-3">Ruler</div>
                  <div class="col-9">
                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                      <label class="btn btn-light btn-sm col active">
                        <input type="radio" name="tree-ruler" id="tree-ruler-show" autocomplete="off" checked> Show
                      </label>
                      <label class="btn btn-light btn-sm col">
                        <input type="radio" name="tree-ruler" id="tree-ruler-hide" autocomplete="off"> Hide
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-0">
              <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#tree-controls-branches" aria-expanded="true" aria-controls="tree-controls-source" style="color:#495057">Branches</button>
            </div>
            <div id="tree-controls-branches" class="collapse" data-parent="#tree-controls-accordion">
              <div class="card-body">
                <div class="form-group row" title="What would you like the branches to be shaped like?">
                  <div class="col-3">Type</div>
                  <div class="col-9">
                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                      <label class="btn btn-light btn-sm col active">
                        <input type="radio" name="tree-mode" id="tree-mode-square" autocomplete="off" checked> Square
                      </label>
                      <label class="btn btn-light btn-sm col">
                        <input type="radio" name="tree-mode" id="tree-mode-smooth" autocomplete="off"> Smooth
                      </label>
                      <label class="btn btn-light btn-sm col">
                        <input type="radio" name="tree-mode" id="tree-mode-straight" autocomplete="off"> Straight
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row" title="Would you like to render nodes at the tree's branchpoints?">
                  <div class="col-3">Nodes</div>
                  <div class="col-9">
                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                      <label class="btn btn-light btn-sm col">
                        <input type="radio" name="tree-branch-nodes" id="tree-branch-node-show" autocomplete="off"> Show
                      </label>
                      <label class="btn btn-light btn-sm col active">
                        <input type="radio" name="tree-branch-nodes" id="tree-branch-node-hide" autocomplete="off" checked> Hide
                      </label>
                    </div>
                  </div>
                </div>
                <!-- <div class="form-group row" title="Would you like to see labels of named branches (if any exist)?">
                  <div class="col-3">Labels</div>
                  <div class="col-9">
                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                      <label class="btn btn-light btn-sm col">
                        <input type="radio" name="tree-branch-labels" id="tree-branch-label-show" autocomplete="off"> Show
                      </label>
                      <label class="btn btn-light btn-sm col active">
                        <input type="radio" name="tree-branch-labels" id="tree-branch-label-hide" autocomplete="off" checked> Hide
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="tree-branch-label-size">Label Size</label>
                  </div>
                  <div class="col-9">
                    <input id="tree-branch-label-size" type="range" min="1" max="32" value="6" step="1" />
                  </div>
                </div> -->
                <div class="form-group row" title="Would you like to see branch distances written on the Branches?">
                  <div class="col-3">Length Labels</div>
                  <div class="col-9">
                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                      <label class="btn btn-light btn-sm col">
                        <input type="radio" name="tree-branch-distances" id="tree-branch-distance-show" autocomplete="off"> Show
                      </label>
                      <label class="btn btn-light btn-sm col active">
                        <input type="radio" name="tree-branch-distances" id="tree-branch-distance-hide" autocomplete="off" checked> Hide
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row" title="How big should the branch distance labels be?">
                  <div class="col-3">
                    <label for="tree-branch-distance-size">Label Size</label>
                  </div>
                  <div class="col-9">
                    <input id="tree-branch-distance-size" type="range" min="1" max="32" value="6" step="1" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-0">
              <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#tree-controls-leaves" aria-expanded="true" aria-controls="tree-controls-source" style="color:#495057">Leaves</button>
            </div>
            <div id="tree-controls-leaves" class="collapse" data-parent="#tree-controls-accordion">
              <div class="card-body">
                <div class="form-group row">
                  <div class="col-3">Nodes</div>
                  <div class="col-9">
                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                      <label class="btn btn-light btn-sm col active">
                        <input type="radio" name="tree-leaf-nodes" id="tree-leaf-node-show" autocomplete="off" checked> Show
                      </label>
                      <label class="btn btn-light btn-sm col">
                        <input type="radio" name="tree-leaf-nodes" id="tree-leaf-node-hide" autocomplete="off"> Hide
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">Labels</div>
                  <div class="col-9">
                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                      <label class="btn btn-light btn-sm col">
                        <input type="radio" name="tree-leaf-labels" id="tree-leaf-label-show" autocomplete="off"> Show
                      </label>
                      <label class="btn btn-light btn-sm col active">
                        <input type="radio" name="tree-leaf-labels" id="tree-leaf-label-hide" autocomplete="off" checked> Hide
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label for="tree-leaf-label-size">Label Size</label>
                  </div>
                  <div class="col-9">
                    <input id="tree-leaf-label-size" type="range" min="1" max="32" value="6" step="1" />
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-3">
                    <label class="form-switch">Tooltip</label>
                  </div>
                  <div class="col-9">
                    <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                      <label class="btn btn-light btn-sm col">
                        <input type="radio" name="tree-tooltips" id="tree-tooltip-show" autocomplete="off"> Show
                      </label>
                      <label class="btn btn-light btn-sm col active">
                        <input type="radio" name="tree-tooltips" id="tree-tooltip-hide" autocomplete="off" checked> Hide
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="tree-context-menu" class="dropdown-menu">
    <a href="#" id="tree-rotate"  class="dropdown-item">Rotate</a>
    <a href="#" id="tree-flip"    class="dropdown-item">Flip</a>
    <a href="#" id="tree-reroot"  class="dropdown-item">Set As Root</a>
    <hr />
    <a href="#" id="tree-remove"  class="dropdown-item">Remove</a>
    <a href="#" id="tree-isolate" class="dropdown-item">Isolate</a>
    <a href="#" id="tree-excise"  class="dropdown-item">Excise</a>
  </div>

  <div id="tree-export-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Export Phylogenetic Tree</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-9">
              <input type="text" id="tree-export-file-name" class="form-control form-control-sm" placeholder="Filename" />
            </div>
            <div class="col-3">
              <select id="tree-export-file-type" class="form-control form-control-sm">
                <option selected>png</option>
                <option>svg</option>
                <option>nwk</option>
              </select>
            </div>
          </div>
          <button id="tree-export-advanced-button" class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#tree-export-advanced" aria-expanded="false" aria-controls="tree-export-advanced">Advanced</button>
          <div class="collapse" id="tree-export-advanced">
            <div class="card card-body">
              <div class="form-group row">
                <div class="col">
                  <label for="tree-export-width">Width</label>
                  <input type="number" id="tree-export-width" class="form-control form-control-sm" />
                </div>
                <div class="col">
                  <label for="tree-export-height">Height</label>
                  <input type="number" id="tree-export-height" class="form-control form-control-sm" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col text-right">
                  <input type="checkbox" id="tree-export-preserveaspect" checked />
                  <label for="tree-export-preserveaspect" class="form-check-label">Preserve Aspect Ratio?</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
          <button type="button" id="tree-export" class="btn btn-primary" data-dismiss="modal">Export</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script>
(function(){
  let tree;

  function drawTree(){
    let panel = $('#tree').parent();
    if(!panel.length) return;

    let metric = session.style.widgets['tree-metric'];
    if(!temp.trees[metric]){
      app.computeTree(metric, drawTree);
      return;
    }

    tree = new TidyTree(temp.trees[metric], {
      parent: '#tree',
      layout:
        session.style.widgets['tree-layout-vertical'] ? 'vertical' :
        session.style.widgets['tree-layout-horizontal'] ? 'horizontal' :
        'circular',
      type: session.style.widgets['tree-type'],
      mode:
        session.style.widgets['tree-mode-square'] ? 'square' :
        session.style.widgets['tree-mode-smooth'] ? 'smooth' :
        'straight'
    }, {
      contextmenu: contextMenu,
      showtooltip: tooltip,
      hidetooltip: hideTooltip
    });
  }

  function contextMenu(d){
    let e = d3.event;
    console.log(e);
    e.preventDefault();
    d3.select('#tooltip')
      .style('z-index', -1)
      .style('display', 'none');
    let menu = d3.select('#tree-context-menu');
    d3.select('#tree-reroot').on('click', c => {
      tree.setData(d[0].data.reroot());
      menu.style('z-index', -1).style('display', 'none');
    });
    d3.select('#tree-rotate').on('click', c => {
      tree.setData(d[0].data.rotate().getRoot());
      menu.style('z-index', -1).style('display', 'none');
    });
    d3.select('#tree-flip').on('click', c => {
      tree.setData(d[0].data.rotate(true).getRoot());
      menu.style('z-index', -1).style('display', 'none');
    });
    d3.select('#tree-remove').on('click', c => {
      tree.setData(d[0].data.remove());
      menu.style('z-index', -1).style('display', 'none');
    });
    d3.select('#tree-isolate').on('click', c => {
      tree.setData(d[0].data.isolate());
      menu.style('z-index', -1).style('display', 'none');
    });
    d3.select('#tree-excise').on('click', c => {
      tree.setData(d[0].data.excise().getRoot());
      menu.style('z-index', -1).style('display', 'none');
    });
    menu
      .style('top', e.offsetY + 'px')
      .style('left', e.offsetX + 'px')
      .style('z-index', 1000)
      .style('display', 'block');
  }

  function tooltip(d){
    if(session.style.widgets['tree-tooltip-show']){
      let e = d3.event;
      e.preventDefault();
      d3.select('#tooltip')
        .text(d[0].data.id)
        .style('top', e.pageY + 'px')
        .style('left', (e.pageX+5) + 'px')
        .style('z-index', 1000)
        .style('opacity', 1);
    }
  }

  function hideTooltip(){
    let tooltip = d3.select('#tooltip');
    tooltip
      .transition().duration(100)
      .style('opacity', 0)
      .on('end', () => tooltip.style('z-index', -1));
  }

  $('#toggle-tree-settings').on('click', function(){
    let pane = $('#tree-settings-pane');
    if(pane.is(':visible')){
      pane.animate({left: '-400px'}, function(){ pane.hide(); });
    } else {
      pane.show(0, function(){ pane.animate({left: '0px'}); });
    }
  });

  $('#tree-metric').html(
    Object.keys(session.data.distance_matrix).filter(k => k !== 'labels').map((k, i) =>
      `<label class="btn btn-light btn-sm col${(k===session.style.widgets['tree-metric'])? ' active':''}">
        <input type="radio" name="tree-metric" value="${k}" autocomplete="off"${(k===session.style.widgets['tree-metric'])? ' checked':''}>${app.titleize(k)}</input>
      </label>`
    ).join('')
  );

  $('[name="tree-metric"]').on('change', function(e){
    session.style.widgets['tree-metric'] = $('[name="tree-metric"]:checked').val();
    let metric = session.style.widgets['tree-metric'];
    if(temp.trees[metric]){
      tree.setData(temp.trees[session.style.widgets['tree-metric']]);
    } else {
      app.computeTree(metric, e => tree.setData(temp.trees[session.style.widgets['tree-metric']]));
    }
  });

  $('#tree-type').on('change', function(e){
    session.style.widgets['tree-type'] = e.target.value;
    tree.setType(session.style.widgets['tree-type']);
  });

  $('#tree-layout-vertical').parent().on('click', e => {
    session.style.widgets['tree-layout-vertical'] = true;
    session.style.widgets['tree-layout-horizontal'] = false;
    session.style.widgets['tree-layout-circular'] = false;
    tree.setLayout('vertical').recenter();
  });

  $('#tree-layout-horizontal').parent().on('click', e => {
    session.style.widgets['tree-layout-vertical'] = false;
    session.style.widgets['tree-layout-horizontal'] = true;
    session.style.widgets['tree-layout-circular'] = false;
    tree.setLayout('horizontal').recenter();
  });

  $('#tree-layout-circular').parent().on('click', e => {
    session.style.widgets['tree-layout-vertical'] = false;
    session.style.widgets['tree-layout-horizontal'] = false;
    session.style.widgets['tree-layout-circular'] = true;
    tree.setLayout('circular').recenter();
  });

  $('#tree-ruler-show').parent().on('click', e => {
    session.style.widgets['tree-ruler-hide'] = false;
    tree.setRuler(true);
  });

  $('#tree-ruler-hide').parent().on('click', e => {
    session.style.widgets['tree-ruler-hide'] = true;
    tree.setRuler(false);
  });

  $('#tree-mode-square').parent().on('click', e => {
    session.style.widgets['tree-mode-square'] = true;
    session.style.widgets['tree-mode-smooth'] = false;
    session.style.widgets['tree-mode-straight'] = false;
    tree.setMode('square');
  });

  $('#tree-mode-smooth').parent().on('click', e => {
    session.style.widgets['tree-mode-square'] = false;
    session.style.widgets['tree-mode-smooth'] = true;
    session.style.widgets['tree-mode-straight'] = false;
    tree.setMode('smooth');
  });

  $('#tree-mode-straight').parent().on('click', e => {
    session.style.widgets['tree-mode-square'] = false;
    session.style.widgets['tree-mode-smooth'] = false;
    session.style.widgets['tree-mode-straight'] = true;
    tree.setMode('straight');
  });

  $('#tree-branch-node-show').parent().on('click', e => {
    session.style.widgets['tree-branch-node-hide'] = false;
    tree.setBranchNodes(true);
  });

  $('#tree-branch-node-hide').parent().on('click', e => {
    session.style.widgets['tree-branch-node-hide'] = true;
    tree.setBranchNodes(false);
  });

  $('#tree-branch-label-show').parent().on('click', e => {
    session.style.widgets['tree-branch-label-hide'] = false;
    tree.setBranchLabels(true);
  });

  $('#tree-branch-label-hide').parent().on('click', e => {
    session.style.widgets['tree-branch-label-hide'] = true;
    tree.setBranchLabels(false);
  });

  $('#tree-branch-label-size').parent().on('click', e => {
    session.style.widgets['tree-branch-label-size'] = e.target.value;
    tree.setBranchLabelSize(e.target.value);
  });

  $('#tree-branch-distance-show').parent().on('click', e => {
    session.style.widgets['tree-branch-distance-show'] = true;
    tree.setBranchDistances(true);
  });

  $('#tree-branch-distance-hide').parent().on('click', e => {
    session.style.widgets['tree-branch-label-show'] = false;
    tree.setBranchDistances(false);
  });

  $('#tree-branch-distance-size').parent().on('input', e => {
    let speed = tree.animation;
    tree.animation = 0;
    let size = parseFloat(e.target.value);
    session.style.widgets['tree-branch-distance-size'] = size;
    tree.setBranchDistanceSize(size);
    tree.animation = speed;
  });

  $('#tree-leaf-node-show').parent().on('click', e => {
    session.style.widgets['tree-leaf-node-show'] = true;
    tree.setLeafNodes(true);
  });

  $('#tree-leaf-node-hide').parent().on('click', e => {
    session.style.widgets['tree-leaf-node-show'] = false;
    tree.setLeafNodes(false);
  });

  $('#tree-leaf-label-show').parent().on('click', e => {
    session.style.widgets['tree-leaf-label-show'] = true;
    tree.setLeafLabels(true);
  });

  $('#tree-leaf-label-hide').parent().on('click', e => {
    session.style.widgets['tree-leaf-label-show'] = false;
    tree.setLeafLabels(false);
  });

  $('#tree-leaf-label-size').parent().on('input', e => {
    let speed = tree.animation;
    tree.animation = 0;
    let size = parseFloat(e.target.value);
    session.style.widgets['tree-leaf-label-size'] = size;
    tree.setLeafLabelSize(size);
    tree.animation = speed;
  });

  $('#tree-tooltip-show').parent().on('click', e => {
    session.style.widgets['tree-tooltip-show'] = true;
  });

  $('#tree-tooltip-hide').parent().on('click', e => {
    session.style.widgets['tree-tooltip-show'] = false;
  });

  $('#tree-export-filetype').on('change', function(e){
    if(e.target.value === 'svg'){
      $('#tree-export-advanced-button').slideUp();
    } else {
      $('#tree-export-advanced-button').slideDown();
    }
  });

  $('#tree-export').on('click', e => {
    let type = $('#tree-export-file-type').val();
    if(type === 'png'){
      let root = $('#tree svg')[0];
      let content = app.unparseSVG(root);
      let width  = parseFloat($('#tree-export-width' ).val());
      let height = parseFloat($('#tree-export-height').val());
      app.blobifySVG(content, width, height, function(blob){
        saveAs(blob, $('#tree-export-file-name').val() + '.png');
      });
    } else if(type === 'svg'){
      let blob = new Blob([app.unparseSVG($('#tree svg')[0])], {type: 'image/svg+xml;charset=utf-8'});
      saveAs(blob, $('#tree-export-file-name').val() + '.svg');
    } else if(type === 'nwk'){
      let blob = new Blob([temp.trees[session.style.widgets['tree-metric']].toNewick()], {type: 'application/newick;charset=utf-8'});
      saveAs(blob, $('#tree-export-file-name').val() + '.nwk');
    }
  });

  $('#tree-fitbutton').on('click', e => tree.recenter());

  $(window)
    .on('background-color-change', function(){
      $('#tree svg').parent().css('background-color', session.style.widgets['background-color']);
    });

  $('#tree svg').parent().css('background-color', session.style.widgets['background-color']);

  layout.on('stateChanged', function(){
    let wrapper = $('#tree').parent();
    $('#tree-export-width' ).val(wrapper.width());
    $('#tree-export-height').val(wrapper.height());
  });

  setTimeout(drawTree(), 1000);
})();
  </script>
