  <svg id="physics-tree"></svg>

  <div class="view-controls">
    <button id="toggle-physics-tree-settings" type="button" class="btn btn-light btn-sm" title="Toggle physics-tree Settings">
      <span class="oi oi-cog"></span>
    </button>
    <button type="button" class="btn btn-light btn-sm"  data-toggle="modal" data-target="#physics-tree-export-modal" title="Export physics-tree">
      <span class="oi oi-data-transfer-download"></span>
    </button>
    <button id="physics-tree-fitbutton" type="button" class="btn btn-light btn-sm" title="Center and Scale Phylogenetic physics-tree">
      <span class="oi oi-target"></span>
    </button>
  </div>

  <div id="physics-tree-settings-pane" class="left-pane">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="nodes-tab" data-toggle="tab" href="#physics-tree-node-settings" role="tab" aria-controls="physics-tree-node-settings" aria-selected="true">Nodes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="branches-tab" data-toggle="tab" href="#physics-tree-branch-settings" role="tab" aria-controls="physics-tree-branch-settings" aria-selected="false">branches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="physics-tree-tab" data-toggle="tab" href="#physics-tree-settings" role="tab" aria-controls="physics-tree-settings" aria-selected="false">Tree</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="physics-tree-node-settings" role="tabpanel" aria-labelledby="nodes-tab">
        <div class="accordion" id="node-controls-accordion">
          <div class="card">
            <div class="card-header p-0">
              <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#node-controls-labels" aria-expanded="true" aria-controls="node-controls-labels" style="color:#495057">Labels and Tooltips</button>
            </div>
            <div id="node-controls-labels" class="collapse show" data-parent="#node-controls-accordion">
              <div class="card-body">
                <div class="form-group row" title="What field should be displayed as a label for the node?">
                  <div class="col-4"><label for="node-label-variable">Label</label></div>
                  <div class="col-8"><select id="node-label-variable" class="custom-select custom-select-sm nodeVariables"><option>None</option></select></div>
                </div>
                <div class="form-group row node-label-row" title="How big should node labels be?">
                  <div class="col-4"><label for="node-label-size">Label Size</label></div>
                  <div class="col-8"><input type="range" id="node-label-size" min="6" value="16" max="72"></input></div>
                </div>
                <div class="form-group row node-label-row" title="How should the labels be oriented relative to their nodes?">
                  <div class="col-4"><label for="node-label-orientation">Orientation</label></div>
                  <div class="col-8">
                    <select id="node-label-orientation" class="custom-select custom-select-sm">
                      <option selected>Right</option>
                      <option>Left</option>
                      <option>Top</option>
                      <option>Bottom</option>
                      <option>Middle</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row" title="What node data should be displayed as a tooltip for the node?">
                  <div class="col-4"><label for="node-tooltip-variable">Tooltip</label></div>
                  <div class="col-8"><select id="node-tooltip-variable" class="custom-select custom-select-sm nodeVariables"><option>None</option></select></div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-0">
              <button class="bg-transparent border-0 w-100 collapsed" type="button" data-toggle="collapse" data-target="#node-controls-shapes" aria-expanded="false" aria-controls="node-controls-shapes" style="color:#495057">Shapes and Sizes</button>
            </div>
            <div id="node-controls-shapes" class="collapse" data-parent="#node-controls-accordion">
              <div class="card-body">
                <div class="form-group row" title="Which variable should determine the shape of the node?">
                  <div class="col-4"><label for="node-symbol-variable">Shape By</label></div>
                  <div class="col-8"><select id="node-symbol-variable" class="custom-select custom-select-sm nodeVariables"><option>None</option></select></div>
                </div>
                <div id="node-symbol-row" class="form-group row" title="What shape should the nodes be?">
                  <div class="col-4"><label for="node-symbol">Shape</label></div>
                  <div class="col-8"><select id="node-symbol" class="custom-select custom-select-sm">
                    <option value="symbolCircle" selected>&nbsp;&#11044; (Circle)</option>
                    <option value="symbolTriangle">&nbsp;&#9650; (Up Triangle)</option>
                    <option value="symbolTriangleDown">&nbsp;&#9660; (Down Triangle)</option>
                    <option value="symbolTriangleLeft">&nbsp;&#9664; (Left Triangle)</option>
                    <option value="symbolTriangleRight">&nbsp;&#9654; (Right Triangle)</option>
                    <option value="symbolDiamond">&nbsp;&#10731; (Vertical Diamond)</option>
                    <option value="symbolDiamondAlt">&nbsp;&#10731; (Horizontal Diamond)</option>
                    <option value="symbolSquare">&nbsp;&#9632; (Square)</option>
                    <option value="symbolDiamondSquare">&nbsp;&#9670; (Tilted Square)</option>
                    <option value="symbolPentagon">&nbsp;&#11039; (Pentagon)</option>
                    <option value="symbolHexagon">&nbsp;&#11042; (Hexagon)</option>
                    <option value="symbolHexagonAlt">&nbsp;&#11043; (Tilted Hexagon)</option>
                    <option value="symbolOctagon">&nbsp;&#11204; (Octagon)</option>
                    <option value="symbolOctagonAlt">&nbsp;&#11203; (Tilted Octagon)</option>
                    <option value="symbolCross">&nbsp;&#10010; (Addition Sign)</option>
                    <option value="symbolX">&nbsp;&#10006; (Multiplication Sign)</option>
                    <option value="symbolWye">&nbsp;&#120300; (Wye)</option>
                    <option value="symbolStar">&nbsp;&#9733; (Star)</option>
                  </select></div>
                </div>
                <div class="form-group row" title="Which variable should determine the size of the node?">
                  <div class="col-4"><label for="node-radius-variable">Size By</label></div>
                  <div class="col-8"><select id="node-radius-variable" class="custom-select custom-select-sm nodeVariables"><option>None</option></select></div>
                </div>
                <div class="form-group row" title="How big should the nodes be?">
                  <div class="col-4"><label for="node-radius">Size</label></div>
                  <div class="col-8"><input type="range" id="node-radius" min="100" value="250" step="1" max="5000" /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-0">
              <button class="bg-transparent border-0 w-100 launch-color-options collapsed" type="button" data-toggle="collapse" aria-expanded="false" style="color:#495057">Colors</button>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="physics-tree-branch-settings" role="tabpanel" aria-labelledby="branches-tab">
        <div class="accordion" id="branch-controls-accordion">
          <div class="card">
            <div class="card-header p-0">
              <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#branch-controls-labels" aria-expanded="true" aria-controls="branch-controls-labels" style="color:#495057">Labels and Tooltips</button>
            </div>
            <div id="branch-controls-labels" class="collapse show" data-parent="#branch-controls-accordion">
              <div class="card-body">
                <div class="form-group row" title="What data should be displayed when you hover over a branch?">
                  <div class="col-4"><label for="branch-tooltip-variable">Tooltip</label></div>
                  <div class="col-8"><select id="branch-tooltip-variable" class="custom-select custom-select-sm branchVariables"><option>None</option></select></div>
                </div>
                <div class="form-group row" title="What data should be displayed when you hover over a branch?">
                  <div class="col-4"><label for="branch-label-variable">Label</label></div>
                  <div class="col-8"><select id="branch-label-variable" class="custom-select custom-select-sm branchVariables"><option>None</option></select></div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-0">
              <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#branch-controls-shapes" aria-expanded="false" aria-controls="branch-controls-shapes" style="color:#495057">Shapes and Sizes</button>
            </div>
            <div id="branch-controls-shapes" class="collapse" data-parent="#branch-controls-accordion">
              <div class="card-body">
                <div id="branch-transparency-row" class="form-group row" title="How transparent should the branches be?">
                  <div class="col-4"><label for="branch-opacity">Transparency</label></div>
                  <div class="col-8"><input type="range" id="branch-opacity" min="0" max="1" value="0" step="0.01" /></div>
                </div>
                <div class="form-group row" title="Which variable should determine the width of a branch?">
                  <div class="col-4"><label for="branch-width-variable">Width By</label></div>
                  <div class="col-8"><select id="branch-width-variable" class="custom-select custom-select-sm branchVariables"><option>None</option></select></div>
                </div>
                <div id="branch-reciprocalthickness-row" class="form-group row" title="Should branch widths be proportioned to the reciprocal of this variable?">
                  <div class="col-4">Reciprocal</div>
                  <div class="col-8">
                    <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                      <label class="btn btn-light active">
                        <input type="radio" name="branch-reciprocal-options" id="branch-width-reciprocal" autocomplete="off" checked> Reciprocal
                      </label>
                      <label class="btn btn-light">
                        <input type="radio" name="branch-reciprocal-options" id="branch-width-nonreciprocal" autocomplete="off"> Non-reciprocal
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row" title="How thick should the branches be?">
                  <div class="col-4"><label for="branch-width">Width</label></div>
                  <div class="col-8"><input type="range" id="branch-width" min="0.3" max="30" step=".3" value="3" /></div>
                </div>
                <div class="form-group row" title="How long should branches be?">
                  <div class="col-4"><label for="branch-length">Length</label></div>
                  <div class="col-8"><input type="range" id="branch-length" min = "0" max="200" value="50" /></div>
                </div>
                <div class="form-group row hideForHIVTrace" title="Shoul arrowheads pointing to the">
                  <div class="col-4">Arrowheads</div>
                  <div class="col-8">
                    <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                      <label class="btn btn-light active col">
                        <input type="radio" name="physics-tree-directionality" id="branch-undirected" autocomplete="off" checked> Hide
                      </label>
                      <label class="btn btn-light col">
                        <input type="radio" name="physics-tree-directionality" id="branch-directed" autocomplete="off"> Show
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-0">
              <button class="bg-transparent border-0 w-100 launch-color-options" type="button" data-toggle="collapse" aria-expanded="false" style="color:#495057">Colors</button>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="physics-tree-settings" role="tabpanel" aria-labelledby="physics-tree-tab">
        <div class="accordion" id="physics-tree-controls-accordion">
          <div class="card">
            <div class="card-header p-0">
              <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#physics-tree-controls-labels" aria-expanded="true" aria-controls="physics-tree-controls-labels" style="color:#495057">Display</button>
            </div>
            <div id="physics-tree-controls-labels" class="collapse show" data-parent="#physics-tree-controls-accordion">
              <div class="card-body">
                <div class="form-group row" title="Should MicrobeTrace Highlight a node's neighbors when you hover on it?">
                  <div class="col-4">Neighbors</div>
                  <div class="col-8">
                    <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
                      <label class="btn btn-light active col" title="Do not highlight anything.
  Recommended for performance reasons.">
                        <input type="radio" name="physics-tree-highlight" id="dont-highlight-neighbors" autocomplete="off" checked> Normal
                      </label>
                      <label class="btn btn-light col" title="Highlight adjacent branches and neighboring nodes when you hover over a node.
  Note that this may cause slow performance on larger physics-trees.">
                        <input type="radio" name="physics-tree-highlight" id="highlight-neighbors" autocomplete="off"> Highlighted
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-0">
              <button class="bg-transparent border-0 w-100" type="button" data-toggle="collapse" data-target="#physics-tree-controls-physics" aria-expanded="false" aria-controls="physics-tree-controls-physics" style="color:#495057">Physics</button>
            </div>
            <div id="physics-tree-controls-physics" class="collapse" data-parent="#physics-tree-controls-accordion">
              <div class="card-body">
                <div class="form-group row" title="How strongly are the nodes repulsed by each other?">
                  <div class="col-4"><label for="node-charge">Charge</label></div>
                  <div class="col-8"><input type="range" id="node-charge" min="0" max="400" value="200" /></div>
                </div>
                <div class="form-group row" title="How attractive is the mass of the graph?">
                  <div class="col-4"><label for="physics-tree-gravity">Gravity</label></div>
                  <div class="col-8"><input type="range" id="physics-tree-gravity" min="0.025" max="1" value="0.05" step="0.025" /></div>
                </div>
                <div class="form-group row" title="How quickly should moving nodes lose their momentum?">
                  <div class="col-4"><label for="physics-tree-friction">Friction</label></div>
                  <div class="col-8"><input type="range" id="physics-tree-friction" min="0" max="1" value="0.4" step="0.025" /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header p-0">
              <button class="bg-transparent border-0 w-100 launch-color-options collapsed" type="button" data-toggle="collapse" aria-expanded="false" style="color:#495057">Colors</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="physics-tree-export-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Export Phylogenetic physics-tree</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-9">
              <input type="text" id="physics-tree-export-file-name" class="form-control form-control-sm" placeholder="Filename" />
            </div>
            <div class="col-3">
              <select id="physics-tree-export-file-type" class="form-control form-control-sm">
                <option selected>png</option>
                <option>jpeg</option>
                <option>webp</option>
                <option>svg</option>
                <option>nwk</option>
              </select>
            </div>
          </div>
          <button id="physics-tree-export-advanced-button" class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#physics-tree-export-advanced" aria-expanded="false" aria-controls="physics-tree-export-advanced">Advanced</button>
          <div class="collapse" id="physics-tree-export-advanced">
            <div class="card card-body">
              <div class="form-group row">
                <div class="col-3">
                  <label for="physics-tree-export-scale">Scale</label>
                </div>
                <div class="col-9">
                  <input type="number" id="physics-tree-export-scale" class="form-control form-control-sm" min="0" step="0.1" value="1" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-3">Resolution</div>
                <div id="physics-tree-export-dimensions" class="col-9 text-right"></div>
              </div>
              <div class="row">
                <div class="col-3">
                  <label for="physics-tree-export-quality">Quality</label>
                </div>
                <div class="col-9">
                  <input type="range" id="physics-tree-export-quality" min="0" max="1.0" value="0.92" step="0.01"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
          <button type="button" id="physics-tree-export" class="btn btn-primary" data-dismiss="modal">Export</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script>
// (function(){
  var halfWidth  = $('#physics-tree').parent().width()/2,
      halfHeight = $('#physics-tree').parent().parent().parent().height()/2,
      transform  = {},
      zoom = d3.zoom().on('zoom', function(){
        transform = d3.event.transform;
        g.attr('transform', transform);
      })

  d3.select('svg#physics-tree')
      .html(null) //Let's make sure the canvas is blank.
      .attr('height', halfHeight*2)
      .attr('width', halfWidth*2)
      .on('click', hideContext)
      .call(zoom);

  var g = d3.select('svg#physics-tree').append('g');

  g.append('g').attr('class', 'links');
  g.append('g').attr('class', 'nodes');

  var force = d3.forceSimulation()
    .force('link', d3.forceLink().strength(1)
      //.distance(l => l.origin.length * session.style.widgets['physics-tree-link-length'])
    )
    .force('charge', d3.forceManyBody()
      //.strength(-session.style.widgets['physics-tree-node-charge'])
    )
    .force('gravity', d3.forceAttract()
      .target([halfWidth, halfHeight*2])
      .strength(session.style.widgets['physics-tree-gravity'])
    )
    .force('center', d3.forceCenter(halfWidth, halfHeight));

  function drawTree(){
    var panel = $('svg#physics-tree').parent();
    if(!panel.length) return;

    var metric = session.style.widgets['default-distance-metric'];
    if(!temp.trees[metric]){
      MT.computeTree(metric, drawTree);
      return;
    }

    var tree = temp.trees[metric];
    var range = [Infinity, 0];
    var hierarchy = d3.hierarchy(tree, d => d.children)
      .eachBefore(d => {
        d.value =
          (d.parent ? d.parent.value : 0) + (d.data.length ? d.data.length : 0);
        if (d.value < range[0]) range[0] = d.value;
        if (d.value > range[1]) range[1] = d.value;
      })
      .each(d => (d.value /= range[1]));
    var source = d3.tree()(hierarchy);
    var links = source.links();
    var link = g
      .select("g.links")
      .selectAll("path")
      .data(links)
      .enter().append('line')
      .attr('stroke', 'lightgray');
    var nodes = hierarchy.descendants();
    var node = g
      .select("g.nodes")
      .selectAll("g")
      .data(nodes, d => d.data._guid)
      .enter().append('g')
      .call(d3.drag() //A bunch of mouse handlers.
        .on('start', dragstarted)
        .on('drag', dragged)
        .on('end', dragended))
    node.append('circle')
      .attr('fill', session.style.widgets['node-color'])
      .attr('stroke', '#ffffff')
      .attr('r', 3);

    force.nodes(nodes);
    force.force('link').links(links);
    force.on("tick", function() {
      link
          .attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });
      node.attr("transform", function(d) {
        return 'translate('+d.x+','+d.y+')';
      });
    });
    force.alpha(0.3).alphaTarget(0).restart();
  }

  function dragstarted(n){
    if (!d3.event.active) force.alphaTarget(0.3).restart();
    function setNode(d){
      d.fx = d.x;
      d.fy = d.y;
    }
    setNode(n);
  }

  function dragged(n){
    function updateNode(d){
      d.fx += d3.event.dx;
      d.fy += d3.event.dy;
    }
    updateNode(n);
  }

  function dragended(n){
    if (!d3.event.active) force.alphaTarget(0);
    function unsetNode(d){
      if(!d.fixed){
        d.fx = null;
        d.fy = null;
      }
    }
    unsetNode(n);
  }

  function hideContext(){
    var menu = d3.select('#physics-tree-context-menu');
    menu
      .transition().duration(100)
      .style('opacity', 0)
      .on('end', () => menu.style('z-index', -1));
  }

  $('#toggle-physics-tree-settings').on('click', function(){
    var pane = $('#physics-tree-settings-pane');
    if($(this).hasClass('active')){
      pane.animate({left: '-400px'}, function(){ pane.hide(); });
    } else {
      pane.show(0, function(){ pane.animate({left: '0px'}); });
    }
  });

  $('#physics-tree-gravity').on('input', function(){
    var v = parseFloat(this.value);
    force.force('gravity').strength(v);
    force.alpha(0.3).alphaTarget(0).restart();
    session.style.widgets['physics-tree-gravity'] = v;
  });

  function updateNodeColors(){
    var variable = session.style.widgets['node-color-variable'];
    var nodes = g.select('g.nodes').selectAll('g').select('circle').classed('selected', d => d.selected);
    if(variable === 'None'){
      var col = session.style.widgets['node-color'];
      nodes.attr('fill', col);
    } else {
      nodes.attr('fill', d => temp.style.nodeColorMap(d[variable]));
    }
  }

  $window
    .on('node-color-change', updateNodeColors)
    .on('background-color-change', function(){
      $('svg#physics-tree').parent().css('background-color', session.style.widgets['background-color']);
    });

  $('svg#physics-tree').parent().css('background-color', session.style.widgets['background-color']);

  drawTree();
// })();
  </script>
