<div id="pixi">
</div>



<script type="text/javascript">
  ( async () => {
    // config
    const SCREEN_WIDTH = $('#pixi').parent().width();
    const SCREEN_HEIGHT = $('#pixi').parent().parent().parent().height();
    const RESOLUTION = window.devicePixelRatio;

    let settings = session.style.widgets;

    let data = {
      sprites: [],
      links: []
    };


    

    function getVLinks() {
      let vlinks = MT.getVisibleLinks(true);
      let output = [];
      let n = vlinks.length;
      let nodes = session.network.nodes;
      for (let i = 0; i < n; i++) {
        if (vlinks[i].origin) {
          if (typeof vlinks[i].origin == 'object') {
            vlinks[i].origin.forEach((o, j, l) => {
              output.push(Object.assign({}, vlinks[i], {
                origin: o,
                oNum: j,
                origins: l.length,
                source: nodes.find(d => d._id == vlinks[i].source || d.id == vlinks[i].source),
                target: nodes.find(d => d._id == vlinks[i].target || d.id == vlinks[i].target)
              }));
            });
          } else {
            output.push(Object.assign({}, vlinks[i], {
              oNum: 0,
              origins: 1,
              source: nodes.find(d => d._id == vlinks[i].source || d.id == vlinks[i].source),
              target: nodes.find(d => d._id == vlinks[i].target || d.id == vlinks[i].target)
            }));
          }
        } else {
          output.push(Object.assign({}, vlinks[i], {
            origin: 'Unknown',
            oNum: 0,
            origins: 1,
            source: nodes.find(d => d._id == vlinks[i].source || d.id == vlinks[i].source),
            target: nodes.find(d => d._id == vlinks[i].target || d.id == vlinks[i].target)
          }));
        }
      }
      return output;
    }

    
    let newNodes = MT.getVisibleNodes(true);
    let oldNodes = session.network.nodes;

    newNodes.forEach((d, i) => {
      let match = oldNodes.find(d2 => d2._id == d._id);
      if (match) {
        ['x', 'y', 'fx', 'fy', 'vx', 'vy', 'fixed'].forEach(v => {
          if (typeof match[v] != "undefined") d[v] = match[v];
        });
      }
    });

    let globalDragging = false;


    console.log('SCREEN_WIDTH', SCREEN_WIDTH);
    console.log('SCREEN_HEIGHT', SCREEN_HEIGHT);

    // const app = new PIXI.Application(SCREEN_WIDTH, SCREEN_HEIGHT, { antialias: true });

    const app = new PIXI.Application({
      width: SCREEN_WIDTH,
      height: SCREEN_HEIGHT,
      resolution: RESOLUTION,
      transparent: true,
      antialias: true
    });



    // app.renderer.backgroundColor = 0x212121;
    document.getElementById('pixi').appendChild(app.view);


    const viewport = new Viewport.Viewport({
        screenWidth: SCREEN_WIDTH,
        screenHeight: SCREEN_HEIGHT,
        worldWidth: SCREEN_WIDTH,
        worldHeight: SCREEN_HEIGHT
    });


    viewport.wheel().drag().decelerate();
    app.stage.addChild(viewport);

    function makeParicleTexture(props) {
      const gfx = new PIXI.Graphics();
      gfx.beginFill(props.fill);
      gfx.lineStyle(props.strokeWidth, props.stroke);
      gfx.moveTo(props.strokeWidth, props.strokeWidth);
      gfx.lineTo(props.size - props.strokeWidth, props.strokeWidth);
      gfx.lineTo(props.size - props.strokeWidth, props.size - props.strokeWidth);
      gfx.lineTo(props.strokeWidth, props.size - props.strokeWidth);
      gfx.lineTo(props.strokeWidth, props.strokeWidth);
      gfx.endFill();

      const texture = app.renderer.generateTexture(gfx, PIXI.SCALE_MODES.LINEAR, 2);

      return texture;
    }

    const texture = makeParicleTexture({
      fill: 0xd30000,
      stroke: 0xffffff,
      strokeWidth: 1,
      size: 8
    });

    const textureHover = makeParicleTexture({
      fill: 0xffffff,
      stroke: 0xffffff,
      strokeWidth: 1,
      size: 10
    });

    const linksGraphics = new PIXI.Graphics();
    viewport.addChild(linksGraphics);

    function makeSprites(nodes) {
      const sprites = [];

      nodes.forEach((node) => {
        const sprite = new PIXI.Sprite(texture);
        // sprite.x = Math.random() * SCREEN_WIDTH;
        // sprite.y = Math.random() * SCREEN_HEIGHT;
        sprite.radius = 10;
        sprite.index = node.index;
        sprite.peers = d3
          .range(Math.floor(Math.random() * 10))
          .map(() => Math.floor(Math.random() * 100));
        sprite.anchor.x = 0.5;
        sprite.anchor.y = 0.5;
        sprite.rotation = node.index * 10;
        sprite.interactive = true;
        sprite.buttonMode = true; // cursor change
        sprite.scale.set(Math.random() * 2 + 1);
        sprite
          .on("pointerdown", onDragStart)
          .on("pointerup", onDragEnd)
          .on("pointerupoutside", onDragEnd)
          .on("pointerover", onMouseOver)
          .on("pointerout", onMouseOut)
          .on("pointermove", onDragMove);
        sprites.push(sprite);
        viewport.addChild(sprite);

      })
      
      return sprites;
    }

    function makeLinks(nodes, vlinks) {
      const links = vlinks.map( x => {
        return { 
          source: x.source.index,
          target: x.target.index, 
          value: Math.random() + 0.5
        }
      })
      return links;
    }

    let tick = 0;
    function makeSimulation(data, manualLooping) {
      const simulation = d3
        .forceSimulation(data.sprites)
        .velocityDecay(0.8)
        .force(
          "charge",
          d3
            .forceManyBody()
            .strength(-100)
            .distanceMax(250)
            .distanceMin(80)
        )
        .force(
          "center",
          d3
            .forceCenter()
            .x(SCREEN_WIDTH * 0.5)
            .y(SCREEN_HEIGHT * 0.5)
        )
        .force(
          "link",
          d3
            .forceLink(data.links)
            .id(d => d.index)
            .distance(80)
            .strength(d => d.value)
        )
        .force(
          "collision",
          d3
            .forceCollide()
            .radius(d => d.radius)
            .iterations(2)
        )
        .on("tick", function() {});
      if (manualLooping) simulation.stop();
      return simulation;
    }


    session.network.nodes = newNodes;

    let vlinks = getVLinks();

    data.sprites = makeSprites(newNodes);
    data.links = makeLinks(data.sprites, vlinks );

    simulation = makeSimulation(data, true);

    app.ticker.add(function updateGraphLinks(delta) {
      simulation.tick();
      updateLinks(data, linksGraphics);
      // crtFilter.time += delta * 0.1;
    });


    function updateLinks(_data, _links) {
      _links.clear();
      _links.alpha = 0.07;
      _data.links.forEach(link => {
        let { source, target } = link;
        _links.lineStyle(1.5, 0x212121);
        _links.moveTo(source.x, source.y);
        _links.lineTo(target.x, target.y);
      });
      _links.endFill();
    }



    function onMouseOver() {
      this.isOver = true;
      this.texture = textureHover;
    }

    function onMouseOut() {
      if (this.dragging) {
        return;
      }
      this.isOver = false;
      this.texture = texture;
    }

    function onDragStart(event) {
      viewport.plugins.pause('drag')
      simulation.alphaTarget(0.3).restart();
      this.isDown = true;
      this.eventData = event.data;
      this.alpha = 0.5;
      this.dragging = true;
      globalDragging = true;
      
    }

    function onDragEnd(event) {
      if(!event.active) simulation.alphaTarget(0);
      this.alpha = 1;
      this.dragging = false;
      this.isOver = false;
      this.data = null;
      this.fx = null;
      this.fy = null;
      this.texture = texture;
      globalDragging = false;
      viewport.plugins.resume('drag')
    }

    function onDragMove(event) {
      if (this.dragging) {
        const newPosition = this.eventData.getLocalPosition(this.parent);
        this.fx = newPosition.x;
        this.fy = newPosition.y;
      }
      if (this.isOver) {
        this.texture = textureHover;
      }
    }


  })();
</script>
