  <div id="scatterplot_panel"></div>

  <div class="view_controls">
    <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#scatterplot_settings_modal">
      <span class="oi oi-cog"></span>
    </button>
  </div>

  <div class="modal fade" id="scatterplot_settings_modal" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Scatterplot Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="nav-item active">
              <a href="#scatterplotConfigurations" aria-controls="scatterplotConfigurations" class="nav-link active" role="tab" data-toggle="tab">Scatterplot</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade show active" id="scatterplotConfigurations">
              <div class="form-group row">
                <div class="col-3"><strong>Property</strong></div>
                <div class="col-9"><strong>Value</strong></div>
              </div>
              <div class="form-group row">
                <div class="col-3"><a href="#" data-toggle="tooltip" title="Which dataset should the scatterplot be drawn from?">Dataset</a></div>
                <div class="col-9">
                  <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="set" id="scatterplot_vislinks" autocomplete="off" checked> Visible Links
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="set" id="scatterplot_alllinks" autocomplete="off"> All Links
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-3"><a href="#" data-toggle="tooltip" title="Which variable should the scatterplot be drawn from?">X Variable</a></div>
                <div class="col-9"><select id="scatterplot_xVar" class="custom-select custom-select-sm"></select></div>
              </div>
              <div class="form-group row">
                <div class="col-3"><a href="#" data-toggle="tooltip" title="Which variable should the scatterplot be drawn from?">Y Variable</a></div>
                <div class="col-9"><select id="scatterplot_yVar" class="custom-select custom-select-sm"></select></div>
              </div>
              <div class="form-group row">
                <div class="col-3"><a href="#" data-toggle="tooltip" title="Should the y-axis show a linear or logarithmic scale?">Scale</a></div>
                <div class="col-9">
                  <div class="btn-group btn-group-toggle btn-group-sm" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="scale" id="scatterplot_linearScale" autocomplete="off" checked> Linear
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="scale" id="scatterplot_logScale" autocomplete="off"> Log
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-3"><a href="#" data-toggle="tooltip" title="What color should the scatterplot be?">Color</a></div>
                <div class="col-9"><input type="color" id="scatterplot_color" value="#5656ff" /></div>
              </div>
              <div class="form-group row">
                <div class="col-3"><a href="#" data-toggle="tooltip" title="What color would you like the background to be?">Background Color</a></div>
                <div class="col-9"><input type="color" id="scatterplot_network-color" class="triggers" value="#ffffff" /></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script>
  (function(){
    var options = session.data.linkFields.map(key => `<option value='${key}'>${app.titleize(key)}</option>`).join('\n');
    $('#scatterplot_xVar, #scatterplot_yVar').html(options);
    $('#scatterplot_xVar').val('snps');
    $('#scatterplot_yVar').val('distance');

    function redrawScatterplot(){
      if(window.plot) Plotly.purge('scatterplot_panel');
      var xVar = $('#scatterplot_xVar').val();
      var yVar = $('#scatterplot_yVar').val();
      var visible = $('#scatterplot_vislinks').is(':checked');
      var subset = session.data.links.filter(l => !visible || l.visible);
      window.plot = Plotly.newPlot('scatterplot_panel', [{
        x: subset.map(l => l[xVar]),
        y: subset.map(l => l[yVar]),
        type: 'scatter',
        mode: 'markers',
        marker: {
          color: $('#scatterplot_color').val(),
        }
      }], {
        yaxis: {
          title: app.titleize(yVar),
          type: $('#scatterplot_logScale').is(':checked') ? 'log' : ''
        },
        xaxis: {
          title: app.titleize(xVar)
        },
        width: $('#scatterplot_panel').parent().width(),
        height: $('#scatterplot_panel').parent().height()
      }, {
        displaylogo: false,
        displayModeBar: false
      });
      // $('').on('resize', e => {
      //   Plotly.relayout('scatterplot_panel', {
      //     width: $('#scatterplot_panel').width(),
      //     height: $('#scatterplot_panel').height()
      //   });
      // });
    }

    $('#scatterplot_network-color').on('input', e => {
      $('#scatterplot_panel').css('background-color', e.target.value);
      $('rect.bg').css('fill', e.target.value);
    });

    $('#scatterplot_alllinks, #scatterplot_vislinks, #scatterplot_logScale, #scatterplot_linearScale').change(redrawScatterplot);
    $('#scatterplot_xVar, #scatterplot_yVar, #scatterplot_color').change(redrawScatterplot);

    setTimeout(redrawScatterplot, 80);
  })();
  </script>
