  <link rel="stylesheet" type="text/css" href="node_modules/msa/css/msa.css" />

  <div id="sequences_panel"></div>

  <script src="node_modules/msa/dist/msa.js"></script>
  <script>
  var m = new msa.msa({
    el: $('#sequences_panel')[0],
    vis: {
      overviewbox: true,
      bootstrapMenu: true,
      labels: false,
      labelId: false
    },
    zoomer: {
      menuFontsize: "12px",
      autoResize: true,
      currentSize: -20
    },
    seqs: session.data.nodes.filter(d => d.seq).map((node, i) => ({
      'details': {'en': node.id},
      'id': node.id,
      'name': node.id,
      'seq': node.seq
    }))
  });
  m.addView("menu", new msa.menu.defaultmenu({msa: m}));
  m.render();
  var menubuttons = $('.smenubar > div');
  [0,2,3,6,7,8,9].forEach(i => $(menubuttons.get(i)).hide());
  </script>
  <!-- This shitty little hack mitigates the fact that MSA Viewer overwrites lodash with underscore. -->
  <script type="text/javascript" src="node_modules/lodash/lodash.min.js"></script>
