<div id="sequences-panel"></div>

<div id="sequences-view-controls" class="view-controls">
  <button type="button" id="toggle-sequences-settings" class="btn btn-light btn-sm" data-toggle="button">
    <span class="oi oi-cog"></span>
  </button>
  <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#sequences-export-modal">
    <span class="oi oi-data-transfer-download"></span>
  </button>
</div>

<div id="sequences-settings-pane" class="left-pane">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active">
      <a href="#sequencesConfigurations" id="sequences-tab" class="nav-link active" aria-controls="sequences" role="tab" data-toggle="tab">Sequences</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="sequencesConfigurations" role="tabpanel" aria-labelledby="sequences-tab">
      <div class="form-group row" title="How wide should each cell in the sequences viewer be?">
        <div class="col-3"><label for="avwidth">Width</label></div>
        <div class="col-9">
          <input type="number" id="avwidth" class="form-control form-control-sm" value="2">
        </div>
      </div>
      <div class="form-group row" title="How tall should each cell in the sequences viewer be?">
        <div class="col-3"><label for="avheight">Height</label></div>
        <div class="col-9">
          <input type="number" id="avheight" class="form-control form-control-sm" value="12">
        </div>
      </div>
      <div class="form-group row" title="Should the sequences viewer include the nucleotide character in each cell?
For large sets of sequences, this can take a long time.">
        <div class="col-3">Characters</div>
        <div class="col-9">
          <div class="btn-group btn-group-toggle btn-group-sm w-100" data-toggle="buttons">
            <label class="btn btn-light active col">
              <input type="radio" name="showChars" id="showChar" autocomplete="off" checked> Show
            </label>
            <label class="btn btn-light col">
              <input type="radio" name="showChars" autocomplete="off"> Hide
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="sequences-export-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Export Sequences</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-9">
            <input type="text" id="export-sequences-file-name" class="form-control form-control-sm" placeholder="Filename">
          </div>
          <div class="col-3">
            <select id="export-sequences-file-type" class="form-control form-control-sm">
              <option selected>png</option>
              <option>fasta</option>
              <option>mega</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-error" data-dismiss="modal">Cancel</button>
        <button type="button" id="sequences-export" class="btn btn-primary" data-dismiss="modal">Export</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  (function () {
    ga('set', 'page', '/sequences');
    ga('set', 'title', 'Sequences View');
    ga('send', 'pageview');

    let canvas, context, width, height;
    let av = $('#sequences-panel');

    function update() {
      if(!$('#sequences-panel').length) return;
      alignmentViewer(session.data.nodes.filter(d => d.seq).map((node) => {!!!node.id && (node.id = node._id); return node;}), {
        width: 0 | $('#avwidth').val(),
        height: 0 | $('#avheight').val(),
        showChar: $('#showChar').is(':checked')
      }).then(function (c) {
        av.append(c);
        canvas = d3.select('#sequences-panel canvas');
        context = canvas.node().getContext('2d');
        let rect = canvas.node().getBoundingClientRect();
        width = rect.width;
        height = rect.height;
        d3.select('#sequences-panel').call(d3.zoom().scaleExtent([0.1, 8]).on('zoom', function () {
          var t = d3.event.transform;
          canvas.style('transform', 'translate(' + Math.round(t.x - width / 2) + 'px,' + Math.round(t.y - height / 2) + 'px) scale(' + t.k + ',' + t.k + ')');
        }));
        av.trigger('zoom');
      });
    }

    av.on('mouseup', function () {
      console.log('up');
      av.css('cursor', 'grab');
    });
    av.on('mousedown', function () {
      av.css('cursor', 'grabbing');
    });

    $('#avheight, #avwidth').on('input', function () {
      av.empty();
      update();
    });

    $("input[type='radio'][name='showChars']").on('change', function () {
      av.empty();
      update();
    });

    $('#sequences-export').on('click', function () {
      let type = $('#export-sequences-file-type').val();
      if (type == 'fasta') {
        let blob = new Blob([
          session.data.nodes
            .filter(d => d.seq)
            .map(node => ">" + node._id + "\r\n" + node.seq).join("\r\n")
        ]);
        saveAs(blob, $('#export-sequences-file-name').val() + '.fasta');
      } else if (type == 'mega') {
        let blob = new Blob([
          session.data.nodes
            .filter(d => d.seq)
            .map(node => "#" + node._id + "\r\n" + node.seq).join("\r\n")
        ]);
        saveAs(blob, $('#export-sequences-file-name').val() + '.mega');
      } else if (type == 'png') {
        $('#sequences-panel canvas').get(0).toBlob(function (blob) {
          saveAs(blob, $('#export-sequences-file-name').val() + '.png');
        });
      }
    });

    $('#toggle-sequences-settings').on('click', function () {
      let pane = $('#sequences-settings-pane');
      if ($(this).hasClass('active')) {
        pane.animate({ left: '-400px' }, function () { pane.hide(); });
      } else {
        pane.show(0, function () { pane.animate({ left: '0px' }); });
      }
    });

    function setBackground() {
      let col = session.style.widgets['background-color'];
      $('#sequences-panel').css('background', col);
    }

    $window.on('background-color-change', setBackground);

    update();
    setBackground();
  })();
</script>
