<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title></title>
  <link rel="icon" href="img/image32.ico" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/alertifyjs/build/css/alertify.min.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/datatables.net-bs/css/dataTables.bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="../../node_modules/datatables.net-select-bs/css/select.bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../stylesheets/main.css" />
  <style>
    body{
      overflow:auto;
      display:block;
    }
    .dataTables_wrapper{
      padding: 1em;
    }
    table{
      width: 100% !important;
      white-space: nowrap;
      table-layout: fixed;
    }
    .odd{
      background-color: #e9e9e9;
    }
    tr:hover{
      background-color: #0084c7;
    }
    th {
      transform-origin:center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    td {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    #node-columns, #link-columns {
      width: 100%;
    }
    .showForMST{
      display: none;
    }
  </style>
</head>
<body>
  <div id="main_panel">
    <table id="table" class="table display compact"></table>
  </div>

  <div id="settingsModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Table Options</h4>
        </div>
        <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#nodeConfigurations" aria-controls="nodeConfigurations" role="tab" data-toggle="tab">Nodes</a></li>
            <li role="presentation"><a href="#linkConfigurations" aria-controls="profile" role="tab" data-toggle="tab">Links</a></li>
            <li role="presentation"><a href="#clusterConfigurations" aria-controls="messages" role="tab" data-toggle="tab">Clusters</a></li>
            <li role="presentation"><a href="#tableConfigurations" aria-controls="messages" role="tab" data-toggle="tab">Table</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="nodeConfigurations">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">Columns to Include</div>
                  <div class="col-xs-9"><select id="node-columns" multiple></select></div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="linkConfigurations">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">Columns to Include</div>
                  <div class="col-xs-9"><select id="link-columns" multiple></select></div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="clusterConfigurations">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">Columns to Include</div>
                  <div class="col-xs-9"><select id="cluster-columns" multiple></select></div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tableConfigurations">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-3">Content</div>
                  <div class="col-xs-9">
                    <div class="btn-group btn-group-xs" data-toggle="buttons">
                      <label class="btn btn-default active">
                        <input type="radio" name="nodelink" id="node" autocomplete="off" checked="checked"> Nodes
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="nodelink" id="link" autocomplete="off"> Links
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="nodelink" id="cluster" autocomplete="off"> Clusters
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Text Size</div>
                  <div class="col-xs-9"><input type="range" id="font-size-slider" min="6" value="14" max="72" step="1" /></div>
                </div>
                <div class="row">
                  <div class="col-xs-3">Tilt Headers?</div>
                  <div class="col-xs-9"><input type="range" id="tiltHeaders" min="-90" value="0" max="90" step="1" /></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script type="text/javascript">
  const electron = require('electron');
  const jetpack = require('fs-jetpack');
  window.jQuery = window.$ = require('jquery');
  require('bootstrap');
  require('datatables.net-bs')(window, $);
  require('datatables.net-select')(window, $);
  const Papa = require('papaparse');

  const meta = ['index', 'padding', 'selected', 'visible', 'orig', 'mst'];

  $(function(){

    electron.ipcRenderer.on('deliver-manifest', (e, manifest) => {
      $('title').text(manifest.productName + ' v' + manifest.version);
    });
    electron.ipcRenderer.send('get-manifest');

    $('body').prepend(electron.ipcRenderer.sendSync('get-component', 'nav.html'));
    $('#FileTab').after(
      $('<li id="ExportTab"><a href="#">Save As</a></li>').click(() => {
        electron.remote.dialog.showSaveDialog({
          filters: [
            {name: 'CSV', extensions: ['csv']}
          ]
        }, (fileName) => {
          if (fileName === undefined){
            return alertify.error('File not exported!');
          }
          jetpack.write(fileName, Papa.unparse(session.data[$('input[name=nodelink]:checked')[0].id + 's']));
        });
      })
    );

    $('body').append(electron.ipcRenderer.sendSync('get-component', 'search.html'));

    window.table = { destroy: () => {} };

    function reorder(){ table.draw(false); }

    function resetTextsize(){
      var s = $('#font-size-slider').val();
      $('#table').css({
        'font-size': s + 'px',
        'line-height': s/10
      });
    }

    function updateTable(){
      let nodelink = $('input[name=nodelink]:checked')[0].id;
      let data = session.data[nodelink + 's'].filter(r => r.visible);
      let clusters = session.data.clusters.filter(c => c.nodes > 1);
      let columns = session.data[nodelink + 'Fields'];
      table.destroy();
      let options = {
        dom: 'lrtip',
        data: data,
        columns: columns.map(k => ({title:k, data:k, mData:k, sTitle:k})),
        deferRender: true,
        colReorder: true,
        select: {
          style: 'multi'
        }
      };
      let selectedColumn = columns.findIndex(d => d === 'selected');
      if(selectedColumn >= 0) options.orderFixed = [selectedColumn, 'desc'];
      window.table = $('#table').empty().DataTable(options);
      let colsToKeep = $('#'+nodelink+'-columns').val().map(parseFloat);
      columns.forEach((col, i) => table.column(i).visible(colsToKeep.includes(i)));
      table.on('user-select', (e, dt, type, cell) => {
        let index = cell.index().row;
        data[index].selected = !data[index].selected;
        table.row(index).data(data[index]);
        reorder();
      });
      table.rows(data.filter(n => n.selected).map(n => n.index)).select();
      reorder();
      resetTextsize();
    }

    electron.ipcRenderer.on('set-data', (e, data) => {
      window.session = {data: data};
      session.data.clusterFields = Object.keys(session.data.clusters[0]);
      ['node', 'link', 'cluster'].forEach(thing => {
        $('#'+thing+'-columns').html(
          session.data[thing+'Fields'].map((d, i) => {
            if(meta.includes(d)) return;
            return `<option value="${i}"${(i < 7) ? " selected" : ""}>${d}</option>`
          }).join('\n')
        ).change(e => {
          if($('input[name=nodelink]:checked')[0].id === thing){
            let colsToKeep = $('#'+thing+'-columns').val().map(parseFloat);
            session.data[thing+'Fields'].forEach((col, i) => table.column(i).visible(colsToKeep.includes(i)));
          }
        });
      });
      updateTable();
    });

    electron.ipcRenderer.on('deliver-data', (e, data) => {
      window.session = {data: data};
      updateTable();
    });

    $('#search').on('input', e => {
      table.search(e.target.value).draw();
    });

    $('#tiltHeaders').on('input', function(e){
      let theta = $(this).val();
      let h = $('th:first').width();
      $('th').css({
        'transform': 'rotate('+-theta+'deg)',
        'border-bottom': '0px',
        'height': h*Math.sin(Math.abs(theta)*Math.PI/180)+'px'
      });
      if($(this).val() == 0){
        $('th').css('border-bottom', '1px solid black');
      }
    });

    function resetTextsize(){
      var s = $('#font-size-slider').val();
      $('#table').css({
        'font-size': s + 'px',
        'line-height': s/10
      });
    }

    $('#font-size-slider').on('input', resetTextsize);
    $('input[name=nodelink]').on('change', updateTable);

    electron.ipcRenderer.send('get-data');
  });

  $.fn.dataTable.ext.errMode = 'none';
  </script>
</body>
</html>
