  <div class="view_controls">
    <button type="button" id="timeline-toggle-settings" class="btn btn-light btn-sm">
      <span class="oi oi-cog"></span>
    </button>
    <button type="button" id="timeline-play" class="btn btn-light btn-sm">
      <span class="oi oi-media-play"></span>
    </button>
  </div>

  <div id="timeline-wrapper"></div>

  <div id="timeline-settings-pane" class="left_pane">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item active">
        <a href="#timeline-configurations" id="timeline-nodes-tab" class="nav-link active" aria-controls="timeline-configurations" role="tab" data-toggle="tab">Timeline</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade show active" id="timeline-configurations" role="tabpanel" aria-labelledby="timeline-nodes-tab">
        <div class="form-group row">
          <div class="col-4"><label for="timeline-date-field">Date Field</label></div>
          <div class="col-8"><select id="timeline-date-field" class="custom-select custom-select-sm w-100 nodeVariables"></select></div>
        </div>
        <div class="form-group row">
          <div class="col-4">Timeline Mode</div>
          <div class="col-8">
            <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
              <label class="btn btn-light btn-sm col active">
                <input type="radio" name="timeline-options" id="timeline-past" autocomplete="off" checked> All Past
              </label>
              <label class="btn btn-light btn-sm col">
                <input type="radio" name="timeline-options" id="timeline-window" autocomplete="off"> Window
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-4"><label for="timeline-speed">Play Speed</label></div>
          <div class="col-8"><input type="range" id="timeline-speed" min="0" max="100" step="10" /></div>
        </div>
      </div>
    </div>
  </div>

  <script>
(function(){
  let width, height, svg, timeDomainStart, timeDomainEnd, x, brush, brushG, timer, isPlaying = false,
      margin = {top: 50, left: 80, right: 20, bottom: 30};

  function refresh(){
    let wrapper = $('#timeline-wrapper').empty().parent();
    let tickFormat = d3.timeFormat("%Y-%m-%d");
    width  = wrapper.width() - margin.left - margin.right,
    height = wrapper.height() - margin.top - margin.bottom;

    let field = $('#timeline-date-field').val();
    let times = [];
    session.data.nodes.forEach(d => {
      let time = moment(d[field]);
      if(time.isValid()) times.push(time.toDate())
    });
    if(times.length < 2){
      times.push(new Date(2000, 1, 1));
      times.push(new Date());
    }
    timeDomainStart = Math.min(...times);
    timeDomainEnd = Math.max(...times);

    x = d3.scaleTime()
      .domain([timeDomainStart, timeDomainEnd])
      .rangeRound([0, width]);

    svg = d3.select("#timeline-wrapper").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    svg.append("g")
      .attr("class", "axis axis--grid")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x)
        .ticks(d3.timeYear)
        .tickSize(-height)
        .tickFormat(function(){ return null; })
      );

    svg.append("g")
      .attr("class", "axis axis--x")
      .attr("transform", "translate(0," + height + ")")
      .call(d3.axisBottom(x)
        .tickSize(8)
        .tickPadding(8)
        .tickFormat(tickFormat)
      )
      .attr("text-anchor", null)
      .selectAll("text")
      .attr("x", 6);

    brush = d3.brushX().extent([[0, 0], [width, height]]).on('end', function(){
      let selection = d3.brushSelection(brushG.node());
      if(!session.style.widgets['timeline-window'] && selection[0] > 0){
        selection[0] = 0;
        brushG.call(brush.move, selection);
      }
    });

    brushG = svg.append("g")
      .attr("class", "brush")
      .call(brush);
  }

  $('#timeline-play').click(function(){
    let $this = $(this);
    if(isPlaying){
      $this.html('<span class="oi oi-media-play"></span>');
      timer.stop();
      isPlaying = false;
    } else {
      $this.html('<span class="oi oi-media-pause"></span>');
      isPlaying = true;
      setTimer();
    }
  });

  function setTimer(){
    let delay = 110 - parseInt($('#timeline-speed').val());
    let animate = function(){
      let selection = d3.brushSelection(brushG.node());
      if(!selection) return timer.stop(); // Ignore empty selections
      if(selection[1] >= width){
        $('#timeline-play').click();
        return;
      }
      brushG.call(brush.move, selection.map(s => s + 1));
      session.state.timeStart = x.invert(selection[0]);
      session.state.timeEnd   = x.invert(selection[1]);
    };
    if(timer){
      timer.stop();
      d3.timerFlush();
    }
    timer = d3.interval(animate, delay);
    if(!isPlaying) timer.stop();
  }

  $('#timeline-toggle-settings').click(function(){
    let pane = $('#timeline-settings-pane');
    if(pane.is(':visible')){
      pane.animate({left: '-400px'}, function(){ pane.hide(); });
    } else {
      pane.show(0, function(){ pane.animate({left: '0px'}); });
    }
  }).trigger('click');

  $('#timeline-date-field').on('change', refresh);

  $('[name="timeline-options"]').on('change', function(){
    session.style.widgets['timeline-window'] = $('#timeline-window').is(':checked');
    setTimer();
  });

  $('#timeline-speed').on('change', setTimer);

  layout.on('stateChanged', refresh);
})();
  </script>
