  <div id="timeline-wrapper"></div>

  <div class="view_controls">
    <button type="button" id="toggle_timeline_settings" class="btn btn-light btn-sm">
      <span class="oi oi-cog"></span>
    </button>
  </div>

  <div id="timeline_settings_pane" class="left_pane">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item active">
        <a href="#timelineConfigurations" id="timeline-tab" class="nav-link active" aria-controls="timeline" role="tab" data-toggle="tab">Timeline</a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade show active" id="timelineConfigurations" role="tabpanel" aria-labelledby="timeline-tab">
        <div class="form-group row">
          <div class="col-3">Date Column</div>
          <div class="col-9"><select id="date-column" class="custom-select custom-select-sm nodeVariables">
            <option>None</option>
            <option value="date" selected>Date</option>
          </select></div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="node_modules/vis/dist/vis.min.js"></script>
  <script type="text/javascript" src="node_modules/moment/min/moment-with-locales.min.js"></script>
  <script type="text/javascript">
  (function(){
    session.timeline = {destroy: function(){}};

    function drawTimeline(){
      session.timeline.destroy();
      var field = $('#date-column').val();
      session.timeline = new vis.Timeline(
        document.getElementById('timeline-wrapper'),
        session.data.nodes
          .filter(d => d[field] && d.visible)
          .map(d => ({
            id: d.id,
            content: d.id,
            start: moment('' + d[field]),
            type: 'point'
          })),
        {
          'height': $('#timeline-wrapper').parent().height(),
          'multiselect': true
        }
      );
      session.timeline.setSelection(session.data.nodes.filter(d => d.visible && d.selected).map(d => d.id));
    }

    $('#date-column').change(drawTimeline);

    setTimeout(function(){
      ['date', 'Date', 'DATE'].forEach(name => {
        if(session.data.nodeFields.includes(name)){
          $('#date-column').val(name);
        }
      });

      drawTimeline();

      var field = $('#date-column').val();

      session.timeline.addCustomTime(_.max(session.data.nodes.map(d => moment('' + d[field]))));

      session.timeline.on('timechanged', function(e){
        var field = $('#date-column').val();
        session.state.time = moment(e.time);
        app.setNodeVisibility();
        session.timeline.setItems(session.data.nodes
          .filter(d => d[field] && d.visible)
          .map(d => ({
            id: d.id,
            content: d.id,
            start: moment('' + d[field]),
            type: 'point'
          })));
      });

      session.timeline.on('select', function(properties){
        session.data.nodes.forEach(d => d.selected = properties.items.includes(d.id));
        $(window).trigger('node_selected');
      });
    }, 100);

    $(window).on('node_selected', e => {
      session.timeline.setSelection(session.data.nodes.filter(d => d.visible && d.selected).map(d => d.id));
    });

    $('#toggle_timeline_settings').click(function(){
      var pane = $('#timeline_settings_pane');
      if(pane.is(':visible')){
        pane.animate({left: '-400px'}, function(){ pane.hide(); });
      } else {
        pane.show(0, function(){ pane.animate({left: '0px'}); });
      }
    });

  })();

  </script>
