/* Global Stuff */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 42px;
  background-color: #f8f9fa;
}
.navbar{
  padding: 0.25rem 0.25rem 0 0;
}
#main-panel {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a {
  color: #555555;
  text-decoration: none;
}
a:hover, a:focus {
  color: #555555;
  text-decoration: none;
}
#export-dm-row{
  display: none;
}
.lm_controls .lm_popout {
  display: none;
}
.view_controls button{
  border: 1px solid #cccccc;
}
.floater{
  border: 1px solid #cccccc;
  border-radius: .25rem;
}
.nodeVariables,
.linkVariables {
  width: 100%;
}
.export_button{
  position:absolute;
  top: 10px;
  left: 62px;
  border: 1px solid #cccccc;
}
svg#link-threshold-sparkline{
  width: 280px;
  height: 48px;
}
.left_pane{
  position: absolute;
  top: 0px;
  left: -400px;
  display: none;
  width: 400px;
  height: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.left_pane .nav{
  padding-top: 40px;
}
.left_pane .active{
  background:#ffffff;
  border-width: 2px;
  border-color: #ffffff #ffffff transparent #ffffff;
}
.left_pane div.tab-content{
  background:#ffffff;
}
.ifOnline{
  display:none;
}
input[type="number"].custom-select{
  padding-left: .375rem;
  background: #ffffff;
}
#tooltip {
  position: fixed;
  color: #333333;
  background-color: #f8f9fa!important;
  border: 1px solid #cccccc;
  border-radius: .25rem;
  padding: .25rem;
  opacity: 0;
  display: block;
  max-width: 160px;
  max-width: 20%;
  max-height: 20%;
  overflow-wrap: break-word;
  overflow-y: auto;
  z-index: 10000;
}
#group-key-wrapper {
  position:absolute;
  top: 73px;
  right: 10px;
  z-index: 1000;
  max-height: 400px;
  overflow-y:scroll;
  border-radius: 0.25rem;
  color: #303030;
  background-color: #f8f9fa!important;
}
#group-key th {
  text-align: center;
}
#group-key th, td {
  border: 1px solid lightgray;
  padding: 4px;
}
#network-statistics {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 1000;
  color: #303030;
  background-color: #f8f9fa!important;
  border: 1px solid #c0c0c0;
  border-radius: 0.25rem;
}
#network-statistics td{
  border: none;
}
#group-key select {
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
#hide_stats_context, #hide_group_key_context{
  display: none;
  position: fixed;
  z-index: 2000;
}

/* NAV BAR and Golden Layout */
.dropdown-toggle::after{
  content: none; /* Hides carats */
}
.lm_goldenlayout{
  background: #f8f9fa!important;
}
.lm_content{
  background: #ffffff;
}
.lm_selected .lm_header{
  background: #f8f9fa!important;
}
.lm_tab{
  background-color: #888888;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.lm_tab.lm_active{
  background-color: #ffffff;
  box-shadow: none!important;
}
.tab-pane {
  border: 2px solid #ffffff;
  border-top: none;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  padding: 15px;
}
button.navbar-toggler{
  font-size:1rem;
}
.show-for-seq, .show-for-dm, .show-for-nn{
  display: none;
}

/* File Panel */
#file-panel {
  overflow-y: scroll;
  height: calc(100% - 68px);
  padding: 15px;
  background-color: #ffffff;
}
.ie-warning {
  display: none;
  position: absolute;
  top: 35%;
  left: 0;
  width: calc(100% - 15px);
  background-color: red;
  color: white;
  padding: 15px;
  text-align: center;
}
.ie-warning a{
  color: #ffffff;
}
#file-table {
  height: 100%;
}
#file-prompt{
  text-align: center;
  padding-top: 35%;
}
.file-table-row {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .25rem;
  margin: 10px;
  background: #f8f9fa!important;
  padding: 15px;
}
.file-table-row .btn{
  background-color: #ffffff;
}
.filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}
.filename span.oi-circle-x:hover {
  color: red;
}
td {
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-file-input{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#alignment-preview{
  min-height: 115px;
  max-height: 200px;
  overflow-x: scroll;
  overflow-y: auto;
}
.bootstrap-filestyle.input-group{
  display: inline;
}
#distance-metrics_chosen .chosen-choices{
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
#main-submit {
  display: none;
}
#loading-information {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  padding: 10px;
  white-space: pre-line;
}
#loadCancelButton {
  display: none;
}
input[type="range"]{
  width:inherit;
}
a.btn, button.btn, .btn-group{
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
#file-footer{
  background: #f8f9fa;
  border-top: 1px solid rgba(0,0,0,.1);
  z-index: 1030;
}

/* 2D NETWORK */
#nodes path {
  cursor: -webkit-grab;
}
#nodes path.selected {
  stroke: #ff8300;
  stroke-width: 4px;
}
.brush .extent {
  fill-opacity: .1;
  stroke: #ffffff;
  shape-rendering: crispEdges;
}
.btn-default {
  background-color: #f8f9fa;
}
.view_controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
#attributeModal .modal-body{
  max-height: 600px;
  padding: 0;
}
#attributeModal .table{
  font-family: monospace;
  margin: 0;
}
#link-reciprocalthickness-row{
  display: none;
}

/* 3D Network */
.graph-nav-info{
  display: none;
}

/* FLOW DIAGRAM */
#flow{
  margin: 15px;
  margin-top: 50px;
}

/* MAP */
#map{
  width: 100%;
  height: 100%;
  background: #d3d9db;
  cursor: -webkit-grab;
}
#map:hover:active{
  cursor: hold;
}
#map-nodes circle.selected {
  stroke: #ff8300;
  stroke-width: 4px;
  /* stroke-dasharray: 6, 13;
  animation-duration: 1s;
  animation-name: ripple;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}
.leaflet-control-attribution{
  display: none;
}

/* Sequences */
#sequences_panel {
  padding: 10px;
  padding-top: 50px;
  height: 100%;
  overflow:auto;
}

/* Phylogenetic tree */
#tree .tree-selection-brush .extent {
    fill-opacity: .05;
    stroke: #fff;
    shape-rendering: crispEdges;
}

#tree .tree-scale-bar text {
  font: sans-serif;
}

#tree .tree-scale-bar line,
#tree .tree-scale-bar path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#tree .node circle, #tree .node ellipse, #tree .node rect {
fill: steelblue;
stroke: black;
stroke-width: 0.5px;
}

#tree .internal-node circle, #tree .internal-node ellipse, #tree .internal-node rect{
fill: #CCC;
stroke: black;
stroke-width: 0.5px;
}

#tree .node {
font: 10px sans-serif;
}

#tree .node-selected {
fill: #f00 !important;
}

#tree .node-collapsed circle, #tree .node-collapsed ellipse, #tree .node-collapsed rect{
fill: black !important;
}

#tree .node-tagged {
fill: #00f;
}

.branch {
fill: none;
stroke: #999;
stroke-width: 2px;
}

.clade {
fill: #1f77b4;
stroke: #444;
stroke-width: 2px;
opacity: 0.5;
}

.branch-selected {
stroke-width: 3px;
}

.branch-tagged {
stroke: #00f;
stroke-dasharray: 10,5;
stroke-width: 2px;
}

.branch-tracer {
stroke: #bbb;
stroke-dasharray: 3,4;
stroke-width: 1px;
}


.branch-multiple {
stroke-dasharray: 5, 5, 1, 5;
stroke-width: 3px;
}

.branch:hover {
stroke-width: 10px;
}

#tree .internal-node circle:hover, #tree .internal-node ellipse:hover, .internal-node rect:hover {
fill: black;
stroke: #CCC;
}

#tree {
  height: 100%;
  width: 100%;
  margin-top: 50px;
}

#tree_tooltip {
  color: #fff;
  position: absolute;
  padding: 20px;
  max-width: 200px;

  /* need i.e. rule */
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  display: none;
}

#d3v3_layout_phylotree_context_menu{
  padding: 10px;
}

#d3v3_layout_phylotree_context_menu li:hover{
  background: #f8f9fa !important;
}

/* Table */
#table-type-panel{
  width: calc(100% - 100px);
  margin-top:10px;
  margin-left:90px;
}
#table-type-panel .chosen-container{
  margin-left: 8px;
  margin-right: 8px;
  width: auto !important;
}
#table-type-panel .chosen-choices{
  max-height: 30px;
  border-radius: .25rem;
  padding: 2px;
}
#table-type-panel .search-choice{
  background-image: none;
  background-color: #f8f9fa;
}
#table-wrapper{
  height: calc(100% - 60px) !important;
  width: calc(100% - 20px);
  margin: 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

/* Gantt */
#gantt_settings_pane{
  left: 0px;
  display: block;
}

/* Timeline */
#timeline{
  padding-top: 50px;
}
#timeline .axis--grid .domain {
  fill: #ddd;
  stroke: none;
}

#timeline .axis--x .domain,
#timeline .axis--grid .tick line {
  stroke: #fff;
}

#timeline .axis--grid .tick--minor line {
  stroke-opacity: .5;
}
#timeline-date-field{
  width:auto;
}

/* Waterfall View */
#waterfall-view{
  padding: 30px;
}

/* Bubbles View */
#bubble-view circle.selected {
  stroke: #ff8300;
  stroke-width: 4px;
  /* stroke-dasharray: 6, 13;
  animation-duration: 1s;
  animation-name: ripple;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

/* Auditor */
#auditor-panel{
  padding-top: 50px;
}
