/* Global Stuff */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 42px;
  background-color: #f8f9fa;
}
#main_panel {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover, a:focus {
  color: #555;
  text-decoration: none;
}
#export-dm-row{
  display: none;
}
.lm_controls .lm_popout {
  display: none;
}
.view_controls button{
  border: 1px solid #cccccc;
}
.floater{
  border: 1px solid #cccccc;
  border-radius: .25rem;
}
.nodeVariables,
.linkVariables {
  width: 100%;
}
.export_button{
  position:absolute;
  top: 10px;
  left: 62px;
  border: 1px solid #cccccc;
}
svg#link-threshold-sparkline{
  width: 280px;
  height: 48px;
}

/* NAV BAR and Golden Layout */
.dropdown-toggle::after{
  content: none; /* Hides carats */
}
.lm_goldenlayout{
  background: #f8f9fa!important;
}
.lm_content{
  background: #ffffff;
}
.lm_selected .lm_header{
  background: #f8f9fa!important;
}
.lm_tab{
  background-color: #888888;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.lm_tab.lm_active{
  background-color: #ffffff;
  box-shadow: none!important;
}
.tab-pane {
  border: 1px solid #dee2e6;
  border-top: none;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  padding: 15px;
}
button.navbar-toggler{
  font-size:1rem;
}
.showForSequence{
  display: none;
}

/* File Panel */
#file_panel {
  height: 100%;
  padding-top: 15px;
  background-color: #ffffff;
}
#file_panel .row, .col{
  height: 100%;
}
#drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: .25rem;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
  margin: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
}
.file-table-row {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .25rem;
  margin-bottom: 10px;
  background: #f5f5f5;
  padding: 15px;
}
.filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}
.filename span.oi-circle-x:hover {
  color: red;
}
td {
  overflow: hidden;
  text-overflow: ellipsis;
}
.showForMST {
  display: none;
}
#alignerControlsButton {
  display: none;
}
#reference {
  width: 100%;
  height: 606px;
  background-color: #f5f5f5;
  resize: vertical;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}
.bootstrap-filestyle.input-group{
  display: inline;
}
#main-submit {
  display: none;
}
#loadingInformation {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  padding: 10px;
  white-space: pre-line;
}
#loadCancelButton {
  display: none;
}
input[type="range"]{
  width:inherit;
}

/* 2D NETWORK */
#network {
  width: 100%;
  height: 100%;
  background: #ffffff
}
#nodes path {
  cursor: -webkit-grab;
}
#nodes path.selected {
  stroke: #000000;
  stroke-dasharray: 6, 13;
  stroke-width: 2px;
  animation-duration: 1s;
  animation-name: ripple;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes ripple {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 19px;
  }
}
.brush .extent {
  fill-opacity: .1;
  stroke: #ffffff;
  shape-rendering: crispEdges;
}
.btn-default {
  background-color: #f5f5f5;
}
.view_controls {
  position: absolute;
  top: 10px;
  left: 10px;
}
#tooltip {
  position: fixed;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: .25rem;
  padding: .25rem;
  opacity: 0;
  display: block;
  max-width: 160px;
  max-width: 20%;
  max-height: 20%;
  overflow-wrap: break-word;
  overflow-y: auto;
  z-index: 10000;
}
#networkStatistics,
#groupKey {
  position: absolute;
  border-radius: 0.25rem;
  color: #303030;
  background-color: #f5f5f5;
  border: 1px solid #c0c0c0;
}
#groupKey th {
  text-align: center;
}
#groupKey th, td {
  border: 1px solid lightgray;
  padding: 4px;
}
#networkStatistics {
  bottom: 10px;
  right: 20px;
}
#networkStatistics td{
  border: none;
}
#groupKey {
  top: 10px;
  right: 10px;
  z-index: 1000;
}
#groupKey select {
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

/* FLOW DIAGRAM */
#flow_diagram{
  margin: 15px;
  margin-top: 50px;
}
#flow_source_side, #flow_target_side{
  position: absolute;
  top: 10px;
  width: auto;
}
#flow_source_side{
  left: 10px;
}
#flow_target_side{
  right: 10px;
}

/* MAP */

#map_panel{
  width: 100%;
  height: 100%;
  background: #9bbff4;
}
#countries, #states, #counties {
  fill: #bbdaa4;
  stroke: #666666;
}

/* Sequences */
#sequences_panel {
  padding: 15px;
  height: 100%;
  overflow: auto;
}
.smenubar .smenubar_alink {
  border-radius: .25rem !important;
  background-image: none !important;
  border: 1px solid #cccccc !important;
  color: #212529 !important;
  background-color: #f8f9fa !important;
}
.smenubar .smenubar_alink:hover {

}
.smenu-dropdown {
  top: 38px !important;
}

/* Phylogenetic tree */
#phylogenetic_tree_panel #show-length {
  position: absolute;
  top: 10px;
  left: 10px;
}
#phylogenetic_tree_panel .links {
  fill: none;
  stroke: #000;
}
#phylogenetic_tree_panel .link-extensions {
  fill: none;
  stroke: #000;
  stroke-opacity: .25;
}
#phylogenetic_tree_panel .labels {
  font: 10px sans-serif;
}
#phylogenetic_tree_panel .link--active {
  stroke: #000 !important;
  stroke-width: 1.5px;
}
#phylogenetic_tree_panel .link-extension--active {
  stroke-opacity: .6;
}
#phylogenetic_tree_panel .label--active {
  font-weight: bold;
}

/* Table */
#table-type-panel{
  position: absolute;
  top: 10px;
  right: 10px;
}
#table-wrapper{
  position: absolute;
  top: 56px;
  height: calc(100% - 66px);
  width: calc(100% - 30px);
}

/* Timeline */
.vis-timeline{
  border: none!important;
}
.vis-shadow{
  display: none!important;
}
