/* Global Stuff */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 42px;
  background-color: #f8f9fa;
}
.navbar{
  padding: 0.25rem 0.25rem 0 0;
}
#main_panel {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a {
  color: #555;
  text-decoration: none;
}
a:hover, a:focus {
  color: #555;
  text-decoration: none;
}
#export-dm-row{
  display: none;
}
.lm_controls .lm_popout {
  display: none;
}
.view_controls button{
  border: 1px solid #cccccc;
}
.floater{
  border: 1px solid #cccccc;
  border-radius: .25rem;
}
.nodeVariables,
.linkVariables {
  width: 100%;
}
.export_button{
  position:absolute;
  top: 10px;
  left: 62px;
  border: 1px solid #cccccc;
}
svg#link-threshold-sparkline{
  width: 280px;
  height: 48px;
}
.left_pane{
  position: absolute;
  top: 0px;
  left: -400px;
  display: none;
  width: 400px;
  height: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.left_pane .nav{
  padding-top: 40px;
}
.left_pane .active{
  background:#ffffff;
  border-width: 2px;
  border-color: #ffffff #ffffff transparent #ffffff;
}
.left_pane div.tab-content{
  background:#ffffff;
}
.ifOnline{
  display:none;
}

/* NAV BAR and Golden Layout */
.dropdown-toggle::after{
  content: none; /* Hides carats */
}
.lm_goldenlayout{
  background: #f8f9fa!important;
}
.lm_content{
  background: #ffffff;
}
.lm_selected .lm_header{
  background: #f8f9fa!important;
}
.lm_tab{
  background-color: #888888;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.lm_tab.lm_active{
  background-color: #ffffff;
  box-shadow: none!important;
}
.tab-pane {
  border: 2px solid #ffffff;
  border-top: none;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  padding: 15px;
}
button.navbar-toggler{
  font-size:1rem;
}
.showForSequence{
  display: none;
}

/* File Panel */
#file_panel {
  overflow-y: scroll;
  height: calc(100% - 68px);
  padding: 15px;
  background-color: #ffffff;
}
#file_table {
  height: 100%;
  border: 1px dashed lightgray;
  border-radius: 0.25rem;
}
#drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: .25rem;
  -webkit-border-radius: .25rem;
  border-radius: .25rem;
  margin: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
}
.file-table-row {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .25rem;
  margin: 10px;
  background: #f5f5f5;
  padding: 15px;
}
.filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}
.filename span.oi-circle-x:hover {
  color: red;
}
td {
  overflow: hidden;
  text-overflow: ellipsis;
}
.showForMST {
  display: none;
}
#alignerControlsButton {
  display: none;
}
.custom-file-input{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#alignmentPreview{
  min-height: 115px;
  max-height: 200px;
  overflow-x: scroll;
  overflow-y: auto;
}
.bootstrap-filestyle.input-group{
  display: inline;
}
#distanceMetrics_chosen .chosen-choices{
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
#main-submit {
  display: none;
}
#loadingInformation {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  padding: 10px;
  white-space: pre-line;
}
#loadCancelButton {
  display: none;
}
input[type="range"]{
  width:inherit;
}

/* 2D NETWORK */
#nodes path {
  cursor: -webkit-grab;
}
#nodes path.selected {
  stroke: #ff8300;
  stroke-width: 4px;
  /* stroke-dasharray: 6, 13;
  animation-duration: 1s;
  animation-name: ripple;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}
@keyframes ripple {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 19px;
  }
}
.brush .extent {
  fill-opacity: .1;
  stroke: #ffffff;
  shape-rendering: crispEdges;
}
.btn-default {
  background-color: #f5f5f5;
}
.view_controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
#tooltip {
  position: fixed;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: .25rem;
  padding: .25rem;
  opacity: 0;
  display: block;
  max-width: 160px;
  max-width: 20%;
  max-height: 20%;
  overflow-wrap: break-word;
  overflow-y: auto;
  z-index: 10000;
}
#networkStatistics,
#network_group_key {
  position: absolute;
  border-radius: 0.25rem;
  color: #303030;
  background-color: #f5f5f5;
  border: 1px solid #c0c0c0;
}
#network_group_key th {
  text-align: center;
}
#network_group_key th, td {
  border: 1px solid lightgray;
  padding: 4px;
}
#networkStatistics {
  bottom: 10px;
  right: 20px;
}
#networkStatistics td{
  border: none;
}
#network_group_key {
  top: 10px;
  right: 10px;
  z-index: 1000;
}
#network_group_key select {
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

/* 3D Network */
.graph-nav-info{
  display: none;
}

/* FLOW DIAGRAM */
#flow_diagram{
  margin: 15px;
  margin-top: 50px;
}

/* MAP */
#map_panel{
  width: 100%;
  height: 100%;
  background: #d3d9db;
  cursor: -webkit-grab;
}
#map_panel:hover:active{
  cursor: hold;
}
#map{
  background: #d3d9db;
}
#map_group_key {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  border-radius: 0.25rem;
  color: #303030;
  background-color: #f5f5f5;
  border: 1px solid #c0c0c0;
}
#map_group_key th {
  text-align: center;
}
#map_group_key th, td {
  border: 1px solid lightgray;
  padding: 4px;
}
#map_group_key select {
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
#map_nodes circle {
  cursor: -webkit-grab;

}
#map_nodes circle.selected {
  stroke: #ff8300;
  stroke-width: 4px;
  /* stroke-dasharray: 6, 13;
  animation-duration: 1s;
  animation-name: ripple;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

/* Sequences */
#sequences_panel {
  height: 100%;
}
.smenubar{
  position:absolute;
  top: 13px;
  left: 80px;
}
.smenubar .smenubar_alink {
  border-radius: .25rem !important;
  background-image: none !important;
  border: 1px solid #cccccc !important;
  color: #212529 !important;
  background-color: #f8f9fa !important;
  padding: 8px 4px !important;
}
.smenubar .smenubar_alink:hover {

}
.smenu-dropdown {
  top: 38px !important;
}
.biojs_msa_stage{
  position: absolute;
  top: 50px;
}

/* Phylogenetic tree */
#phylogenetic_tree_panel #show-length {
  position: absolute;
  top: 10px;
  left: 10px;
}
#phylogenetic_tree_panel .links {
  fill: none;
  stroke: #000;
}
#phylogenetic_tree_panel .link-extensions {
  fill: none;
  stroke: #000;
  stroke-opacity: .25;
}
#phylogenetic_tree_panel .labels {
  font: 10px sans-serif;
}
#phylogenetic_tree_panel .link--active {
  stroke: #000 !important;
  stroke-width: 1.5px;
}
#phylogenetic_tree_panel .link-extension--active {
  stroke-opacity: .6;
}
#phylogenetic_tree_panel .label--active {
  font-weight: bold;
}

/* Table */
#table-type-panel{
  position: absolute;
  top: 10px;
  left: 85px;
  display: flex;
  z-index: 2;
}
#table-type-panel .chosen-container{
  margin-left: 8px;
}
#table-type-panel ul.chosen-choices{
  border-radius: .25rem;
  padding: 2px;
}
#table-type-panel .search-choice{
  background-image: none;
  background-color: #f8f9fa;
}
#table-wrapper{
  position: absolute;
  top: 56px;
  height: calc(100% - 66px);
  width: calc(100% - 30px);
}

/* Timeline */
#timeline-wrapper{
  padding-top: 50px;
}
