/* Global Stuff */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 42px;
  background-color: #f8f9fa;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.selectable, [type="text"] {
  -webkit-touch-callout: auto; /* iOS Safari */
  -webkit-user-select: auto; /* Safari */
   -khtml-user-select: auto; /* Konqueror HTML */
     -moz-user-select: auto; /* Firefox */
      -ms-user-select: auto; /* Internet Explorer/Edge */
          user-select: auto; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
.navbar{
  padding: 0.25rem 0.25rem 0 0;
}
#main-panel {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
a {
  color: #555555;
  text-decoration: none;
}
a:hover, a:focus {
  color: #555555;
  text-decoration: none;
}
#ie-warning {
  display: none;
}
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
   #ie-warning {
     display: block;
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: lightgray;
     padding: 150px;
     text-align: center;
     z-index: 1000000;
   }
}
#export-dm-row{
  display: none;
}
.lm_controls .lm_popout {
  display: none;
}
.view-controls button{
  border: 1px solid #cccccc;
}
.floater{
  border: 1px solid #cccccc;
  border-radius: .25rem;
}
.nodeVariables,
.linkVariables {
  width: 100%;
}
.export_button{
  position:absolute;
  top: 10px;
  left: 62px;
  border: 1px solid #cccccc;
}
svg#link-threshold-sparkline{
  width: 280px;
  height: 48px;
}
.left-pane{
  position: absolute;
  top: 0px;
  left: -400px;
  display: none;
  width: 400px;
  height: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.left-pane .nav{
  padding-top: 40px;
}
.left-pane .active{
  background:#ffffff;
  border-width: 2px;
  border-color: #ffffff #ffffff transparent #ffffff;
}
.left-pane div.tab-content{
  background:#ffffff;
}
.ifOnline{
  display:none;
}
input[type="number"].custom-select{
  padding-left: .375rem;
  background: #ffffff;
}
#tooltip {
  position: fixed;
  color: #333333;
  background-color: #f8f9fa!important;
  border: 1px solid #cccccc;
  border-radius: .25rem;
  padding: .25rem;
  opacity: 0;
  display: block;
  max-width: 160px;
  max-width: 20%;
  max-height: 20%;
  overflow-wrap: break-word;
  overflow-y: auto;
  z-index: 10000;
}
#group-key-wrapper {
  position:absolute;
  top: 73px;
  right: 10px;
  z-index: 999;
  max-height: 400px;
  overflow-y:scroll;
  border-radius: 0.25rem;
  color: #303030;
  background-color: #f8f9fa!important;
}
#group-key-draghandle {
  display: none;
  width: 100%;
  text-align: center;
}
#group-key th {
  text-align: center;
}
#group-key th, td {
  border: 1px solid lightgray;
  padding: 4px;
}
#network-statistics-wrapper {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 999;
  color: #303030;
  background-color: #f8f9fa!important;
  border: 1px solid #c0c0c0;
  border-radius: 0.25rem;
}
#network-statistics-draghandle {
  display: none;
  width: 100%;
  text-align: center;
}
#network-statistics-wrapper td{
  border: none;
}
#group-key select {
  background: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
label[for="apply-style"]{
  width: calc(100% - 30px);
  margin: 0 15px;
}
.chosen-container-multi .chosen-choices {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  background-image: none !important;
}
.switch {
  font-size: 1rem;
  position: relative;
}
.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}
.switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * .8) * 2);
  border-radius: calc(2.375rem * .8);
  height: calc(2.375rem * .8);
  line-height: calc(2.375rem * .8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
}
.switch input + label::before,
.switch input + label::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375rem * .8) * 2);
  bottom: 0;
  display: block;
}
.switch input + label::before {
  right: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * .8);
  transition: 0.2s all;
}
.switch input + label::after {
  top: 2px;
  left: 2px;
  width: calc(calc(2.375rem * .8) - calc(2px * 2));
  height: calc(calc(2.375rem * .8) - calc(2px * 2));
  border-radius: 50%;
  background-color: white;
  transition: 0.2s all;
}
.switch input:checked + label::before {
  background-color: #08d;
}
.switch input:checked + label::after {
  margin-left: calc(2.375rem * .8);
}
.switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}
.switch input:disabled + label::before {
  background-color: #e9ecef;
}
.switch.switch-sm {
  font-size: 0.875rem;
}
.switch.switch-sm input + label {
  min-width: calc(calc(1.9375rem * .8) * 2);
  height: calc(1.9375rem * .8);
  line-height: calc(1.9375rem * .8);
  text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
}
.switch.switch-sm input + label::before {
  width: calc(calc(1.9375rem * .8) * 2);
}
.switch.switch-sm input + label::after {
  width: calc(calc(1.9375rem * .8) - calc(2px * 2));
  height: calc(calc(1.9375rem * .8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
  margin-left: calc(1.9375rem * .8);
}
.switch.switch-lg {
  font-size: 1.25rem;
}
.switch.switch-lg input + label {
  min-width: calc(calc(3rem * .8) * 2);
  height: calc(3rem * .8);
  line-height: calc(3rem * .8);
  text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
}
.switch.switch-lg input + label::before {
  width: calc(calc(3rem * .8) * 2);
}
.switch.switch-lg input + label::after {
  width: calc(calc(3rem * .8) - calc(2px * 2));
  height: calc(calc(3rem * .8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
  margin-left: calc(3rem * .8);
}
.switch + .switch {
  margin-left: 1rem;
}

/* NAV BAR and Golden Layout */
.dropdown-toggle::after{
  content: none; /* Hides carats */
}
.lm_goldenlayout{
  background: #f8f9fa!important;
}
.lm_content{
  background: #ffffff;
}
.lm_selected .lm_header{
  background: #f8f9fa!important;
}
.lm_tab{
  background-color: #888888;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.lm_tab.lm_active{
  background-color: #ffffff;
  box-shadow: none!important;
}
.tab-pane {
  border: 2px solid #ffffff;
  border-top: none;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  padding: 15px;
}
button.navbar-toggler{
  font-size:1rem;
}
.show-for-seq{
  display: none;
}
label[for="OpenTab"]{
  cursor:pointer;
}

/* File Panel */
#file-panel {
  overflow-y: scroll;
  height: calc(100% - 68px);
  padding: 15px;
  background-color: #ffffff;
}
#file-table {
  height: 100%;
}
#file-prompt{
  text-align: center;
  padding-top: 35%;
}
.file-table-row {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: .25rem;
  margin: 10px 0;
  background: #f8f9fa!important;
  padding: 15px;
}
.file-table-row .btn{
  background-color: #ffffff;
}
.filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
}
.filename span.oi-circle-x:hover {
  color: red;
}
td {
  overflow: hidden;
  text-overflow: ellipsis;
}
.custom-file-input{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#alignment-preview{
  margin: 0 15px;
  padding: 0;
  min-height: 115px;
  max-height: 200px;
  overflow-x: scroll;
  overflow-y: auto;
}
#distance-metrics_chosen .chosen-choices{
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
#loading-information {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  padding: 10px;
  white-space: pre-line;
}
.dna {
  margin: 40px auto;
  width: 360px;
  height: 70px;
  perspective: 466px;
  transform-style: preserve-3d;
}
.ele {
  width: 1px;
  height: 70px;
  float: left;
  margin: 0 8px;
  border-left: 1px #B0B0B0 dashed;
  position: relative;
  transform: rotateX(-360deg);
  animation: run 2s linear infinite;
}
.ele:before, .ele:after {
  content: '';
  width: 10px;
  height: 10px;
  background: deepskyblue;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.ele:before {
  top: -2px;
  background: #000000;
}
.ele:after {
  bottom: -2px;
}
.ele:nth-of-type(1) {
  animation-delay: -0.15s;
}
.ele:nth-of-type(2) {
  animation-delay: -0.3s;
}
.ele:nth-of-type(3) {
  animation-delay: -0.45s;
}
.ele:nth-of-type(4) {
  animation-delay: -0.6s;
}
.ele:nth-of-type(5) {
  animation-delay: -0.75s;
}
.ele:nth-of-type(6) {
  animation-delay: -0.9s;
}
.ele:nth-of-type(7) {
  animation-delay: -1.05s;
}
.ele:nth-of-type(8) {
  animation-delay: -1.2s;
}
.ele:nth-of-type(9) {
  animation-delay: -1.35s;
}
.ele:nth-of-type(10) {
  animation-delay: -1.5s;
}
.ele:nth-of-type(11) {
  animation-delay: -1.65s;
}
.ele:nth-of-type(12) {
  animation-delay: -1.8s;
}
.ele:nth-of-type(13) {
  animation-delay: -1.95s;
}
.ele:nth-of-type(14) {
  animation-delay: -2.1s;
}
.ele:nth-of-type(15) {
  animation-delay: -2.25s;
}
.ele:nth-of-type(16) {
  animation-delay: -2.4s;
}
.ele:nth-of-type(17) {
  animation-delay: -2.55s;
}
.ele:nth-of-type(18) {
  animation-delay: -2.7s;
}
.ele:nth-of-type(19) {
  animation-delay: -2.85s;
}
.ele:nth-of-type(20) {
  animation-delay: -3s;
}

@keyframes run {
  to {
    transform: none;
  }
}
#loadCancelButton {
  display: none;
}
input[type="range"]{
  width:inherit;
}
a.btn, button.btn, .btn-group{
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
#file-footer{
  background: #f8f9fa;
  border-top: 1px solid rgba(0,0,0,.1);
  position:absolute;
  left: 0px;
  bottom: 0px;
  right: 15px;
  z-index: 1030;
}
#global-settings-modal{
  pointer-events: none;
}
#global-settings-modal .modal-content{
  background: rgba(255,255,255,0.8);
}

/* 2D NETWORK */
#network{
  width: 100%;
  height: 100%;
}
.nodes path {
  cursor: -webkit-grab;
}
.nodes path.selected {
  stroke: #ff8300;
  stroke-width: 4px;
}
.brush .extent {
  fill-opacity: .1;
  stroke: #ffffff;
  shape-rendering: crispEdges;
}
.btn-default {
  background-color: #f8f9fa;
}
.view-controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1001;
}
#attributeModal .modal-body{
  max-height: 600px;
  padding: 0;
}
#attributeModal .table{
  font-family: monospace;
  margin: 0;
}
#node-label-row{
  display: none;
}
#link-reciprocalthickness-row{
  display: none;
}

/* 3D Network */
.graph-nav-info{
  display: none;
}

/* FLOW DIAGRAM */
#flow{
  margin: 15px;
  margin-top: 50px;
  height: calc(100% - 65px);
}
#flow-variables{
  padding-left: 0;
}
.flow-items{
  list-style-type: none;
}
.flow-selector{
  width: calc(100% - 47px);
  margin: 5px;
}

/* MAP */
#map{
  width: 100%;
  height: 100%;
  background: #d3d9db;
  cursor: -webkit-grab;
}
#map:hover:active{
  cursor: hold;
}
#map-nodes circle.selected {
  stroke: #ff8300;
  stroke-width: 4px;
  /* stroke-dasharray: 6, 13;
  animation-duration: 1s;
  animation-name: ripple;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}
.leaflet-control-attribution{
  display: none;
}

/* Sequences */
#sequences-panel {
  padding: 10px;
  padding-top: 50px;
  height: 100%;
  cursor: grab;
}

/* Phylogenetic tree */
#tree {
  height: 100%;
  width: 100%;
}

#tree_tooltip {
  color: #fff;
  position: absolute;
  padding: 20px;
  max-width: 200px;

  /* need i.e. rule */
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  display: none;
}

/* Table */
#table-type-panel{
  width: calc(100% - 100px);
  margin-top:10px;
  margin-left:90px;
}
#table-type-panel .chosen-container{
  margin-left: 8px;
  margin-right: 8px;
  width: auto !important;
}
#table-type-panel .chosen-choices{
  max-height: 30px;
  border-radius: .25rem;
  padding: 2px;
}
#table-type-panel .search-choice{
  background-image: none;
  background-color: #f8f9fa;
}
#table-wrapper{
  height: calc(100% - 60px) !important;
  width: calc(100% - 20px);
  margin: 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

/* Gantt */
#gantt-settings-pane{
  left: 0px;
  display: block;
}

/* Timeline */
#timeline{
  padding-top: 50px;
}
#timeline .axis--grid .domain {
  fill: #ddd;
  stroke: none;
}

#timeline .axis--x .domain,
#timeline .axis--grid .tick line {
  stroke: #fff;
}

#timeline .axis--grid .tick--minor line {
  stroke-opacity: .5;
}
#timeline-date-field{
  width:auto;
}

/* Waterfall View */
#waterfall{
  padding: 30px;
  height: 100%;
}
#waterfall h4{
  padding: 0.75rem 1.25rem;
  border: 1px solid lightgray;
  border-radius: .25rem;
  background: white;
  margin-bottom: 0;
}
.hideIfNotActive{
  display: none;
}
.active .hideIfNotActive{
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ellipsisToFit{
  text-overflow: ellipsis;
  display: inline;
  overflow: hidden;
  white-space: nowrap;
}

/* Bubbles View */
#bubble-view circle.selected {
  stroke: #ff8300;
  stroke-width: 4px;
  /* stroke-dasharray: 6, 13;
  animation-duration: 1s;
  animation-name: ripple;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

/* Auditor */
#auditor-panel{
  padding-top: 50px;
}

/* Aggregation */
#aggregation-wrapper{
  height: calc(100% - 60px) !important;
  width: calc(100% - 20px);
  margin: 10px;
  margin-top: 50px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
#aggregate-bins-row{
  display: none;
}
